<cmdb-table
    [items]="failedImports"
    [columns]="columns"
    [sortable]="false"
    [id]="'failed-imports-table'"
    [stateEnabled]="false"
    [searchEnabled]="false"
    [totalItems]="failedImports.length"
    [selectEnabled]="false"
    [loading]="false"
    [paginationEnabled]="false"
    [pageSizeEnabled]="false"
    [toggleable]="false"
/>

<ng-template #errorTemplate let-data="data">
    {{data}}
</ng-template>

<ng-template #objectTemplate let-data="data">
    {{data | json}}
</ng-template>
