<h1>Copy of {{typeInstance?.label}} #{{objectInstance?.public_id}}</h1>
<hr/>
<div id="object-edit" class="card">
  <div class="card-body">
    <form [formGroup]="renderForm" class="renderForm needs-validation" novalidate autocomplete="off"
          (ngSubmit)="copyObject()">
      <cmdb-render [typeInstance]="typeInstance" [objectInstance]="objectInstance" [mode]="mode"
                   [renderForm]="renderForm"></cmdb-render>
      <button type="submit" class="btn btn-outline-success mr-2" [disabled]="!renderForm.valid">Save</button>
      <button class="btn btn-outline-danger"
              routerLink="/framework/object/view/{{objectInstance?.public_id}}">Cancel</button>
    </form>
  </div>
</div>
