<div class="accordion" id="type-builder-validation">
  <div class="card">
    <div class="card-header" id="basic-information">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#basic-information-content">
          Basic Information
        </button>
      </h2>
    </div>
    <div id="basic-information-content" class="collapse show" data-parent="#type-builder-validation">
      <div class="card-body">
        <dl class="row">
          <dt class="col-3">Name</dt>
          <dd class="col-9">{{typeInstance?.name}}</dd>
          <dt class="col-3">Label</dt>
          <dd class="col-9">{{typeInstance?.label}}</dd>
          <dt class="col-3">Description</dt>
          <dd class="col-9">{{typeInstance?.description}}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="field-definitions">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#field-definitions-content">
          Field Definitions
        </button>
      </h2>
    </div>
    <div id="field-definitions-content" class="collapse" data-parent="#type-builder-validation">
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
