<div [formGroup]="form">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Name: <span class="required">*</span></label>
      <input [formControl]="nameControl" (ngModelChange)="onNameChange($event)"
             type="text" class="form-control" name-guideline required
             [ngClass]="{ 'is-valid': nameControl.valid && (nameControl.dirty || nameControl.touched),
                 'is-invalid': nameControl.invalid && (nameControl.dirty || nameControl.touched)}">
      <small class="form-text text-muted">Use a unique field-name</small>
    </div>
    <div class="form-group col-md-12">
      <label>Label: <span class="required">*</span></label>
      <input [(ngModel)]="data.label" [formControl]="labelControl" (ngModelChange)="onLabelChange($event, 'label')"
             type="text" class="form-control" required
             [ngClass]="{ 'is-valid': labelControl.valid && (labelControl.dirty || labelControl.touched),
                 'is-invalid': labelControl.invalid && (labelControl.dirty || labelControl.touched)}">
      <small class="form-text text-muted">a static display name</small>
    </div>
    <div class="form-group col-md-12">
      <label>Reference type: <span class="required">*</span></label>
      <cmdb-type-select [preload]="false" [autoLoad]="false" [loading]="loading"
                        [types]="types" [totalTypes]="totalTypes" [typeControl]="typeControl" [formGroup]="referenceGroup"
                        (loadingStatusEmitter)="triggerAPICall()" (valueChange)="onTypeChange($event)">
      </cmdb-type-select>
    </div>
    <div class="form-group col-md-6 col-sm-12" *ngIf="data.reference.type_id">
      <label>Section: <span class="required">*</span></label>
      <ng-select [items]="typeSections" [searchable]="true" bindLabel="label" (change)="onSectionChange($event)"
                 [formControl]="sectionNameControl" bindValue="name" placeholder="Select a section">
      </ng-select>
      <small class="text-muted">Select a section to display</small>
    </div>
    <div class="form-group col-md-6 col-sm-12" *ngIf="selectedSection">
      <label>Limit section output:</label>
      <ng-select [items]="selectedSection.fields" [multiple]="true" [searchable]="true" [formControl]="selectedFieldsControl"
                 (change)="onSectionFieldsChange($event)" placeholder="Limit to fields">
      </ng-select>
      <small class="text-muted">Leave empty for all fields.</small>
    </div>
  </div>
</div>
