<div [formGroup]="form">
    <div class="row">
        <div class="mb-3 col-md-12">
            <label class="mb-1">Identifier<span class="required">*</span>:</label>
            <div class="input-group">
                <input
                    [formControl]="nameControl"
                    type="text"
                    class="form-control"
                    name-guideline
                    [ngClass]="{ 'is-valid': isIdentifierValid && nameControl.valid && (nameControl.dirty || nameControl.touched),
                     'is-invalid': nameControl.invalid && (nameControl.dirty || nameControl.touched) || !isIdentifierValid}"
                />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="copyIdentifier()" 
                            [disabled]="!nameControl.value" [ngbTooltip]="'Copy identifier'">
                        <fa-icon [icon]="['far', 'copy']"></fa-icon>
                    </button>
                </div>
            </div>
            <small class="form-text text-muted text-start">Use a unique identifier</small>
            <div *ngIf="!isIdentifierValid || (nameControl.invalid && (nameControl.dirty || nameControl.touched))" class="invalid-feedback">
                <div class="text-end" *ngIf="!isIdentifierValid">
                    Identifier must be unique
                </div>
                <div class="text-end" *ngIf="nameControl.errors?.required">
                    Identifier is a required field
                </div>
            </div>
            <!-- <div class="clearfix"></div> -->
        </div>
        <div class="mb-3 col-md-12">
            <label class="mb-1">Label<span class="required">*</span>:</label>
            <input
                [formControl]="labelControl"
                type="text"
                class="form-control"
                [ngClass]="{ 'is-valid': labelControl.valid && (labelControl.dirty || labelControl.touched),
                 'is-invalid': labelControl.invalid && (labelControl.dirty || labelControl.touched)}"
            >
            <small class="form-text text-muted text-start">Static display name</small>
            <div *ngIf="labelControl.invalid && (labelControl.dirty || labelControl.touched)" class="invalid-feedback">
                <div class="text-end" *ngIf="labelControl.errors?.required">
                    Label is a required field
                </div>
            </div>
        </div>
    </div>
</div>
