<section class="mt-3 mb-3">
  <div class="row">
    <form [formGroup]="selectTypeForm" id="type-selection-form" class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="select-all"
                   (change)="selectAll($event.target.checked)">
            <label class="custom-control-label" for="select-all">Choose types to export</label>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" formArrayName="types" *ngFor="let _ of typeArray.controls; let i = index">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="{{typeList[i].name}}" value="test"
                     [formControlName]="i">
              <label class="custom-control-label" for="{{typeList[i].name}}">{{typeList[i].label}}</label>
            </div>
          </li>
        </ul>
      </div>
    </form>
    <div id="type-selected-list" class="col-md-6">
      <div *ngFor="let typeSelected of this.selectTypeForm.getRawValue().types; let i = index">
        <div class="card mb-3" *ngIf="typeSelected">
          <div class="row no-gutters">
            <div class="col-md-12">
              <div class="card-body">
                <h5 class="card-title">{{typeList[i].label}}</h5>
                <p class="card-text">{{typeList[i].description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<button class="btn btn-primary" type="button" (preFinalize)="emitSelection()" awNextStep>Next Step</button>
