<div *permissionLink="'base.isms.impact.view'">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h1>Impacts</h1>
        <button type="button" class="btn btn-sm btn-success" (click)="addImpact()"
            *permissionLink="['base.isms.impact.add']" [disabled]="this.totalImpacts >= 10">
            <i class="fas fa-plus"></i> Add
        </button>
    </div>

    <hr />

    <!--  Warning Alert -->
    @if (this.impacts.length < 3) { <app-warning-alert iconClass="fas fa-info-circle warning-icon"
        title="Insufficient Impacts:" message="You need to define at least 3 Impacts to proceed.">
        </app-warning-alert>
        }

        <!-- Table (cmdb-table) -->
        <cmdb-table [items]="impacts" [columns]="columns" [totalItems]="totalImpacts" [pageSize]="limit" [page]="page"
            [loading]="loading" [loading]="loading" [paginationEnabled]="false" [pageSizeEnabled]="false"
            [searchEnabled]="false" [infoEnabled]="false" (pageChange)="onPageChange($event)"
            (pageSizeChange)="onPageSizeChange($event)">
        </cmdb-table>

</div>
<!-- Actions Template -->
<ng-template #actionsTemplate let-item="item">
    <span *permissionLink="'base.isms.impact.edit'">
        <i class="far fa-edit icon-margin icon-edit spacing-right" (click)="editImpact(item)" title="Edit Impact"></i>
    </span>
    <span *permissionLink="'base.isms.impact.delete'">
        <i class="far fa-trash-alt icon-delete" (click)="deleteImpact(item)" title="Delete Impact"></i>
    </span>
</ng-template>

<app-loading-popup [isVisible]="isLoading$ | async" message="We're Processing the Data..."></app-loading-popup>