<div class="page-header">
  <div class="title-wrapper">
    <div class="title">
      Automations
    </div>
  </div>
  <div class="buttons-wrapper">
    <a class="dg-btn dg-btn-secondary" [routerLink]="['/automations/connectors']">
      <i class="fa-solid fa-plug"></i>
      View Connectors
    </a>
    <a class="dg-btn dg-btn-primary" [routerLink]="['/automations/add']">
      <i class="fa-solid fa-plus"></i>
      Add Automation
    </a>
    
    <a class="dg-btn dg-btn-primary" [routerLink]="['/automations/licenses']">
      <i class="fa-solid fa-plus"></i>
      View licenses
    </a>
  </div>
</div>
