<nav id="navbar-cmdb" class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand" routerLink="/">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/connection">Connect</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="framework-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Framework
        </a>
        <div class="dropdown-menu" aria-labelledby="framework-dropdown">
          <a class="dropdown-item" routerLink="/framework/type">Type list</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/framework/type/add">Type add</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
