#cmdb-object-externals {
  margin-bottom: 15px;
}

.custom-button {
  border: none;
  background-color: transparent;
}

.custom-button:hover {
  background-color: transparent; // Keep the background color transparent on hover
}