# DATAGERRY - OpenSource Enterprise CMDB
# Copyright (C) 2026 becon GmbH
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.

openapi: 3.0.3
info:
    title: DataGerry API
    description: |
        DataGerry Cloud API documentation
        <br><hr><br>
        The API requires **BasicAuth** (Email and Password) and the **API-Key** of the subscription which is provided in the Service Portal.
        <br><br><br>
        The last two sections list all the routes available for the **Cloud version** and those available for the **OnPremise version**
        <br><br><hr>
    version: 3.0.0
    license:
        name: GNU Affero General Public License
        url: https://www.gnu.org/licenses/gpl-3.0

servers:
    - url: https://api.datagerry.com/rest
      description: DataGerry API Entrypoint

tags:
    - name: Objects
      description: API Routes related to **Objects**
    - name: ObjectGroups
      description: API Routes related to **ObjectGroups**
    - name: Types
      description: API Routes related to **Types**
    - name: Categories
      description: API Routes related to **Categories**
    - name: Section Templates
      description: API Routes related to **Section Templates**
    - name: Users
      description: API Routes related to **Users**
    - name: UserGroups
      description: API Routes related to **UserGroups**
    - name: Persons
      description: API Routes related to **Persons**
    - name: PersonGroups
      description: API Routes related to **PersonGroups**
    - name: Relations
      description: API Routes related to **Relations**
    - name: ObjectRelations
      description: API Routes related to **ObjectRelations**
    - name: Webhooks
      description: API Routes related to **Webhooks**
    - name: Reports
      description: API Routes related to **Reports**
    - name: ReportCategories
      description: API Routes related to **ReportCategories**
    - name: Locations
      description: API Routes related to **Locations**
    - name: ISMS-RiskClasses
      description: API Routes related to ISMS **RiskClasses**
    - name: ISMS-Likelihoods
      description: API Routes related to ISMS **Likelihoods**
    - name: ISMS-Impacts
      description: API Routes related to ISMS **Impacts**
    - name: ISMS-ImpactCategories
      description: API Routes related to ISMS **ImpactCategories**
    - name: ISMS-ProtectionGoals
      description: API Routes related to ISMS **ProtectionGoals**
    - name: ISMS-RiskMatrix
      description: API Routes related to ISMS **RiskMatrix**
    - name: ISMS-Risks
      description: API Routes related to ISMS **Risks**
    - name: ISMS-Threats
      description: API Routes related to ISMS **Threats**
    - name: ISMS-Vulnerabilities
      description: API Routes related to ISMS **Vulnerabilities**
    - name: ISMS-Controls
      description: API Routes related to ISMS **Controls**
    - name: ISMS-RiskAssessments
      description: API Routes related to ISMS **RiskAssessments**
    - name: ISMS-ControlAssignments
      description: API Routes related to ISMS **ControlAssignments**
    - name: ExtendableOptions
      description: API Routes related to **ExtendableOptions**

paths:
    /objects:
        $ref: "./paths/objects/objects.yaml"
    /objects/count:
        $ref: "./paths/objects/objects-count.yaml"
    /objects/{public_id}:
        $ref: "./paths/objects/objects-by-id.yaml"
    /objects/native/{public_id}:
        $ref: "./paths/objects/objects-native.yaml"
    /objects/delete/{public_ids}:
        $ref: "./paths/objects/objects-many.yaml"
    /objects/state/{public_id}:
        $ref: "./paths/objects/objects-state.yaml"
    /objects/references/{public_id}:
        $ref: "./paths/objects/objects-references.yaml"
    /object_groups:
        $ref: "./paths/object_groups/object-groups.yaml"
    /object_groups/{public_id}:
        $ref: "./paths/object_groups/object-groups-by-id.yaml"
    /types:
        $ref: "./paths/types/types.yaml"
    /types/{public_id}:
        $ref: "./paths/types/types-by-id.yaml"
    /types/count_objects/{public_id}:
        $ref: "./paths/types/types-counts.yaml"
    /categories:
        $ref: "./paths/categories/categories.yaml"
    /categories/{public_id}:
        $ref: "./paths/categories/categories-by-id.yaml"
    /section_templates:
        $ref: "./paths/section_templates/section-templates.yaml"
    /section_templates/{public_id}:
        $ref: "./paths/section_templates/section-templates-by-id.yaml"
    /users:
        $ref: "./paths/users/users.yaml"
    /users/{public_id}:
        $ref: "./paths/users/users-by-id.yaml"
    /users/{public_id}/password:
        $ref: "./paths/users/users-password.yaml"
    /groups:
        $ref: "./paths/user_groups/user-groups.yaml"
    /groups/{public_id}:
        $ref: "./paths/user_groups/user-groups-by-id.yaml"
    /persons:
        $ref: "./paths/persons/persons.yaml"
    /persons/{public_id}:
        $ref: "./paths/persons/persons-by-id.yaml"
    /person_groups:
        $ref: "./paths/person_groups/person-groups.yaml"
    /person_groups/{public_id}:
        $ref: "./paths/person_groups/person-groups-by-id.yaml"
    /relations:
        $ref: "./paths/relations/relations.yaml"
    /relations/{public_id}:
        $ref: "./paths/relations/relations-by-id.yaml"
    /object_relations:
        $ref: "./paths/object_relations/object-relations.yaml"
    /object_relations/{public_id}:
        $ref: "./paths/object_relations/object-relations-by-id.yaml"
    /webhooks:
        $ref: "./paths/webhooks/webhooks.yaml"
    /webhooks/{public_id}:
        $ref: "./paths/webhooks/webhooks-by-id.yaml"
    /reports:
        $ref: "./paths/reports/reports.yaml"
    /reports/{public_id}:
        $ref: "./paths/reports/reports-by-id.yaml"
    /reports/run/{public_id}:
        $ref: "./paths/reports/reports-run-by-id.yaml"
    /report_categories:
        $ref: "./paths/report_categories/report-categories.yaml"
    /report_categories/{public_id}:
        $ref: "./paths/report_categories/report-categories-by-id.yaml"
    /locations:
        $ref: "./paths/locations/locations.yaml"
    /locations/{public_id}:
        $ref: "./paths/locations/locations-by-id.yaml"
    /locations/{public_id}/object:
        $ref: "./paths/locations/locations-by-id-object.yaml"
    /extendable_options:
        $ref: "./paths/extendable_options/extendable-options.yaml"
    /extendable_options/{public_id}:
        $ref: "./paths/extendable_options/extendable-options-by-id.yaml"
    /isms/risk_classes:
        $ref: "./paths/isms/risk_classes/risk-classes.yaml"
    /isms/risk_classes/{public_id}:
        $ref: "./paths/isms/risk_classes/risk-classes-by-id.yaml"
    /isms/risk_classes/multiple:
        $ref: "./paths/isms/risk_classes/risk-classes-multiple.yaml"
    /isms/likelihoods:
        $ref: "./paths/isms/likelihoods/likelihoods.yaml"
    /isms/likelihoods/{public_id}:
        $ref: "./paths/isms/likelihoods/likelihoods-by-id.yaml"
    /isms/impacts:
        $ref: "./paths/isms/impacts/impacts.yaml"
    /isms/impacts/{public_id}:
        $ref: "./paths/isms/impacts/impacts-by-id.yaml"
    /isms/impact_categories:
        $ref: "./paths/isms/impact_categories/impact-categories.yaml"
    /isms/impact_categories/{public_id}:
        $ref: "./paths/isms/impact_categories/impact-categories-by-id.yaml"
    /isms/impact_categories/multiple:
        $ref: "./paths/isms/impact_categories/impact-categories-multiple.yaml"
    /isms/protection_goals:
        $ref: "./paths/isms/protection_goals/protection-goals.yaml"
    /isms/protection_goals/{public_id}:
        $ref: "./paths/isms/protection_goals/protection-goals-by-id.yaml"
    /isms/risk_matrix/{public_id}:
        $ref: "./paths/isms/risk_matrix/risk-matrix-by-id.yaml"
    /isms/risks:
        $ref: "./paths/isms/risks/risks.yaml"
    /isms/risks/{public_id}:
        $ref: "./paths/isms/risks/risks-by-id.yaml"
    /isms/threats:
        $ref: "./paths/isms/threats/threats.yaml"
    /isms/threats/{public_id}:
        $ref: "./paths/isms/threats/threats-by-id.yaml"
    /isms/vulnerabilities:
        $ref: "./paths/isms/vulnerabilities/vulnerabilities.yaml"
    /isms/vulnerabilities/{public_id}:
        $ref: "./paths/isms/vulnerabilities/vulnerabilities-by-id.yaml"
    /isms/control_measures:
        $ref: "./paths/isms/controls/controls.yaml"
    /isms/control_measures/{public_id}:
        $ref: "./paths/isms/controls/controls-by-id.yaml"
    /isms/risk_assessments:
        $ref: "./paths/isms/risk_assessments/risk-assessments.yaml"
    /isms/risk_assessments/{public_id}:
        $ref: "./paths/isms/risk_assessments/risk-assessments-by-id.yaml"
    /isms/risk_assessments/duplicate/{duplicate_mode}/{public_ids}:
        $ref: "./paths/isms/risk_assessments/risk-assessments-duplicate.yaml"
    /isms/control_measure_assignments:
        $ref: "./paths/isms/control_assignments/control-assignments.yaml"
    /isms/control_measure_assignments/{public_id}:
        $ref: "./paths/isms/control_assignments/control-assignments-by-id.yaml"

components:
    schemas:
        Object:
            $ref: "./components/schemas/CmdbObject.yaml"
        ObjectGroup:
            $ref: "./components/schemas/CmdbObjectGroup.yaml"
        ObjectLink:
            $ref: "./components/schemas/CmdbObjectLink.yaml"
        Category:
            $ref: "./components/schemas/CmdbCategory.yaml"
        Type:
            $ref: "./components/schemas/CmdbType.yaml"
        TypeField:
            $ref: "./components/schemas/CmdbTypeField.yaml"
        TypeRenderMeta:
            $ref: "./components/schemas/CmdbTypeRenderMeta.yaml"
        SectionTemplate:
            $ref: "./components/schemas/CmdbSectionTemplate.yaml"
        MultiDataSection:
            $ref: "./components/schemas/MultiDataSection.yaml"
        User:
            $ref: "./components/schemas/CmdbUser.yaml"
        UserGroup:
            $ref: "./components/schemas/CmdbUserGroup.yaml"
        Person:
            $ref: "./components/schemas/CmdbPerson.yaml"
        PersonGroup:
            $ref: "./components/schemas/CmdbPersonGroup.yaml"
        Relation:
            $ref: "./components/schemas/CmdbRelation.yaml"
        ObjectRelation:
            $ref: "./components/schemas/CmdbObjectRelation.yaml"
        Webhook:
            $ref: "./components/schemas/CmdbWebhook.yaml"
        Report:
            $ref: "./components/schemas/CmdbReport.yaml"
        ReportCategory:
            $ref: "./components/schemas/CmdbReportCategory.yaml"
        Location:
            $ref: "./components/schemas/CmdbLocation.yaml"
        ISMS-RiskClass:
            $ref: "./components/schemas/isms/IsmsRiskClass.yaml"
        ISMS-Likelihood:
            $ref: "./components/schemas/isms/IsmsLikelihood.yaml"
        ISMS-Impact:
            $ref: "./components/schemas/isms/IsmsImpact.yaml"
        ISMS-ImpactCategory:
            $ref: "./components/schemas/isms/IsmsImpactCategory.yaml"
        ISMS-ProtectionGoal:
            $ref: "./components/schemas/isms/IsmsProtectionGoal.yaml"
        ISMS-RiskMatrix:
            $ref: "./components/schemas/isms/IsmsRiskMatrix.yaml"
        ISMS-Risk:
            $ref: "./components/schemas/isms/IsmsRisk.yaml"
        ISMS-Threat:
            $ref: "./components/schemas/isms/IsmsThreat.yaml"
        ISMS-Vulnerability:
            $ref: "./components/schemas/isms/IsmsVulnerability.yaml"
        ISMS-Control:
            $ref: "./components/schemas/isms/IsmsControl.yaml"
        ISMS-RiskAssessment:
            $ref: "./components/schemas/isms/IsmsRiskAssessment.yaml"
        ISMS-ControlAssignment:
            $ref: "./components/schemas/isms/IsmsControlAssignment.yaml"
        CollectionParameters:
            $ref: "./components/schemas/CollectionParameters.yaml"
        ExtendableOption:
            $ref: "./components/schemas/CmdbExtendableOption.yaml"
    securitySchemes:
        $ref: "./components/security.yaml"

security:
    - BasicAuth: []
    - XApiKey: []
