@import "~src/scss/variables";

$qr-borders: (
  all: (size: 2px, style: solid, color: theme-color('secondary'))
) !default;


#cmdb-type-qr{
  svg{
    width: 100%;
  }
  padding: 15px;
  border: $card-border-width solid $card-border-color;
  margin-bottom: 15px;
}
