<dg-modal [icon]="warningIconClass" [title]="title" (dismiss)="cancel()">

    <app-warning-alert [title]="warningTitle" [message]="message" [iconClass]="warningIconClass">
    </app-warning-alert>

    @if (cancelLabel) {
    <app-button dgModalFooter [bootstrapClass]="'btn-secondary'" [label]="cancelLabel" type="button"
        (clicked)="cancel()">
    </app-button>
    }

    @if (confirmLabel) {
    <app-button dgModalFooter [bootstrapClass]="'btn-danger'" [label]="confirmLabel" type="button"
        (clicked)="navigate()">
    </app-button>
    }
</dg-modal>
