<div class="modal-header bg-primary text-white">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="cancel()"></button>
  </div>
  
  <div class="modal-body">
    <app-warning-alert
      [title]="warningTitle"
      [message]="message"
      [iconClass]="warningIconClass">
    </app-warning-alert>
  </div>
  
  <div class="modal-footer">
    <button *ngIf="cancelLabel" type="button" class="btn btn-outline-dark" (click)="cancel()" >{{ cancelLabel }}</button>
    <button *ngIf="confirmLabel" type="button" class="btn btn-danger" (click)="navigate()" >{{ confirmLabel }}</button>
  </div>
  