<div class="actions-div">
    <span>
        <button
            type="button"
            class="btn btn-sm btn-link"
            title="Preview Row"
            (click)="onPreviewRowClicked()"
        >
            <i class="far fa-eye"></i>
        </button>
    </span>

    <span>
        <button
            type="button"
            class="btn btn-sm btn-link"
            title="Edit Row"
            (click)="onEditRowClicked()"
        >
            <i class="fas fa-edit"></i>
        </button>
    </span>

    <span>
        <button
            type="button"
            class="btn btn-sm btn-link"
            title="Delete Row"
            (click)="onDeleteRowClicked()"
        >
            <i class="fas fa-trash-alt"></i>
        </button>
    </span>
</div>