<nav id="breadcrumb" class="d-flex">
  <ol class="breadcrumb flex-fill">
    <li class="breadcrumb-item">
      <a routerLink="">Dashboard</a>
    </li>
    <ng-container *ngFor="let breadcrumb of breadcrumbService.get() | async; let last = last">
      <li *ngIf="breadcrumb.label !== 'Dashboard'"
          [ngClass]="{ 'breadcrumb-item': allowBootstrap, 'list': true, 'active': last }">
        <a *ngIf="!last" [routerLink]="hasParams(breadcrumb)">
          {{breadcrumb.label}}
        </a>
        <span *ngIf="last">{{ breadcrumb.label }}
          <em *ngIf="breadcrumb.queryParams.value" class="text-primary">{{breadcrumb.queryParams.value}}</em>
      </span>
      </li>
    </ng-container>
    <div id="active-switch" class="custom-control custom-switch" data-toggle="tooltip" data-placement="bottom"
         title="Only active objects">
      <input type="checkbox" class="custom-control-input" name="active_cookiee" id="active_cookiee"
             [(ngModel)]="isChecked" (change)="checkState($event)" checked/>
      <label class="custom-control-label" for="active_cookiee"></label>
    </div>
  </ol>
</nav>
