<nav id="breadcrumb" class="d-flex">
  <ol class="breadcrumb flex-fill">
    <li class="breadcrumb-item">
      <a routerLink="">Dashboard</a>
    </li>
    @for (breadcrumb of breadcrumbService.get() | async; track breadcrumb; let last = $last) {

    @if (breadcrumb.label !== 'Dashboard') {
    <li [ngClass]="{ 'breadcrumb-item': allowBootstrap, 'list': true, 'active': last }">
      @if (!last) {
      <a [routerLink]="hasParams(breadcrumb)">
        {{breadcrumb.label}}
      </a>
      }
      @if (last) {
      <span>{{ breadcrumb.label }}
        @if (breadcrumb.queryParams.value) {
        <em class="text-primary">{{breadcrumb.queryParams.value}}</em>
        }
      </span>
      }
    </li>
    }

    }
    <div id="active-switch" class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="bottom"
      title="Only active objects">
      <input type="checkbox" class="form-check-input" name="active_cookiee" id="active_cookiee" [(ngModel)]="isChecked"
        (change)="checkState($event)" checked />
      <label class="form-check-label" for="active_cookiee"></label>
    </div>
  </ol>
</nav>