<div id="intro-steps">
<div class="modal-content">
  <div class="modal-header text-center">
    <img id="login-logo" src="/assets/img/datagerry_logo.svg" class="img-fluid mx-auto d-block card-img-top"
         alt="DATAGERRY"/>
  </div>
  <div class="modal-body">

    <div class="list-group list-group-flush" *ngFor="let step of introInstance | async">
      <div class="card bg-primary text-white border-0 p-0">
        <div class="card-header"> <strong>Step {{step.step}}</strong>
        </div>
        <a class="list-group-item d-flex justify-content-between align-items-baseline text-decoration-none"
           [routerLink]="[step.link]">
          <p class="shorten-long-text text-dark"
             data-toggle="tooltip" title="{{step.label}}"> Create {{step.label}}
          </p>
          <fa-icon [className]="step.state ? 'text-success' : 'text-muted'" icon="{{step.icon}}"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-footer  justify-content-between">
    <button type="button" class="btn btn-light mr-auto" (click)="activeModal.dismiss(false)">SKIP</button>
    <button type="button" class="btn btn-primary" [disabled]="!checkValid()" (click)="activeModal.dismiss(true)">Done</button>
  </div>
</div>
</div>
