<cmdb-table
  class="ipam-supernet-subnet-table"
  [id]="'ipam-supernet-subnet-table'"
  [items]="displayRows"
  [columns]="columns"
  [initialVisibleColumns]="initialVisibleColumns"
  [totalItems]="totalItems"
  [page]="page"
  [pageSize]="pageSize"
  [sort]="sort"
  [loading]="loading"
  [selectEnabled]="false"
  [searchEnabled]="false"
  [paginationEnabled]="true"
  [pageSizeEnabled]="true"
  [toggleable]="false"
  [emptyMessage]="'No subnets to display.'"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
  (sortChange)="onSortChange($event)">
</cmdb-table>

<ng-template #cidrTemplate let-item="item">
  <div class="ipam-tree-cell" [style.padding-left.rem]="searchMode ? 0 : item.depth * 1.5">
    @if (!searchMode && item.subnet?.has_children) {
      <button
        type="button"
        class="ipam-tree-cell__toggle"
        [class.ipam-tree-cell__toggle--expanded]="item.expanded"
        [attr.aria-expanded]="item.expanded"
        [attr.aria-label]="item.expanded ? 'Collapse subnet' : 'Expand subnet'"
        [disabled]="item.loadingChildren"
        (click)="onToggleExpand(item)">
        @if (item.loadingChildren) {
          <span class="ipam-tree-cell__spinner" aria-hidden="true"></span>
        } @else {
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        }
      </button>
    } @else if (!searchMode) {
      <span class="ipam-tree-cell__toggle-placeholder" aria-hidden="true"></span>
    }

    <i
      class="ipam-tree-cell__icon fa"
      [class.fa-folder]="!searchMode && item.subnet?.has_children"
      [class.fa-file-text-o]="searchMode || !item.subnet?.has_children"
      aria-hidden="true">
    </i>

    <span class="ipam-tree-cell__cidr">{{ item.subnet?.cidr }}</span>
  </div>
</ng-template>

<ng-template #usedTemplate let-item="item">
  <span>{{ item.subnet?.used_ips | number }}</span>
</ng-template>

<ng-template #freeTemplate let-item="item">
  <span>{{ item.subnet?.free_ips | number }}</span>
</ng-template>

<ng-template #utilizationTemplate let-item="item">
  <div class="ipam-utilization-cell">
    <app-progress-bar
      class="ipam-utilization-cell__bar"
      [value]="item.subnet?.usage_percent ?? 0"
      [height]="8"
      ariaLabel="Subnet utilization">
    </app-progress-bar>
    <span class="ipam-utilization-cell__value">
      {{ (item.subnet?.usage_percent ?? 0) | number:'1.0-1' }}%
    </span>
  </div>
</ng-template>
