.card-header {
  button {
    padding: 0;
  }
}

.space-bottom {
  margin-bottom: 15px;
}

.scrollable-menu {
  height: auto;
  max-height: 440px;
  overflow-x: hidden;
}

.scrollable-menu>.dropdown-submenu {
  overflow-x: visible;
}

.dropdown-submenu {
  position: relative ;
}

.dropdown-submenu>.dropdown-menu {
  left: 100%;
  margin-left: -50px;
  margin-top: -5px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}

.dropdown-submenu>.dropdown-menu-left {
  left: 0 !important;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
