<div class="container" [formGroup]="riskForm">
  <h2 class="mb-3">
    {{ isEditMode ? 'Edit Risk' : isViewMode ? 'View Risk' : 'Add Risk' }}
  </h2>

  <form autocomplete="off" class="needs-validation" (ngSubmit)="onSave()" [formGroup]="riskForm">

    <!-- Name (Required) -->
    <app-form-input formControlName="name" label="Name:" [required]="true" [errorMessage]="
        hasError('name', 'required')
          ? 'Name is required'
          : ''
      ">
    </app-form-input>

    <!-- Identifier (Optional) -->
    <app-form-input formControlName="identifier" label="Identifier:" [required]="false">
    </app-form-input>

    <!-- Categories with "Manage Categories" -->
    <div class="form-group mt-3">
      <label>Category:</label>
      <div class="d-flex flex-wrap align-items-center gap-2">
        <ng-select [items]="categoryOptions" bindLabel="value" bindValue="public_id" [disabled]="isViewMode"
          placeholder="Select category..." formControlName="category_id" class="flex-grow-1">
        </ng-select>

        <button type="button" class="btn btn-outline-secondary btn-sm" style="padding: 7px;" (click)="openCategoryManager()"
          *ngIf="!isViewMode">
          Manage Categories
        </button>
      </div>
    </div>



    <!-- Risk Type (Radio Buttons) -->
    <div class="form-group mt-3">
      <label>Risk Type:<span class="required">*</span></label>
      <app-radio label="Threat x Vulnerability" [value]="'THREAT_X_VULNERABILITY'" name="riskTypeGroup" id="riskTypeTV"
        formControlName="risk_type"></app-radio>
      <app-radio label="Threat" [value]="'THREAT'" name="riskTypeGroup" id="riskTypeThreat"
        formControlName="risk_type"></app-radio>
      <app-radio label="Event" [value]="'EVENT'" name="riskTypeGroup" id="riskTypeEvent"
        formControlName="risk_type"></app-radio>
    </div>

    <!-- Threats (Multi-select) Shown if risk_type = THREAT_X_VULNERABILITY or THREAT -->
    <div class="form-group mt-3" *ngIf="showThreats()">
      <app-form-select label="Threats:" [items]="threatOptions" bindLabel="name" bindValue="public_id" [multiple]="true" [required]="true"
        placeholder="Select one or more threats..." formControlName="threats"></app-form-select>
    </div>

    <!-- Vulnerabilities (Multi-select) Shown if risk_type = THREAT_X_VULNERABILITY -->
    <div class="form-group mt-3" *ngIf="showVulnerabilities()">
      <app-form-select label="Vulnerabilities:" [items]="vulnerabilityOptions" bindLabel="name" bindValue="public_id" [required]="true"
        [multiple]="true" placeholder="Select one or more vulnerabilities..."
        formControlName="vulnerabilities"></app-form-select>
    </div>


    <!-- Consequences (Textarea) Shown if risk_type = THREAT or EVENT -->
    <app-form-textarea formControlName="consequences" label="Consequences:" [rows]="4" [required]="isEventType()"
      *ngIf="showConsequences()"></app-form-textarea>

    <!-- Description (Textarea) -->
    <app-form-textarea formControlName="description" label="Description:" [rows]="4" [required]="isEventType()">
    </app-form-textarea>

    <!-- Protection Goals (Checkboxes) -->
    <div class="form-group mt-3">
      <label class="mb-2">Affected Protection Goals:</label>
      <div class="d-flex flex-wrap  flex-column">
        <ng-container *ngFor="let pg of protectionGoalOptions">
          <app-checkbox [id]="'pg-' + pg.public_id" [label]="pg.name"
            [checked]="selectedProtectionGoals.includes(pg.public_id)"
            [disabled]="isViewMode"
            (checkedChange)="onProtectionGoalChange(pg.public_id, $event)">
          </app-checkbox>
        </ng-container>
      </div>
    </div>

    <hr>
    <!-- Footer Buttons -->
    <div class="mt-4 d-flex justify-content-between">
      <!-- Cancel Button -->
      <app-button *ngIf="!isViewMode" label="Cancel" type="button" [bootstrapClass]="'btn-secondary me-2'"
        (clicked)="onCancel()"></app-button>

      <!-- Submit Button -->
       <div *permissionLink="['base.isms.risk.add', 'base.isms.risk.edit']">
        <app-button [label]="isEditMode ? 'Save Changes' : 'Create Risk'" type="submit" [bootstrapClass]="'btn-success'"
        *ngIf="!isViewMode" [disabled]="riskForm.invalid"></app-button>
       </div>
    </div>
  </form>

  <div id="object-view-footer" class="col-12" *ngIf="isViewMode">
    <cmdb-risks-footer [riskName]="riskForm.get('name')?.value" [riskId]="risk.public_id"></cmdb-risks-footer>
  </div>
</div>


<app-extendable-option-manager *ngIf="showCategoryManager" [options]="categoryOptions" [optionType]="'RISK'"
  [modalTitle]="'Manage Categories'" [itemLabel]="'Category'" [itemLabelPlural]="'Categories'"
  (close)="closeCategoryManager()">
</app-extendable-option-manager>

<!-- Loading Spinner -->
<app-loading-popup [isVisible]="isLoading$ | async" message="We're Processing the Data...">
</app-loading-popup>