<app-loading-popup [isVisible]="isLoading$ | async" message="Loading ISMS Overview..."></app-loading-popup>

<div class="container">
  <div class="row">
    @for (card of cards; track card) {
    <div class="col-md-3 mb-4">
      <div class="card">
        <a [routerLink]="card.link">
          <div class="dash-card primary" [ngClass]="{ 'greyish': card.validationStatus === false }"
            [attr.title]="card.validationStatus === false ? 'Some error in configuration. Please validate.' : null">
            <i [class]="card.icon"></i>
            <span class="text-title">{{ card.title }}</span>
          </div>
        </a>
      </div>
    </div>
    }
  </div>
</div>