/* Applies only when validationStatus is false */
.dash-card.primary.greyish {
  background-color: #ffe6e6 !important; /* Light red background */
  border-color: #ff9999 !important; /* Light red border */
  color: #ff4d4d !important; /* Red text color */
  cursor: pointer !important;
  opacity: 1; /* Full opacity to avoid disabled look */
  box-shadow: none;

  i {
    color: #ff4d4d !important; /* Red icon color */
  }

  .text-title {
    color: #ff4d4d !important; /* Red text title */
  }

  &:hover {
    background-color: #ffcccc !important; /* Slightly darker red on hover */
  }
}