<div class="card-deck">
    <div class="card">
      <a routerLink="/isms/configure">
        <div class="dash-card primary">
          <i class="far fa-object-ungroup"></i>
          <span class="text-title">Configure ISMS Settings</span>
        </div>
      </a>
    </div>
    <div class="card">
      <a routerLink="/isms/threats">
        <div class="dash-card primary">
          <i class="far fa-object-ungroup"></i>
          <span class="text-title">Threats</span>
        </div>
      </a>
    </div>
  </div>
  