.table {
    margin-top: 20px;
    text-align: left;
  }
  
  .spinner-border {
    margin: 20px auto;
    display: block;
  }
  
  .button-margin{
    margin-bottom: 25px;
  }

  .icon-margin{
    margin-right: 5px;
  }

  .custom-back-button {
    background-color: #e94d18;
    color: white;
  }
  
  .custom-back-button:hover {
    background-color: #d14016; /* Darker shade for hover effect */
  }


  :host ::ng-deep cmdb-table td {
    white-space: pre-wrap;
    word-wrap: break-word;
}
