@if (publicID) {
<div class="d-flex justify-content-center">
  <a *permissionLink="['base.framework.relation.view', 'base.framework.relation.edit']"
     [routerLink]="['/', 'framework', 'relation', 'edit', publicID]"
     title="Edit Relation">
    <i class="far fa-edit icon-margin btn-edit"></i>
  </a>
  <a *permissionLink="'base.framework.relation.delete'"
     [routerLink]="['/', 'framework', 'relation', 'delete', publicID]"
     title="Delete Relation">
    <i class="far fa-trash-alt icon-delete"></i>
  </a>
</div>
}
