
  
  hr {
    margin: 1rem 0;
  }
  
  .margin {
    margin-right: 10px;
}

.custom-back-button {
  margin-top: 15px;
  background-color: #e94d18;
  color: white;
}

.custom-back-button:hover {
  background-color: #d14016; /* Darker shade for hover effect */
}