
 <div class="d-flex justify-content-between align-items-center">
    <h1>Webhook Log Viewer</h1>
  </div>
  <hr />
  
  <cmdb-table
    [items]="logs"
    [columns]="columns"
    [totalItems]="totalLogs"
    [loading]="loading"
    [pageSize]="limit"
    [page]="page"
    [sort]="sort"
    [sortable]="true"
    [searchEnabled]="true"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
    (sortChange)="onSortChange($event)"
    (searchChange)="onSearchChange($event)"
  >
  </cmdb-table>
  
  <!-- Actions Template -->
  <ng-template #actionsTemplate let-item="item">
    <i class="far fa-trash-alt btn-delete" (click)="onDeleteLog(item)"></i>
  </ng-template>
  
