<dg-modal icon="fas fa-circle-question" [title]="title" (dismiss)="activeModal.dismiss('cancel')">

  <div id="confirmation-message" class="confirmation-lead">
    {{ message }}
  </div>

  @if (warningMessage) {
  <app-warning-alert [title]="warningTitle" [message]="warningMessage" [iconClass]="warningIconClass">
  </app-warning-alert>
  }

  <app-button dgModalFooter [bootstrapClass]="'btn-secondary'" [label]="cancelButtonText" type="button"
    (clicked)="activeModal.dismiss()">
  </app-button>

  <app-button dgModalFooter [bootstrapClass]="confirmButtonClass" [label]="confirmButtonText" type="button"
    (clicked)="confirm()">
  </app-button>
</dg-modal>
