[Unit]
Description=DATAGERRY - Enterprise grade OpenSource CMDB
Wants=rabbitmq-server.service mongod.service
Requires=network.target
After=rabbitmq-server.service mongod.service network.target

[Service]
User=datagerry
Group=datagerry
Type=simple
ExecStart=/usr/bin/datagerry -c /etc/datagerry/cmdb.conf -s
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
