[Unit]
Description=dataGerry - Enterprise grade OpenSource CMDB
After=network.target

[Service]
User=datagerry
Group=datagerry
Type=simple
ExecStart=/usr/bin/datagerry -c /etc/datagerry/cmdb.conf -s
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=datagerry.service
