[Unit]
Description=DATAGERRY - Enterprise grade OpenSource CMDB
Wants=mongod.service
Requires=network.target
After=mongod.service network.target

[Service]
User=datagerry
Group=datagerry
Type=simple
ExecStart=/usr/bin/datagerry -c /etc/datagerry/cmdb.conf -s
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
