<div class="form-group row" [formGroup]="parentFormGroup">
  <label class="col-sm-3 col-form-label">
    <i class="fa fa-info-circle" *ngIf="data?.helperText" placement="top" [ngbTooltip]="data?.helperText"></i>
    {{data.label}}: <span class="required" *ngIf="data?.required">*</span>
  </label>
  <div class="col-sm-9">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="{{data.name}}" name="{{data.name}}"
             [formControlName]="data.name">
      <label class="custom-control-label" for="{{data.name}}"></label>
    </div>
    <small class="form-text text-muted">{{data?.description}}</small>
  </div>
</div>
