<div class="form-group mb-2 row" [formGroup]="parentFormGroup">
  <label class="col-sm-3 col-form-label">
    {{data.label}}: <span class="required" *ngIf="data?.required">*</span>
  </label>
  <div class="col-sm-9">
    <div class="input-group input-group-sm ">
      <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="mode == MODES.View">
          <select [formControlName]="data.name" name="{{data.name}}" class="custom-select">
            <option value="{{null}}"></option>
            <option *ngFor="let option of data.options" value="{{option.name}}">{{option.label}}</option>
          </select>
        </ng-container>
        <ng-container *ngSwitchCase="mode == MODES.Create || mode == MODES.Edit || mode == MODES.Bulk">
          <cmdb-object-bulk-input-appends *ngIf="mode == MODES.Bulk" [data]="data" [controller]="controller"
                                          [changeForm]="changeForm"></cmdb-object-bulk-input-appends>
            <select [formControlName]="data.name" name="{{data.name}}" class="custom-select"
                    [ngClass]="{ 'is-valid': controller.valid && (controller.dirty || controller.touched),
                 'is-invalid': controller.invalid && (controller.dirty || controller.touched)}">
              <option value="{{null}}"></option>
              <option *ngFor="let option of data.options" value="{{option.name}}">{{option.label}}</option>
            </select>
            <cmdb-input-appends [data]="data" [mode]="mode" [parentFormGroup]="parentFormGroup"></cmdb-input-appends>
        </ng-container>
        <div *ngSwitchDefault>
          <cmdb-mode-error></cmdb-mode-error>
        </div>
      </ng-container>
      <div *ngIf="controller.invalid && (controller.dirty || controller.touched)" class="invalid-feedback">
        <div class="float-right" *ngIf="controller.errors.required">
          {{data.label}} is a required field.
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <small class="description form-text text-muted">{{data?.description}}</small>
  </div>
</div>
