<div class="mb-3 mb-2 row" [formGroup]="parentFormGroup">
  <label class="col-sm-3 col-form-label">
    {{data.label}}: @if (data?.required) {
    <span class="required">*</span>
    }
  </label>
  <div class="col-sm-9">
    <div class="input-group input-group-sm ">

      @switch (true) {
      @case (mode == MODES.View) {

      <select [formControlName]="data.name" name="{{data.name}}" class="form-select">
        <option value="{{null}}"></option>
        @for (option of data.options; track option) {
        <option value="{{option.name}}">{{option.label}}</option>
        }
      </select>

      }
      @case (mode == MODES.Create || mode == MODES.Edit || mode == MODES.Bulk) {

      @if (mode == MODES.Bulk) {
      <cmdb-object-bulk-input-appends [data]="data" [controller]="controller"
        [changeForm]="changeForm"></cmdb-object-bulk-input-appends>
      }
      <select [formControlName]="data.name" name="{{data.name}}" class="form-select" [ngClass]="{ 'is-valid': controller.valid && (controller.dirty || controller.touched),
                 'is-invalid': controller.invalid && (controller.dirty || controller.touched)}">
        <option value="{{null}}"></option>
        @for (option of data.options; track option) {
        <option value="{{option.name}}">{{option.label}}</option>
        }
      </select>
      <cmdb-input-appends [data]="data" [mode]="mode" [parentFormGroup]="parentFormGroup"></cmdb-input-appends>

      }
      @default {
      <div>
        <cmdb-mode-error></cmdb-mode-error>
      </div>
      }
      }

      @if (controller.invalid && (controller.dirty || controller.touched)) {
      <div class="invalid-feedback">
        @if (controller.errors.required) {
        <div class="text-end">
          {{data.label}} is a required field.
        </div>
        }
        <div class="clearfix"></div>
      </div>
      }
    </div>
    <small class="description form-text text-muted">{{data?.description}}</small>
  </div>
</div>