<div id="object-footer" class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#logs" role="tab">Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#reference" role="tab">Referenced by</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#connections" role="tab">Connected with</a>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <div class="tab-pane fade show active" id="logs" role="tabpanel">
      <div class="alert alert-info" role="alert">
        Not implemented yet
      </div>
    </div>
    <div class="tab-pane fade" id="reference" role="tabpanel">
      <div class="alert alert-info" role="alert">
        Not implemented yet
      </div>
    </div>
    <div class="tab-pane fade" id="connections" role="tabpanel">
      <cmdb-object-links [partnerID]="publicID"></cmdb-object-links>
    </div>
  </div>
</div>
