
<div class="card-deck">
  <div class="card">
    <a routerLink="/info/about/">
      <div class="dash-card primary">
        <img src="/assets/img/RZ_Datagerry_RGB_w.svg" class="sub-img-about" alt="DATAGERRY"/>
        <span class="count-numbers">About</span>
        <span class="count-name">US</span>
      </div>
    </a>
  </div>
  <div class="card">
    <a routerLink="/info/license/">
      <div class="dash-card primary">
        <i class="fas fa-lock-open"></i>
        <span class="count-numbers">License</span>
        <span class="count-name">OpenSource (AGPLv3)</span>
      </div>
    </a>
  </div>
</div>
