alabaster==0.7.13
altgraph==0.17.3
astroid==2.15.5
attrs==23.1.0
Authlib==1.2.1
Babel==2.12.1
blinker==1.6.2
Cerberus==1.3.4
certifi==2023.5.7
cffi==1.14.3
chardet==5.1.0
click==8.1.3
coverage==7.2.7
cryptography==41.0.1
docutils==0.20.1
et-xmlfile==1.1.0
flake8==6.0.0
Flask==2.3.2
Flask-Cors==4.0.0
gunicorn==20.1.0
html5lib==1.1
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
jdcal==1.4.1
Jinja2==3.1.2
lazy-object-proxy==1.9.0
ldap3==2.9.1
MarkupSafe==2.1.3
mccabe==0.7.0
openpyxl==3.1.2
packaging==23.1
pika==0.12.0
Pillow==10.0.0
pluggy==1.2.0
py==1.11.0
pyasn1==0.5.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.18.0
pyflakes==3.0.1
Pygments==2.15.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.4
pylint==2.17.4
pymongo==3.11.2
PyMySQL==1.1.0
pyOpenSSL==23.2.0
pyparsing==3.1.0
PyPDF2==3.0.1
pytest==7.4.0
pytest-cov==4.1.0
pytest-html==3.2.0
pytest-metadata==3.0.0
python-dateutil==2.8.2
pytz==2023.3
reportlab==3.6.13
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
urllib3==2.0.3
webencodings==0.5.1
Werkzeug==2.3.6
wrapt==1.15.0
xhtml2pdf==0.2.11
