asn1crypto==0.24.0
cffi==1.12.2
Click==7.0
cryptography==2.6.1
Faker==1.0.4
Flask==1.0.2
Flask-Caching==1.7.0
Flask-Cors==3.0.7
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
jwcrypto==0.6.0
MarkupSafe==1.1.1
pika==0.12.0
pycparser==2.19
pycryptodome==3.8.1
pymongo==3.7.2
python-dateutil==2.8.0
redis==3.2.1
six==1.12.0
termcolor==1.1.0
text-unidecode==1.2
Werkzeug==0.15.2
