asn1crypto==0.24.0
attrs==18.1.0
cffi==1.11.5
click==6.7
cryptography==2.2.2
Flask==1.0.2
gunicorn==19.8.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jwcrypto==0.4.2
MarkupSafe==1.0
more-itertools==4.1.0
pluggy==0.6.0
py==1.5.3
pycparser==2.18
pycrypto==2.6.1
pycryptodomex==3.6.1
pymongo==3.6.1
pytest==3.5.1
six==1.11.0
Werkzeug==0.14.1
