alabaster==0.7.16
altgraph==0.17.4
astroid==3.1.0
Authlib==1.2.1
Babel==2.14.0
blinker==1.7.0
Cerberus==1.3.5
certifi==2024.2.2
cffi==1.16.0
click==8.1.7
coverage==7.3.2
cryptography==41.0.5
deepdiff==6.7.1
docutils==0.20.1
et-xmlfile==1.1.0
flake8==6.1.0
Flask==3.0.0
Flask-Cors==4.0.0
gunicorn==21.2.0
html5lib==1.1
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.3
lazy-object-proxy==1.9.0
ldap3==2.9.1
MarkupSafe==2.1.3
mccabe==0.7.0
openpyxl==3.1.2
packaging==23.2
pika==0.12.0
Pillow==10.2.0
pluggy==1.3.0
pyasn1==0.5.0
pycairo==1.25.1
pycodestyle==2.11.1
pycparser==2.21
pycryptodome==3.19.1
pyflakes==3.1.0
Pygments==2.16.1
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pylint==3.1.0
pymongo==4.6.0
PyMySQL==1.1.0
pyOpenSSL==23.3.0
pytest==7.4.3
pytest-cov==4.1.0
pytest-html==4.1.1
pytest-metadata==3.0.0
python-dateutil==2.8.2
reportlab==4.0.7
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
urllib3==2.0.7
webencodings==0.5.1
Werkzeug==3.0.1
xhtml2pdf==0.2.13
