<h1>Right List</h1>
<hr/>
<div class="row">
  <div class="col-md-9">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Label</th>
        <th>Description</th>
        <th>Level</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let right of rightList" >
        <th scope="col" [className]="right.is_master ? 'table-success' : ''">{{right.name}}</th>
        <td>{{right.label}}</td>
        <td>{{right.description}}</td>
        <td [level]="right.level" classPrefix="table-" rightLevelColor>{{right.level}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
