@import 'src/scss/variables';

a {
  color: #000000;
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  &:hover{
    > i{
      color: theme-color('primary');
    }
  }
}

::ng-deep ngb-modal-backdrop {
  z-index: 100 !important;
}