<cmdb-content-header
  title="Export Types">
</cmdb-content-header>

<form [formGroup]="formExport" (ngSubmit)="export()">
  <div class="card">
    <div class="card-body">
      <app-form-select label="Select Types"
                       placeholder="Choose one or more types"
                       [items]="typeOptions"
                       bindLabel="label"
                       bindValue="public_id"
                       [multiple]="true"
                       [enableSelectAll]="true"
                       [required]="true"
                       formControlName="types">
      </app-form-select>

      <!-- error block -->
      @if (isSubmitted && types.errors?.required) {
      <div class="cross-validation-error-message alert alert-danger">
        Please select at least one type
      </div>
      }

      <app-form-select label="Output format"
                       placeholder="Choose your option"
                       [items]="formatList"
                       bindLabel="label"
                       bindValue="id"
                       [required]="true"
                       formControlName="format">
      </app-form-select>

      <!-- error block -->
      @if (isSubmitted && format.errors?.required) {
      <div class="cross-validation-error-message alert alert-danger">
        Please enter format
      </div>
      }

      <button type="button" class="btn btn-success text-end"
              (click)="this.export()"
              [disabled]="!formExport.valid">Go!</button>
    </div>
  </div>
</form>


<app-loading-popup
  [isVisible]="isLoading$ | async"
  message="We're Processing the Data..."
></app-loading-popup>
