<div class="card-group float-right">
      <div class="btn-group" *permissionLink="'base.export.object.*'">
        <button type="button" id="exportButton" class="btn btn-warning btn-sm dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <fa-icon icon="file-export"></fa-icon> Export
        </button>
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="exportButton">
          <li *ngFor="let item of formatList" id="export-{{item.extension}}"
              [className]="item.active && referenceList?.length > 0 ? 'dropdown-item' : 'dropdown-item disabled'"
              (click)="exportingFiles(item)"
              [ngbTooltip]="item.helperText">
            <fa-icon icon="{{item.icon}}"></fa-icon> {{item.label}}
            <span *ngIf="referenceList"> ( {{referenceList.length}} )</span>
          </li>
        </ul>
      </div>
  </div>

<div class="clearfix"></div>

<cmdb-table [items]="referenceList" [totalItems]="referenceList.length" [columns]="columns" [sort]="sort"
            [sortable]="true" [page]="page" [rowClasses]="['align-middle']" [pageSize]="limit" [id]="'object-reference-table'"
            [loading]="loading" [emptyMessage]="'No References to this object'"
            (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"
            (sortChange)="onSortChange($event)" (searchChange)="onSearchChange($event)">
</cmdb-table>


<ng-template #objectTemplate let-data="data">
  {{data}}
</ng-template>
<ng-template #typeTemplate let-data="data">
  <a routerLink="/framework/object/type/{{data.type_id}}">
    {{data.type_label}}
  </a>
</ng-template>
<ng-template #summaryTemplate let-item="item">
  <i class="{{item?.type_information?.icon}}"></i> {{item?.type_information?.type_label}}
  #{{item?.object_information?.object_id}}
  <span *ngFor="let sum of item?.summaries; let last = last; let first = first">
        <ng-template [ngIf]="sum.type != 'date'" [ngIfElse]="templateDate">
            <span *ngIf="first"> - </span>{{sum.value}}
        </ng-template>
        <ng-template #templateDate>
            <span *ngIf="first"> - </span>{{(sum.value && sum.value.$date)? (sum.value.$date | date:"dd/MM/yyyy") : " - "}}
        </ng-template>
        <span *ngIf="!last"> | </span>
      </span>
</ng-template>
<ng-template #linkTemplate let-data="data">
  <a class="table-center" routerLink="/framework/object/view/{{data}}">
    <i class="far fa-arrow-alt-circle-right"></i>
  </a>
</ng-template>
