<div id="object-footer" class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#reference" role="tab">Referenced by</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#logs" role="tab">Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#connections" role="tab">Connections/Links</a>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <div class="tab-pane fade show active" id="reference" role="tabpanel">
      <cmdb-object-references-table [publicID]="objectID"></cmdb-object-references-table>
    </div>
    <div class="tab-pane fade" id="logs" role="tabpanel">
      <cmdb-object-log-list [publicID]="objectID"></cmdb-object-log-list>
    </div>
    <div class="tab-pane fade" id="connections" role="tabpanel">
      <cmdb-object-links [objectID]="objectID" [renderResult]="renderResult"></cmdb-object-links>
    </div>
  </div>
</div>
