<div id="object-footer" class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#object-tab-reference" role="tab">Referenced by</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#object-tab-logs" role="tab">Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#object-tab-links" role="tab">Links</a>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <div class="tab-pane fade show active" id="object-tab-reference" role="tabpanel">
      <cmdb-object-references-table [publicID]="objectID"></cmdb-object-references-table>
    </div>
    <div class="tab-pane fade" id="object-tab-logs" role="tabpanel">
      <cmdb-object-log-list [publicID]="objectID"></cmdb-object-log-list>
    </div>
    <div class="tab-pane fade" id="object-tab-links" role="tabpanel">
      <cmdb-object-links-table [object]="renderResult" [acl]="renderResult.type_information.acl">

      </cmdb-object-links-table>
    </div>
  </div>
</div>
