@import './src/scss/variables';

#uploadfileform {
  .uploadfilestart, .uploadfiledone{
    background: None;
    border: 2px dashed $gray-400;
    border-radius: 5px;
  }

  .uploadfilestart:hover, .uploadfiledone:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.02);
  }

  .uploadfiledone {
    border: 2px dashed green;
  }
}
