<div class="card">
  @if (cardHeader) {
  <div class="card-header">{{cardHeader}}</div>
  }
  @if (securityLevels) {
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        NOTSET <span class="badge bg-primary text-end">{{getLevel('NOTSET')}}</span>
      </li>
      <li class="list-group-item">
        PERMISSION <span class="badge bg-primary text-end">{{getLevel('PERMISSION')}}</span>
      </li>
      <li class="list-group-item">
        PROTECTED <span class="badge bg-primary text-end">{{getLevel('PROTECTED')}}</span>
      </li>
      <li class="list-group-item">
        SECURE <span class="badge bg-primary text-end">{{getLevel('SECURE')}}</span>
      </li>
      <li class="list-group-item">
        DANGER <span class="badge bg-primary text-end">{{getLevel('DANGER')}}</span>
      </li>
      <li class="list-group-item">
        CRITICAL <span class="badge bg-primary text-end">{{getLevel('CRITICAL')}}</span>
      </li>
    </ul>
  </div>
  }
  @if (securityLevels) {
  <div class="card-footer">
    There are {{securityLevels.length}} security levels defined
  </div>
  }
</div>