<div class="container-fluid border fileExplorer">
  <div class="row">
    <div class="col-12 bg-light p-2 border-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3 m-0 p-0">
            <!-- Folder Settings -->
            <button type="button" class="btn btn-sm btn-success mr-2" (click)="addFolder()">
              <i class="fas fa-folder"></i> New Folder
            </button>
            <button type="button" class="btn btn-sm btn-secondary mr-2" (click)="uploadFile()">
              <i class="fas fa-upload"></i> Upload
            </button>
          </div>
          <div class="col-6 m-0 p-0">
            <!-- File Settings -->
            <button type="button" class="btn btn-sm btn-secondary mr-2"
                    (click)="renameFile(selectedFileElements.files[0])"
                    [disabled]="selectedFileElements.files.length != 1">
              <i class="fa fa-edit mr-1" title="move to"></i>
              Rename ({{this.selectedFileElements.files.length}})
            </button>
            <button type="button" class="btn btn-sm btn-secondary mr-2"
                    (click)="moveFiles(selectedFileElements.files)"
                    [disabled]="selectedFileElements.files.length == 0">
              <i class="fas fa-expand-arrows-alt mr-1" title="move to"></i>
              Move ({{this.selectedFileElements.files.length}})
            </button>
            <button type="button" class="btn btn-sm btn-danger"
                    (click)="deleteFiles(selectedFileElements.files)"
                    [disabled]="selectedFileElements.files.length == 0">
              <i class="far fa-trash-alt" title="delete"></i>
              Delete ({{this.selectedFileElements.files.length}})
            </button>
          </div>
          <div class="col-3 text-right">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-light mr-2" (click)="listView = !listView">
                <i [className]="listView ? 'fas fa-th-large' : 'fas fa-th-list'"></i>
              </button>
              <button type="button" class="btn btn-sm btn-light"
                      (click)="showMetadataInfo(selectedFileElements.files[0])"
                      [disabled]="selectedFileElements.files.length!=1">
                <i class="fas fa-info-circle"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 border-right p-3 pre-scrollable" style="min-height: 437px">
      <cmdb-folder-tree [fileTree]="fileTree"
                        [selectedFileFolder]="selectedFolderElement"
                        (createFileElementEvent)="addFolder()"
                        (renameFileElementEvent)="renameFile()"
                        (moveFileElementEvent)="moveFile()"
                        (deleteFileElementEvent)="deleteFile($event)"
                        (loadFileElementEvent)="loadFiles()">
      </cmdb-folder-tree>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 p-2 d-flex justify-content-between align-items-center border-bottom">
          <span class="col-9">
            <ng-container *ngIf="searchForm.get('search').value;then showPath; else defaultPhatView"></ng-container>
            <ng-template #showPath>
              <i class="fas fa-caret-right"></i>
            </ng-template>
            <ng-template #defaultPhatView>
              <cmdb-folder-path-viewer [selectedFileFolder]="selectedFolderElement"
                                       [folderTree]="fileTree"></cmdb-folder-path-viewer>
            </ng-template>
          </span>
          <form [formGroup]="searchForm">
            <input type="text" formControlName="search" class="form-control form-control-sm" placeholder="Filter File">
          </form>
        </div>
        <div id="file-view-list" class="col-12 p-0" (scroll)="onScrollHost($event)">
          <cmdb-file-view-list [fileElements]="fileElements"
                               [listView]="listView"
                               [selectedFiles]="selectedFileElements"
                               (loadFileElementEvent)="loadFiles($event, false)"></cmdb-file-view-list>
        </div>
      </div>
    </div>
    <div class="col-12 bg-light p-2 border">
      <div class="d-flex justify-content-between">
        <span><strong>File(s):</strong> {{recordsTotal}}</span>
        <span><strong>Selected File(s):</strong> {{selectedFileElements.files.length}}</span>
        <span><strong>Size:</strong> {{selectedFileElements.totalSize | fileSize}}</span>
      </div>
    </div>
  </div>
</div>
