<div class="container-fluid border fileExplorer">
  <div class="row">
    <div class="col-12 bg-light p-2 border-bottom">
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with action buttons">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-sm btn-success mr-2" (click)="addFolder()">
            <i class="fas fa-folder"></i> New Folder
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="uploadFile()">
            <i class="fas fa-upload"></i> Upload
          </button>
        </div>
        <div class="input-group">
          <button type="button" class="btn btn-sm btn-light mr-2"><i class="fas fa-list"></i></button>
          <button type="button" class="btn btn-sm btn-light"><i class="fas fa-info-circle"></i></button>
        </div>
      </div>
    </div>
    <div class="col-3 border-right p-3 pre-scrollable" style="min-height: 437px">
      <cmdb-folder-tree [fileTree]="fileTree"
                        [selectedFileFolder]="selectedFolderElement"
                        (createFileElementEvent)="addFolder()"
                        (renameFileElementEvent)="renameFile()"
                        (moveFileElementEvent)="moveFile()"
                        (deleteFileElementEvent)="deleteFiles($event)"
                        (loadFileElementEvent)="loadFiles()">
      </cmdb-folder-tree>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 p-2 d-flex justify-content-between align-items-center">
          <span class="col-9">
            <cmdb-folder-path-viewer [selectedFileFolder]="selectedFolderElement"
                                     [folderTree]="fileTree"></cmdb-folder-path-viewer>
          </span>
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Search Collection">
            <div class="input-group-append">
              <button class="btn btn-sm" type="button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div id="file-view-list" class="col-12 p-0" (scroll)="onScrollHost($event)">
          <cmdb-file-view-list [fileElements]="fileElements"
                               (loadFileElementEvent)="loadFiles($event, false)"></cmdb-file-view-list>
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="mockups()">mockups</button>
