@if (refData) {
<span>
  @if (!refData?.reference.line) {
  <i class="{{refData?.reference?.icon}}"></i> {{refData?.reference?.type_label}} #{{refData?.value}}
  @for (sum of refData?.reference.summaries; track sum; let last = $last; let first = $first) {
  <span>
    @if (first) {
    <span> - </span>
    }{{sum.value ? (sum.value) : 'None'}}
    @if (!last) {
    <span> | </span>
    }
  </span>
  }
  } @else {
  @if (refData?.reference?.prefix) {
  <i class="{{refData?.reference?.icon}}"></i> {{refData?.reference?.type_label}} #{{refData?.reference?.type_id}}
  }
  <span>{{refData?.reference?.line}}</span>
  }
</span>
} @else {
<span>No reference set</span>
}