@if (data && data.value) {
<span>
  <i class="{{data?.references?.type_icon}}"></i> #{{data.value}}: {{data.references?.type_label}}

  @for (field of data?.references?.fields; track field; let last = $last; let first = $first) {
  <span>
    @if (field.type != 'date') {

    @if (first) {
    <span> - </span>
    }{{field.label}}: <i>{{field.value ? field.value : 'None'}}</i>

    } @else {

    @if (first) {
    <span> - </span>
    }{{field.label}}: <i>{{(field.value !== 'None') ? (field.value | dateFormatter) : ''}}</i>

    }

    @if (!last) {
    <span> | </span>
    }
  </span>
  }
</span>
} @else {

<span>No reference set</span>

}