{% extends 'layout.html' %}
{% block title %}Type edit {{type.get_name()}}{% endblock %}
{% block navigation %}
{% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
{% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        {{ super() }}
        <h1>Edit: {{ type.get_label() }}</h1>
        <hr/>
        <div class="wizard">
            <ul>
                <li><a href="#basic">Basic<br/>
                    <small>Generally informations</small>
                </a></li>
                <li><a href="#fields">Fields<br/>
                    <small>Type structure</small>
                </a></li>
                <li><a href="#settings">Settings<br/>
                    <small>Group and Type settings</small>
                </a></li>
                <li><a href="#verify">Verify<br/>
                    <small>Check all informations</small>
                </a></li>
            </ul>
            <div>
                <div id="basic" class="step-1">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" name="name" value="{{type.get_name()}}" type="text" class="form-control"
                               required="required">
                        <span id="nameHelpBlock" class="form-text text-muted">Type name</span>
                    </div>
                    <div class="form-group">
                        <label for="label">Label</label>
                        <input id="label" name="label" value="{{type.get_label()}}" type="text" class="form-control">
                        <span id="labelHelpBlock" class="form-text text-muted">Type label</span>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" cols="40" rows="5"
                                  class="form-control">{{type.get_description()}}</textarea>
                    </div>
                </div>
                <div id="fields" class="step-2">
                    <div id="type-field-editor"></div>
                </div>
                <div id="settings" class="step-3">
                    <div class="form-group">
                        <label for="user-groups-select">User Groups</label>
                        <select multiple class="form-control" id="user-groups-select">
                            <option>1</option>
                        </select>
                    </div>

                </div>
                <div id="verify" class="step-4">
                    Step Content
                </div>
            </div>
        </div>
        <script>
            var btnFinish = $('<button></button>').text('Finish')
                .addClass('btn btn-info')
                .on('click', function () {
                    alert('Finish Clicked');
                });
            $('.wizard').wizard({
                selected: 0,
                theme: 'dots',
                transitionEffect: 'fade',
                toolbarSettings: {
                    toolbarPosition: 'bottom',
                    toolbarExtraButtons: [btnFinish]
                },
                useURLhash: false,
                showStepURLhash: false
            });

        </script>
        {{ type }}
    </div>
</div>
{% endblock %}