{% extends 'layout.html' %}
{% from "includes/_render_macros.html" import render_summary with context %}
{% from "includes/_render_table_macros.html" import render_table with context %}
{% block title %}Objects of type {{ selected_type.get_label() }}{% endblock %}
{% block navigation %}
    {% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>List of objects from type: {{ selected_type.get_label() }}</h1>
                <hr/>
                {% if object_list | length > 0 %}
                {% set _table_content %}
                {% for current_render in object_list %}
                    <tr>
                        <td>{{ current_render.object_instance.active | label_active }}</td>
                        <td>
                            <a href="/object/{{ current_render.object_instance.public_id }}">
                                {{ current_render.object_instance.public_id }}
                            </a>
                        </td>
                        <td>
                            <a href="/type/{{ current_render.type_instance.get_public_id() }}">
                                {{ current_render.type_instance.get_label() }}
                            </a>
                        </td>
                        {% for summary in  current_render.get_summaries() %}
                            <td>{{ render_summary(summary) }}</td>
                        {% endfor %}
                        <td>{{ current_render.object_instance.version }}</td>
                        <td>{{ current_render.object_instance.author_id }}</td>
                        <td>{{ current_render.object_instance.creation_time | encode_date }}</td>
                    </tr>
                {% endfor %}
                {% endset %}

                {% set headline =  ["Active", "Public ID", "Type", "Version", "Author", "Creation time"] %}
                {% if selected_type.has_summaries() %}
                    {% set sum_fields = selected_type.get_summaries() %}
                {% endif %}
                {{ render_table(headlines=headline, content=_table_content, data_order='[[ 6, "desc" ]]', summary_inject=sum_fields) }}

                {% else %}
                <div class="alert alert-warning" role="alert">
                    No objects exist.
                </div>
                {% endif %}
            </div>
        </div>

        {{ super() }}
    </div>
</div>
{% endblock %}
{% if mode == 'DEBUG' %}
    {% block debug %}
    {% endblock %}
{% endif %}