<div id="object-header" class="card">
  <div class="card-header d-flex justify-content-between">
    <div>
      <div id="object-view-active" *permissionLink="'base.framework.object.edit'"
           class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-cmdb-primary btn-sm" (click)="onActiveChange(true)">
          <input type="radio" name="on" id="activeState" autocomplete="off"> Active
        </label>
        <label class="btn btn-outline-cmdb-primary btn-sm active" (click)="onActiveChange(undefined)">
          <input type="radio" name="n/a" id="undefinedState" autocomplete="off" checked> N/A
        </label>
        <label class="btn btn-outline-cmdb-primary btn-sm" (click)="onActiveChange(false)">
          <input type="radio" name="off" id="inactiveState" autocomplete="off"> Inactive
        </label>
      </div>
    </div>
    <div id="object-view-title">
      <cmdb-active-badge [activeStatus]="activeState"></cmdb-active-badge>
      {{type.label}}
    </div>
    <div id="object-view-version"></div>
  </div>
  <div class="card-body">
    <form [formGroup]="renderForm" class="renderForm needs-validation" novalidate autocomplete="off">
      <cmdb-render [mode]="mode" [renderForm]="renderForm" [changeForm]="changeForm"
                   [typeInstance]="type"></cmdb-render>
    </form>
  </div>
</div>
<br>
