<dg-modal
    icon="far fa-folder"
    eyebrow="Attachments"
    title="File Explorer"
    [scrollBody]="false"
    (dismiss)="activeModal.close(true)">

    <cmdb-fileexplorer
        class="filemanager-explorer"
        [localMetadata]="localMetadata"
        [selectedFileElements]="selectedFileElements">
    </cmdb-fileexplorer>

    <app-button
        dgModalFooter
        bootstrapClass="btn-primary"
        label="Done"
        type="button"
        (clicked)="postFileOnDone()">
    </app-button>
</dg-modal>
