<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="far fa-folder"></i><span class="mx-3">File Explorer</span>
    </h4>
    <button type="button" class="close" (click)="activeModal.close(true)" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <cmdb-fileexplorer [localMetadata]="localMetadata" [selectedFileElements]="selectedFileElements"></cmdb-fileexplorer>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="postFileOnDone()">Done</button>
  </div>
</div>

