<div class="modal-header" style="background-color: #e94d18; color: white;">
  <h4 class="modal-title">Preview</h4>
  <button 
    type="button" 
    class="btn-close" 
    aria-label="Close" 
    style="filter: invert(1) brightness(200%);" 
    (click)="activeModal.dismiss()">
  </button>
</div>
<div class="modal-body">
  <div class="renderForm">
    <cmdb-render [renderResult]="renderResult" [mode]="mode" [renderForm]="formGroupDummy"></cmdb-render>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>
