<div class="d-flex justify-content-between">
  <h1>Type List</h1>
  <div class="pointer" style="font-size: 2.5rem"><i class="far fa fa-info-circle" (click)="showAlert()"></i></div>
</div>
<hr/>
<cmdb-info-box [message]="INFO_MESSAGE"
               icon="fas fa-cube"
               doc="/docs/admin_guide/objects.html"></cmdb-info-box>
<div id="type-list-buttons" class="mt-2 mb-2">
  <button type="button"
          *permissionLink="['base.framework.type.add']"
          class="btn btn-success btn-sm"
          [routerLink]="['/framework/type/add']">
    <i class="fas fa-plus"></i> Add
  </button>
  <span class="float-right" *permissionLink="'base.export.type.*'">
    <div class="btn-group">
      <button type="button" id="exportButton" class="btn btn-warning btn-sm dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <fa-icon icon="file-export"></fa-icon> Export
      </button>
      <ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="exportButton">
        <li id="export-type" [className]="'dropdown-item'"
            (click)="exportingFiles()">
          <fa-icon icon="file-code"></fa-icon> JSON
          <span *ngIf="selectedTypeIDs.length == 0">( all )</span>
          <span *ngIf="selectedTypeIDs.length > 0"> ( {{selectedTypeIDs.length}} )</span>
        </li>
      </ul>
    </div>
  </span>
</div>
<cmdb-table [items]="types" [columns]="columns" [page]="page" [sort]="sort" [id]="'type-list-table'"
            [stateEnabled]="false" [emptyMessage]="'No types were found!'"
            [totalItems]="totalTypes" [selectEnabled]="selectEnabled" [loading]="loading" [pageSize]="limit"
            (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"
            (sortChange)="onSortChange($event)" (selectedChange)="onSelectedChange($event)"
            (searchChange)="onSearchChange($event)"></cmdb-table>

<!-- Table templates -->
<ng-template #activeTemplate let-data="data">
  <cmdb-active-badge [activeStatus]="data"></cmdb-active-badge>
</ng-template>

<ng-template #typeNameTemplate let-item="item">
  <cmdb-type-label [faIcon]="item.render_meta?.icon" [description]="item?.description"
                   [title]="item.label ? item.label : item.name"
  ></cmdb-type-label>
</ng-template>

<ng-template #actionsTemplate let-item="item">
  <cmdb-type-table-actions [publicID]="item.public_id"></cmdb-type-table-actions>
</ng-template>

<ng-template #cleanTemplate let-item="item">
  <cmdb-clean-button [type]="item"></cmdb-clean-button>
</ng-template>
