<span class="d-flex justify-content-between">
  <h1>Exportd Job List</h1>
  <h1><i class="far fa fa-info-circle" (click)="showAlert()"></i></h1>
</span>
<hr>
<cmdb-info-box [message]="messageBlock"
               icon="fas fa-sync-alt"
               doc="/docs/admin_guide/exportd.html"></cmdb-info-box>
<cmdb-table [items]="tasks" [columns]="columns" [page]="page" [sort]="sort" [id]="id" [tableStates]="tableStates"
            [stateEnabled]="true" [emptyMessage]="'No tasks were found!'" [customButtons]="[addButton]"
            [tableState]="tableState" [totalItems]="totalTasks" [selectEnabled]="false" [loading]="loading"
            [pageSize]="limit" [toggleable]="true"
            (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)" (stateChange)="onStateChange($event)"
            (searchChange)="onSearchChange($event)" (sortChange)="onSortChange($event)" (stateSelect)="onStateSelect($event)"
            (stateReset)="onStateReset()"></cmdb-table>

<!-- Table templates -->
<ng-template #activeTemplate let-data="data">
  <cmdb-active-badge [activeStatus]="data"></cmdb-active-badge>
</ng-template>

<ng-template #typeTemplate let-item="item">
  <span class="badge">
        <i [attr.class]="item.exportd_type == typeMode.PULL
             ?'fas fa-cloud-download-alt text-primary'
             :'fas fa-cloud-upload-alt text-primary'"></i>
    {{item.exportd_type}}
      </span>
</ng-template>

<ng-template #destinationTemplate let-data="data">
  <ul>
    <li *ngFor="let des of data">{{des?.className}}</li>
  </ul>
</ng-template>

<ng-template #userTemplate let-data="data">
  <cmdb-user-compact [userID]="data"></cmdb-user-compact>
</ng-template>

<ng-template #runningTemplate let-data="data">
  <div class="progress">
    <div [className]="data === modes.RUNNING
            ? 'progress-bar progress-bar-striped progress-bar-animated'
              :'progress-bar bg-success'"
         role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      {{data === modes.RUNNING ? "is running" : "done"}}
    </div>
  </div>
</ng-template>

<ng-template #executionDateTemplate let-data="data">
  {{data | dateFormatter}}
</ng-template>

<ng-template #jobRunTemplate let-item="item">
  <button type="button" class="btn badge-pill btn-success"
          (click)="run_job_manual(item)" [disabled]="item.exportd_type == typeMode.PULL">
    Run Now
    <fa-icon icon="play"></fa-icon>
  </button>
</ng-template>

<ng-template #jobRunStateTemplate let-data="data">
  <h2 class="text-center">
    <i [class]="data === modes.FAILED
          ? 'fas fa-exclamation-triangle ng-fa-icon text-danger'
          : 'fas fa-check-circle ng-fa-icon text-success'"></i>
  </h2>
</ng-template>

<ng-template #actionTemplate let-data="data">
  <div class="d-flex justify-content-center">
    <a *permissionLink="['base.exportd.job.edit']"
       [routerLink]="['/exportd/edit/', data]">
      <fa-icon [icon]="['far', 'edit']"></fa-icon>
    </a>
    <a *permissionLink="['base.exportd.job.edit']"
       [routerLink]="['/exportd/copy/', data]"
       [queryParams]="{copy: data}">
      <fa-icon [icon]="['far', 'copy']"></fa-icon>
    </a>
    <a class="pointer" *permissionLink="['base.exportd.job.delete']">
      <fa-icon [icon]="['far', 'trash-alt']" (click)="delTask(data)"></fa-icon>
    </a>
  </div>
</ng-template>

<ng-template #logTemplate let-data="data">
  <a class="ml-1 text-cmdb-primary" [routerLink]="['/exportd/log/', data]">
    <fa-icon [icon]="['far', 'arrow-alt-circle-right']"></fa-icon>
  </a>
</ng-template>

<ng-template #addButton>
  <button type="button"
          *permissionLink="['base.exportd.job.add']"
          class="btn btn-success btn-sm"
          [routerLink]="['/exportd/add']">
    <i class="fas fa-plus"></i> Add
  </button>
</ng-template>
