<div id="delete-log-list" class="row">
  <div class="col-12">
    <button type="button" class="btn btn-danger btn-sm my-2" [disabled]="selectedLogIDs.length<=0"
            placement="auto" ngbTooltip="Delete selected logs" (click)="cleanup()">
      <i class="far fa-trash-alt"></i> Cleanup
      <span class="badge badge-secondary">{{selectedLogIDs.length}}</span>
    </button>
    <hr/>
  </div>
  <div class="col-12">
   <cmdb-table [items]="deleteLogList" [totalItems]="total" [columns]="columns" [sort]="sort"
               [selectEnabled]="true" [loading]="loading" [page]="page" [rowClasses]="['align-middle']" [sortable]="true"
               [searchEnabled]="true" [id]="'object-log-list-table'" [pageSize]="limit"
               [emptyMessage]="'No Log entries were found!'" (pageChange)="onPageChange($event)"
               (pageSizeChange)="onPageSizeChange($event)" (sortChange)="onSortChange($event)"
               (searchChange)="onSearchChange($event)" (selectedChange)="onSelectedChange($event)">
    </cmdb-table>

    <ng-template #dateTemplate let-data="data">
      {{data.$date | date:'MM.dd.yyyy HH:mm:ss'}}
    </ng-template>
    <ng-template #dataTemplate let-data="data">
      {{data}}
    </ng-template>
    <ng-template #changeTemplate let-item="item">
      <cmdb-object-log-change-view [action]="item.action" [changes]="item.changes"></cmdb-object-log-change-view>
    </ng-template>
    <ng-template #userTemplate let-item="item">
      <cmdb-object-log-user [userID]="item.user_id" [userName]="item.user_name"></cmdb-object-log-user>
    </ng-template>
  </div>
</div>
