<dg-modal [icon]="iconClass" [title]="title" (dismiss)="activeModal.close(false)">

    <p class="general-lead">{{ modalMessage }}</p>

    @if (subModalMessage) {
    <p class="general-note">{{ subModalMessage }}</p>
    }

    <app-button
        dgModalFooter
        bootstrapClass="btn-secondary"
        type="button"
        [label]="buttonDeny"
        (clicked)="activeModal.close(false)">
    </app-button>

    <app-button
        dgModalFooter
        bootstrapClass="btn-primary"
        type="button"
        [label]="buttonAccept"
        (clicked)="activeModal.close(true)">
    </app-button>
</dg-modal>
