<div class="modal-header">
  <h4 class="modal-title">{{ mode === 'add' ? 'Add New Category' : mode === 'edit' ? 'Edit Category' : 'Delete Category' }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="mode !== 'delete'; else deleteTemplate">
      <form [formGroup]="addCategoryForm">
          <div class="form-group">
              <label for="categoryName">Category Name</label>
              <input id="categoryName" type="text" class="form-control" formControlName="name">
          </div>
      </form>
  </ng-container>
  <ng-template #deleteTemplate>
      <p>Are you sure you want to delete <strong>{{ categoryData.name }}</strong>?</p>
  </ng-template>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
  <button *ngIf="mode !== 'delete'" type="button" class="btn btn-primary" [disabled]="!addCategoryForm.valid" (click)="onSubmit()">
      {{ mode === 'add' ? 'Add' : 'Update' }}
  </button>
  <button *ngIf="mode === 'delete'" type="button" class="btn btn-danger" (click)="onSubmit()">Delete</button>
</div>
