<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Risks</h2>
  <div class="d-flex align-items-center gap-2">
    <!-- Delete selected button -->
    <button class="btn btn-sm btn-danger" *permissionLink="['base.isms.risk.delete']"
      [disabled]="!selectedRisks.length" (click)="onDeleteSelected()" title="Delete selected risks">
      <i class="far fa-trash-alt"></i> Delete Selected
      @if (selectedRisks.length) {
        <span class="badge bg-light text-dark ms-1">{{ selectedRisks.length }}</span>
      }
    </button>
    <!-- Add button -->
    <button class="btn btn-sm btn-success" *permissionLink="['base.isms.risk.add']" (click)="onAddNew()">
      <i class="fas fa-plus"></i> Add
    </button>
  </div>
</div>
<hr />

<cmdb-table  *permissionLink="['base.isms.risk.view']" [items]="risks" [columns]="columns" [page]="page" [sort]="sort" [id]="'risks-table'"
  [emptyMessage]="'No risks found.'" [totalItems]="totalRisks" [selectEnabled]="true"
  [selectedItems]="selectedRisks" [loading]="loading"
  [pageSize]="limit" [toggleable]="true" [initialVisibleColumns]="initialVisibleColumns"
  (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)" (sortChange)="onSortChange($event)"
  (searchChange)="onSearchChange($event)" (selectedChange)="onSelectedChange($event)">
</cmdb-table>

<!-- Risk Type Template -->
<ng-template #riskTypeTemplate let-data="data" let-item="item">
  <span>
    {{ item.risk_type }}
  </span>
</ng-template>

<!-- Actions Template -->
<ng-template #actionTemplate let-data="data" let-item="item">
  <i *permissionLink="['base.isms.risk.view']" class="far fa-eye icon-margin icon-view spacing-right"
    (click)="onView(item)" title="View Risk"></i>
  <i *permissionLink="['base.isms.risk.edit']" class="far fa-edit icon-margin icon-edit spacing-right"
    (click)="onEdit(item)" title="Edit Risk"></i>
  <i *permissionLink="['base.isms.risk.delete']" class="far fa-trash-alt icon-delete" (click)="onDelete(item)"
    title="Delete Risk"></i>
</ng-template>


<!-- Category Template -->
<ng-template #categoryTemplate let-data="data" let-item="item">
  <span>{{ getCategoryName(data) }}</span>
</ng-template>