::ng-deep .steps-indicator li.current .step-indicator {
  background-color: #d4643e  !important; /* Current step is always grey */
}

// .steps-indicator li.done:not(.invalid-step) .step-indicator {
//   background-color: green; /* Done and valid steps are green */
// }

// .steps-indicator li.done.invalid-step .step-indicator {
//   background-color: red; /* Done and invalid steps are red */
// }

::ng-deep .steps-indicator li.invalid-step .step-indicator {
  background-color: red !important; /* Invalid steps are red */
}

::ng-deep .steps-indicator li.valid-step .step-indicator {
  background-color: #28a745; /* Green color */
  color: white; /* Optional: text color */
}

::ng-deep .steps-indicator li.invalid-step .step-indicator{
  background-color: #dc3545; /* Red color */
  color: white; /* Optional: text color */
}