@import "~src/scss/variables";

#form-container {

  #form-content {
    min-height: 50px;
    width: 100%;

    &.empty {
      border: 1px dashed theme-color("primary");
    }
  }

  .card-header{
    button{
      padding: 0px;
    }
  }
}
