<div id="object-footer" class="card col-12">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#object-tab-risk-assesments-list" role="tab">Risk Assessments</a>
        </li>
        </ul>
    </div>
    <div class="card-body tab-content">
      <div class="tab-pane fade show active" id="object-tab-risk-assesments-list" role="tabpanel">
        <app-risk-assessment-list [riskId]="riskId" [riskSummaryLine]="riskName"></app-risk-assessment-list>
  
      </div>
    </div>
  </div>
  