<div class="bg-white py-5">
    <header class="text-center">
        <h1 class="display-4 font-weight-light">Resources</h1>
    </header>

    <div class="container py-5">
        <div class="row text-center">

            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
                    <div class="icon display-1 text-center mb-4">
                        <i class="fas fa-desktop text-muted"></i>
                    </div>
                    <h5 class="mb-0">DATAGERRY Website</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <a
                            href="https://www.datagerry.com"
                            target="_blank"
                            type="button"
                            class="btn btn-outline-primary text-uppercase"
                        >
                            Visit Now
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
                    <div class="icon display-1 text-center mb-4">
                        <i class="fas fa-download text-muted"></i>
                    </div>
                    <h5 class="mb-0">Download</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <a
                            href="http://files.datagerry.com"
                            target="_blank"
                            type="button"
                            class="btn btn-outline-primary text-uppercase"
                        >
                            Let's go
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
                    <div class="icon display-1 text-center mb-4">
                        <i class="fas fa-book text-muted"></i>
                    </div>
                    <h5 class="mb-0">Documentation</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <a
                            href="https://datagerry.readthedocs.io/en/latest/"
                            target="_blank"
                            type="button"
                            class="btn btn-outline-primary text-uppercase"
                        >
                            Read me
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
                    <div class="icon display-1 text-center mb-4">
                        <i class="fas fa-comments text-muted"></i>
                    </div>
                    <h5 class="mb-0">Community Support</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <a
                            href="https://community.datagerry.com"
                            target="_blank"
                            type="button"
                            class="btn btn-outline-primary text-uppercase"
                        >
                            Let's go
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
                    <div class="icon display-1 text-center mb-4">
                        <i class="fab fa-github text-muted"></i>
                    </div>
                    <h5 class="mb-0">Source Code / Github</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <a
                            href="https://github.com/DATAGerry/DATAGerry"
                            target="_blank"
                            type="button"
                            class="btn btn-outline-primary text-uppercase"
                        >
                            Let's go
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
                    <div class="icon display-1 text-center mb-4">
                        <fa-icon class="text-muted" [icon]="['fas', 'handshake']"></fa-icon>
                    </div>
                    <h5 class="mb-0">Professional Services</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <a
                            href="https://datagerry.com/professional-services/"
                            target="_blank"
                            type="button"
                            class="btn btn-outline-primary text-uppercase"
                        >
                            Let's go
                        </a>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>