<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Connectors</h3>
    <app-button [bootstrapClass]="'btn-success'" label="Add" type="button" (clicked)="add()"></app-button>
  </div>
  
  <cmdb-table
    [items]="rows"
    [columns]="columns"
    [loading]="loading"
  >
  </cmdb-table>

  <!-- Actions Template -->
  <ng-template #actionsTemplate let-item="item">
    <app-button [bootstrapClass]="'btn-link p-0 me-2'" label="" icon="fas fa-pen" (clicked)="edit(item)"></app-button>
    <app-button [bootstrapClass]="'btn-link p-0 text-danger'" label="" icon="fas fa-trash" (clicked)="delete(item)"></app-button>
  </ng-template>
