<div class="d-flex justify-content-between align-items-center mb-3">
  <h3 class="mb-0">Connectors</h3>
  <app-button [bootstrapClass]="'btn-success'" label="Add" type="button" (clicked)="add()"></app-button>
</div>

<cmdb-table [items]="rows" [columns]="columns" [searchEnabled]="false" [totalItems]="totalConnectors"
  [paginationEnabled]="false" [pageSizeEnabled]="false">
</cmdb-table>

<!-- Actions Template -->
<ng-template #actionsTemplate let-item="item">
  <span>
    <i class="far fa-edit icon-margin btn-edit spacing-right" (click)="edit(item)" title="Edit Connector"></i>
  </span>

  <span>
    <i class="far fa-trash-alt btn-delete" (click)="delete(item)" title="Delete Connector"></i>
  </span>
</ng-template>