<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>Quick Risks Import</span>
        <!-- Add a button to navigate to the Risks Page -->
        <a class="btn btn-secondary btn-sm" routerLink="/isms/risks">
            Go to Risks Page
        </a>
    </div>
    <div class="card-body">

        <button class="btn btn-link" (click)="showInstructions = !showInstructions">
            {{ showInstructions ? 'Hide Instructions' : 'Show Import Instructions' }}
        </button>

        <ng-container *ngIf="showInstructions">
            <app-import-instructions
              [title]="importInstructions.title"
              [description]="importInstructions.description"
              [headers]="importInstructions.headers"
              [notes]="importInstructions.notes"
              [mappings]="importInstructions.mappings"
              [duplicates]="importInstructions.duplicates"
              [exampleCsv]="importInstructions.exampleCsv"
            ></app-import-instructions>
          </ng-container>
          

        <form [formGroup]="fileForm">
            <div class="mb-3">
                <label for="file" class="form-label">Select CSV File:</label>
                <input
                  type="file"
                  class="form-control"
                  id="file"
                  (change)="selectFile($event.target.files)"
                  accept=".csv"
                />
            </div>
            <button type="button" class="btn btn-primary" [disabled]="fileForm.invalid" (click)="importRisk()">
                Import Risks
            </button>
        </form>
    </div>
</div>

<app-loading-popup [isVisible]="isLoading$ | async" message="Importing threat objects..."></app-loading-popup>