<div>

    <div class="input-wrapper-search">
        <input id="category-filter" class="form-control form-control-sm" type="text" placeholder="Filter.." [formControl]="filterTerm">
        <i class="fas fa-times input-icon-clear"  (click)="this.filterTerm.reset('')"></i>
      </div>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" id="location-tree" #locationTree class="location-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle 
        class="location_element child_locations"  
        [class.location-selected]="node.object_id == selectedLocationID"
        [class.no-children]="treeControl.getChildren(node) == null">
        <!-- level 2+ -->
            <div>
                <i class="location_icon" [class]="node.icon"></i>
                <span class="location_name" [id]="node.object_id" (click)="onLocationElementClicked($event.target.id)">{{node.name}}</span>
            </div>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <!-- level 1 -->
            <div class="mat-tree-node location_element root_locations" 
                 [class.location-selected]="node.object_id == selectedLocationID"
                 [class.no-children]="treeControl.getChildren(node) == null">
                <button mat-icon-button matTreeNodeToggle 
                        [attr.aria-label]="'Toggle ' + node.name" 
                        style="--mat-mdc-button-persistent-ripple-color: none;--mat-mdc-button-ripple-color: none;"
                        (click)="onExpandClicked()" >
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
                    </mat-icon>
                </button>
                <i class="location_icon" [class]="node.icon"></i>
                <span class="location_name" [id]="node.object_id" (click)="onLocationElementClicked($event.target.id)">{{node.name}}</span>
            </div>
            <div class="child_locations" [class.location-tree-invisible]="!treeControl.isExpanded(node)" role="group">
                <ng-container matTreeNodeOutlet></ng-container>
            </div>
        </mat-nested-tree-node>
    </mat-tree>
</div>

