<div>
    <div class="input-wrapper-search">
      <input id="category-filter" class="form-control form-control-sm" type="text" placeholder="Filter.." [(ngModel)]="searchString">
      <i class="fas fa-times input-icon-clear" (click)="handleSearchReset()"></i>
  </div>


  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" id="location-tree" #locationTree class="location-tree">
      <!-- Flat tree node template -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                    [style.display]="filterLeafNode(node) ? 'none' : 'flex'"
                    class="location_element"
                    [class.root_locations]="node.level === 0"
                    [class.child_locations]="node.level > 0"
                    [class.location-selected]="node.object_id == selectedLocationID"
                    [style.padding-left]="(node.level * 20) + 'px'">
         
          <!-- Expand/collapse button for nodes with children -->
          <button mat-icon-button 
                  *ngIf="hasChild(0, node)"
                  [attr.aria-label]="'Toggle ' + node.name"
                  style="--mat-mdc-button-persistent-ripple-color: none;--mat-mdc-button-ripple-color: none;"
                  (click)="onExpandClicked(node, $event)"
                  [disabled]="node.isLoading"
                  class="tree-toggle">
              <mat-icon class="mat-icon-rtl-mirror" *ngIf="!node.isLoading">
                  {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
              </mat-icon>
              <mat-icon class="mat-icon-rtl-mirror" *ngIf="node.isLoading">
                  <i class="fas fa-spinner fa-spin"></i>
              </mat-icon>
          </button>


          <!-- Spacer for leaf nodes without expand button -->
          <div *ngIf="!hasChild(0, node)" class="tree-spacer"></div>


                <!-- Node content -->
                <div class="node-content">
                    <i class="location_icon" [class]="node.icon"></i>
                    <span class="location_name" [id]="node.object_id" (click)="onLocationElementClicked(node.object_id)">
                        {{node.name}}
                        <span *ngIf="node.isDuplicate" class="duplicate-warning">
                             Invalid configuration
                        </span>
                    </span>
                </div>
      </mat-tree-node>


      <!-- No children message -->
      <div *ngIf="treeControl.dataNodes?.length === 0" class="no-data-message">
          No locations found.
      </div>
  </mat-tree>
</div>
