.scrollable .nav-tabs {
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap;
}

.container {
  max-width: 80vw;
  margin-bottom: 5px;
  display: block;
}

.scrollable .nav-tabs .nav-link {
  white-space: nowrap;
}
