<ul class="nav nav-tabs mb-1">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#object-references" role="tab">All References</a>
  </li>
  <li class="nav-item" *ngFor="let item of referencedTypes">
    <a class="nav-link" data-toggle="tab" href="" role="tab"> {{item?.typeLabel}} <span class="badge badge-pill badge-primary">{{item?.occurences}}</span></a>
  </li>
</ul>

<div class="tab-pane fade show active" id="object-references" role="tabpanel">
  <cmdb-object-references-table [publicID]="publicID" (referencesLoadedEvent)="onReferencesLoaded($event)"></cmdb-object-references-table>
</div>
