<cmdb-content-header title="Object list"></cmdb-content-header>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
  <thead>
  <tr>
    <th>Active</th>
    <th>Public ID</th>
    <th>Type</th>
    <th>Author</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let result of objectLists">
    <td>
      <cmdb-active-badge [activeStatus]="result.type_active"></cmdb-active-badge>
    </td>
    <td>{{result.object_id}}</td>
    <td><a routerLink="/framework/type/{{result.type_id}}">{{result.type_label}}</a></td>
    <td><a routerLink="/user/{{result.author_id}}">{{result.author_name}}</a></td>
    <td>
      <a class="text-dark"[routerLink]="['/framework/object/', result.object_id]">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </a>
      <a class="ml-1 text-dark" routerLink="/framework/object/{{result.object_id}}/edit">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
      <a class="ml-1 text-dark" (click)="delObject(result.object_id)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
