<form id="uploadfileform" [formGroup]="fileForm">
    <aw-wizard [navBarLayout]="'large-empty-symbols'">
        <aw-wizard-step stepId="1" stepTitle="Select file">
            <ng-template awWizardStepSymbol>
                <i class="fas fa-file-code"></i>
            </ng-template>
            <cmdb-select-file-drag-drop [formGroup]="fileForm"/>
        </aw-wizard-step>

        <aw-wizard-step stepId="2" stepTitle="Preview">
            <ng-template awWizardStepSymbol>
                <i class="fas fa-clipboard-check"></i>
            </ng-template>
            <cmdb-type-preview [data]="fileForm"/>
            <button class="btn btn-primary prev" type="button" awPreviousStep>
                <i class="fas fa-angle-double-left"></i> Previous step
            </button>
            <button
                class="btn btn-primary next"
                type="submit"
                awNextStep
                [disabled]="fileForm.invalid"
                (click)="importTypeFile()"
            >
                Import File <i class="fas fa-angle-double-right"></i>
            </button>
        </aw-wizard-step>

        <aw-wizard-step stepId="5" stepTitle="Complete">
            <ng-template awWizardStepSymbol>
                <i class="fas fa-save"></i>
            </ng-template>
            <cmdb-import-type-complete [errorHandling]="errorHandling" [done]="done"/>
        </aw-wizard-step>
    </aw-wizard>
</form>
