<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row ml-0 object-view-navbar align-items-center justify-content-center">
                <!-- Action widget-->
                <div class="col-xl-4 col-md-6 col-6 pt-1">
                    <cmdb-object-actions
                        [acl]="renderResult.type_information.acl"
                        [renderResult]="renderResult"
                    />
                </div>
                <!-- External links widget-->
                <div class="col-xl-2 col-md-6 col-6 border-left pt-1">
                    <cmdb-object-externals [renderResult]="renderResult"/>
                </div>
                <!-- Attachments widget-->
                <div class="col-xl-2 col-md-6 col-6 border-left pt-1">
                    <cmdb-object-attachments/>
                </div>
                <!-- Documents widget-->
                <div class="docsWidget col-xl-2 col-md-6 col-6 border-left pt-1">
                    <cmdb-object-docs
                        *permissionLink="['base.docapi.template.view']"
                        [renderResult]="renderResult"
                    />
                </div>
                <!-- Cube widget-->
                <div class="col-xl-2 col-md-6 col-6 border-left pt-1 last-widget">
                    <div class="d-flex justify-content-center">
                        <cmdb-object-type-label [typeInformation]="renderResult?.type_information"/>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div id="object-view" class="col-md-12">
            <cmdb-object-header [renderResult]="renderResult"/>
            <cmdb-object-view-render [mode]="mode" [renderResult]="renderResult"/>
        </div>

        <div id="object-view-footer" class="col-12">
            <cmdb-object-footer [renderResult]="renderResult"/>
        </div>
    </div>
</div>

