@if (controlMeasureForm) {
<div class="container" [formGroup]="controlMeasureForm">
  <h2 class="mb-3">
    {{ isViewMode ? 'View Control' : isEditMode ? 'Edit Control' : 'Add Control' }} </h2>

  <form autocomplete="off" class="needs-validation" [formGroup]="controlMeasureForm" (ngSubmit)="onSave()">
    <!-- Title (Required) -->
    <app-form-input formControlName="title" label="Name:" [required]="true" [errorMessage]="
        hasError('name','required')
          ? 'Name is required'
          : ''
      "></app-form-input>

    <!-- Control Measure Type (Radio Buttons) -->
    <div class="form-group mt-3">
      <label class="mt-2 mb-2">Type:<span class="required">*</span></label>
      <app-radio label="Control" [value]="'CONTROL'" name="cmTypeGroup" id="typeControl"
        formControlName="control_measure_type"></app-radio>
      <app-radio label="Requirement" [value]="'REQUIREMENT'" name="cmTypeGroup" id="typeRequirement"
        formControlName="control_measure_type"></app-radio>
      <app-radio label="Measure" [value]="'MEASURE'" name="cmTypeGroup" id="typeMeasure"
        formControlName="control_measure_type"></app-radio>
    </div>

    <!-- Identifier -->
    <app-form-input formControlName="identifier" label="Identifier:"></app-form-input>


    <!-- Source (Single-select) -->
    <div class="form-group mt-3">
      <label class="form-label">Source:</label>
      <div class="d-flex align-items-start gap-2">
        <div class="flex-grow-1">
          <app-form-select [items]="sourceOptions" bindLabel="value" bindValue="public_id" [multiple]="false"
            placeholder="Select a source..." formControlName="source"></app-form-select>
        </div>
        <div>
          <!-- <button type="button" class="btn btn-outline-secondary btn-sm" (click)="openSourceManager()">
            Manage Sources
          </button> -->

          <!-- Source Manage Button -->
          @if (!isViewMode) {
          <app-button [bootstrapClass]="'btn-outline-secondary'" [padding]="'4.5px'" size="sm" label="Manage Sources"
            (clicked)="openSourceManager()" type="button">
          </app-button>
          }
        </div>
      </div>

      @if (hasError('source','required')) {
      <div class="invalid-feedback d-block mt-1">
        Source is required
      </div>
      }
    </div>


    <!-- Chapter -->
    <app-form-input formControlName="chapter" label="Chapter:"></app-form-input>

    <!-- Description -->
    <app-form-textarea formControlName="description" label="Description:" [rows]="3"></app-form-textarea>

    <!-- is_applicable -->
    <div class="form-group mt-3">
      <label>Is Applicable?</label>
      <app-checkbox [id]="'is_applicable'" [label]="'Yes, it is applicable'"
        [checked]="controlMeasureForm.get('is_applicable')?.value"
        (checkedChange)="controlMeasureForm.get('is_applicable')?.setValue($event)"
        [disabled]="isViewMode"></app-checkbox>
    </div>

    <!-- Reason -->
    <app-form-textarea formControlName="reason" label="Reason for inclusion/exclusion:" [rows]="3"></app-form-textarea>

    <div class="form-group mt-3">
      <label class="form-label">Implementation State:</label>
      <div class="d-flex align-items-start gap-2">
        <div class="flex-grow-1">
          <app-form-select [items]="implementationStateOptions" bindLabel="value" bindValue="public_id"
            [multiple]="false" placeholder="Select an implementation state..." formControlName="implementation_state"
            [dropdownDirection]="'top'"></app-form-select>
        </div>
        <div>

          <!-- Implementation State Manage Button -->
          @if (!isViewMode) {
          <app-button [bootstrapClass]="'btn-outline-secondary'" size="sm" label="Manage Implementation States"
            [padding]="'4.5px'" (clicked)="openImplementationStateManager()" type="button">
          </app-button>
          }
        </div>
      </div>

      @if (hasError('implementation_state','required')) {
      <div class="invalid-feedback d-block mt-1">
        Implementation State is required
      </div>
      }
    </div>

    <!-- Footer Buttons -->
    <div class="mt-4 d-flex justify-content-between">
      <!-- Cancel Button -->

      @if (!isViewMode) {
      <app-button [bootstrapClass]="'btn-secondary'" label="Cancel" type="button" (clicked)="onCancel()">
      </app-button>
      }
      <div *permissionLink="['base.isms.controlMeasure.add', 'base.isms.controlMeasure.edit']">
        <!-- Submit Button -->
        @if (!isViewMode) {
        <app-button [bootstrapClass]="'btn-success'" [disabled]="controlMeasureForm.invalid"
          [label]="isEditMode ? 'Save Changes' : 'Create Control'" type="submit">
        </app-button>
        }
      </div>
    </div>
  </form>
  @if (isViewMode) {
  <div class="mt-3">
    <cmdb-control-measure-footer [controlMeasureName]="controlMeasure.title"
      [currentID]="controlMeasure.public_id"></cmdb-control-measure-footer>
  </div>
  }

</div>
}

<!-- Manage Source Modal -->

<!-- Manage Implementation State Modal -->

<!-- Loading Spinner -->
<app-loading-popup [isVisible]="isLoading$ | async" message="Saving...">
</app-loading-popup>