<div class="d-flex justify-content-between align-items-center mb-2">
    <h1>Likelihoods</h1>
    <button type="button" class="btn btn-sm btn-success" (click)="addLikelihood()"
        [disabled]="this.totalLikelihoods >= 10">
        <i class="fas fa-plus"></i> Add
    </button>
</div>

<hr />

<!-- Table (cmdb-table) -->
<cmdb-table [items]="likelihoods" [columns]="columns" [totalItems]="totalLikelihoods" [pageSize]="limit" [page]="page"
    [loading]="loading" [paginationEnabled]="false" [pageSizeEnabled]="false" [searchEnabled]="false"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
</cmdb-table>

<!-- Actions Template -->
<ng-template #actionsTemplate let-item="item">


    <i class="far fa-edit icon-margin btn-edit spacing-right" (click)="editLikelihood(item)"
        title="Edit Likelihood"></i>


    <i class="far fa-trash-alt btn-delete" (click)="deleteLikelihood(item)" title="Delete Likelihood"></i>
</ng-template>

<app-loading-popup [isVisible]="isLoading$ | async" message="We're Processing the Data..."></app-loading-popup>