<div class="row">
  <div class="col-9">
    <cmdb-object-header [objectInstance]="objectInstance"></cmdb-object-header>
  </div>
  <div class="col-3">
    <cmdb-object-qr></cmdb-object-qr>
    <hr />
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action" routerLink="/framework/object/">List objects</a>
          <a href="#" class="list-group-item list-group-item-action">Copy object</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Edit object</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Delete object</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <ul class="nav nav-tabs" id="typeViewTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="logs-tab" data-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="true">Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="categories-tab" data-toggle="tab" href="#categories" role="tab" aria-controls="categories" aria-selected="false">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="collections-tab" data-toggle="tab" href="#collections" role="tab" aria-controls="collections" aria-selected="false">Collections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="diagnostic-tab" data-toggle="tab" href="#diagnostic" role="tab" aria-controls="diagnostic" aria-selected="false">Diagnostic</a>
      </li>
    </ul>
    <div class="tab-content" id="typeViewTabContent">
      <div class="tab-pane fade show active" id="logs" role="tabpanel" aria-labelledby="logs-tab">logs</div>
      <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab"></div>
      <div class="tab-pane fade" id="collections" role="tabpanel" aria-labelledby="collections-tab"></div>
      <div class="tab-pane fade" id="diagnostic" role="tabpanel" aria-labelledby="diagnostic-tab">
        {{ objectInstance | json }}
      </div>
    </div>
  </div>

</div>

