<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" 
           id="log-object-activate-tab" 
           data-toggle="tab" 
           href="#activate" 
           role="tab" 
           (click)="handleClick(1)">
            Existing Objects Logs
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" 
           id="log-object-deactivate-tab" 
           data-toggle="tab" 
           href="#deactivate" 
           role="tab" 
           (click)="handleClick(2)">
            Deleted Objects Logs
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" 
           id="log-object-delete-tab" 
           data-toggle="tab" 
           href="#delete-logs" 
           role="tab" 
           (click)="handleClick(3)">
            Delete Logs
        </a>
    </li>
</ul>
<div class="tab-content pt-2">
    <div *ngIf="cleanupInProgress" 
         id="cleanup-progress" 
         class="m-2">
        <ngb-progressbar type="danger" 
                         [value]="cleanupProgress" 
                         [animated]="true" 
                         [striped]="true">
        </ngb-progressbar>
    </div>
    <div class="tab-pane fade show active" 
         id="activate" 
         role="tabpanel" 
         *ngIf="showExistingObjectsLogs">
        <cmdb-activate-tab 
            [reloadLogs]="reloadActiveLogs" 
            (deleteEmitter)="deleteLog($event, 'active')" 
            (cleanUpEmitter)="cleanup($event, 'active')">
        </cmdb-activate-tab>
    </div>
    <div class="tab-pane fade" 
         id="deactivate" 
         role="tabpanel" 
         *ngIf="showDeletedObjectsLogs">
        <cmdb-deactivate-tab 
            [reloadLogs]="reloadDeActiveLogs" 
            (deleteEmitter)="deleteLog($event, 'deactive')" 
            (cleanUpEmitter)="cleanup($event, 'deactive')">
        </cmdb-deactivate-tab>
    </div>
    <div class="tab-pane fade" 
         id="delete-logs" 
         role="tabpanel" 
         *ngIf="showDeleteLogs">
        <cmdb-delete-tab 
            [reloadLogs]="reloadDeleteLogs" 
            (deleteEmitter)="deleteLog($event, 'delete')" 
            (cleanUpEmitter)="cleanup($event, 'delete')">
        </cmdb-delete-tab>
    </div>
</div>
