<div id="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">Navigation</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/framework/object/add" routerLinkActive="active">
          <i class="fa fa-plus" aria-hidden="true"></i> Add object</a>
      </li>
      <li class="nav-title">Assets</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/framework/object/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-list" aria-hidden="true"></i> List objects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/framework/type/" routerLinkActive="active">
          <i class="fa fa-file-code-o" aria-hidden="true"></i> Show types</a>
      </li>
      <div id="sidebar-categories">
        <li class="nav-title">Categories</li>
        <input id="category_filter" class="form-control form-control-sm" type="text" placeholder="Filter.." [formControl]="filterTerm">
        <div class="list-group panel category_list">
          <cmdb-sidebar-category *ngFor="let category of categoryTree;"
                                 [categoryData]="category"></cmdb-sidebar-category>
        </div>
      </div>
    </ul>
  </nav>
</div>
