
<a href="#{{categoryData.category.name}}" class="list-group-item collapsed" data-toggle="collapse"
   data-parent="#sidebar-categories"
   aria-expanded="false"
   (click)="get_objects_by_type(categoryData.category.type_list)">
  <span class="hidden-sm-down">{{categoryData.category.label}}</span>
</a>

<div class="collapse" id="{{categoryData.category.name}}">

  <ul class="list-group" *ngFor="let type of categoryPopUp;">
    <li class="list-group-item d-flex justify-content-between align-items-center"
        [routerLink]="['/framework/object/type/', type.id]">
      <p class="mb-1">
        <cmdb-type-label [faIcon]="type.icon" [title]="type.label"></cmdb-type-label>
      </p>
      <span class="badge badge-primary badge-pill">{{type.count}}</span>
    </li>
  </ul>

  <ng-template [ngIf]="categoryData.children">
    <cmdb-sidebar-category *ngFor="let category of categoryData.children;"
                           [categoryData]="category"></cmdb-sidebar-category>
  </ng-template>

</div>
