<form [formGroup]="fileForm">
  <div class="form-group">
    <label>Format:</label>
    <select formControlName="fileFormat" class="custom-select">
      <option></option>
      <option *ngFor="let importer of importerTypes" value="{{importer}}">{{importer | uppercase}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>File:</label>
    <div class="custom-file">
      <input [disabled]="fileFormat.invalid" (change)="selectFile($event.target.files)" type="file"
             class="custom-file-input"
             [accept]="selectedFileFormat">
      <label class="custom-file-label">{{fileName}}</label>
    </div>
  </div>
</form>
