<div class="right fixed">
    <div *ngFor="let toast of toastService.toastsright" [@simpleFadeAnimation]="'in'">
        <cmdb-toast-component [toast]="toast"/>
    </div>
</div>

<div class="left fixed">
    <div *ngFor="let toast of toastService.toastsleft" [@simpleFadeAnimation]="'in'">
        <cmdb-toast-component [toast]="toast"/>
    </div>
</div>

<div class="bottom right fixed">
    <div *ngFor="let toast of toastService.toastsdownright" [@simpleFadeAnimation]="'in'">
        <cmdb-toast-component [toast]="toast"/>
    </div>
</div>

<div class="bottom left fixed">
    <div *ngFor="let toast of toastService.toastsdownleft" [@simpleFadeAnimation]="'in'">
        <cmdb-toast-component [toast]="toast"/>
    </div>
</div>

<div class="center fixed">
    <div *ngFor="let toast of toastService.toastscenter" [@simpleFadeAnimation]="'in'">
        <cmdb-toast-component [toast]="toast"/>
    </div>
</div>

