
<div class="card-deck">
  <div class="card">
    <a routerLink="exportd">
      <div class="dash-card primary">
        <i class="fas fa-tachometer-alt"></i>
        <span class="count-numbers">Exportd</span>
        <span class="count-name">Logs</span>
      </div>
    </a>
  </div>
  <div class="card">
    <a routerLink="objects">
      <div class="dash-card primary">
        <i class="fas fa-clipboard-list"></i>
        <span class="count-numbers">Object</span>
        <span class="count-name">Logs</span>
      </div>
    </a>
  </div>
</div>
