<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Clone Template</h4>
        <button type="button" class="close text-white" (click)="activeModal.close(false)">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="clone-heading">
            <h4><b>Cloning of {{sectionTemplate.label}} [ID:{{sectionTemplate.public_id}}]</b></h4>
            Enter the name for the copy and decide if it should be a global template!
        </div>
        <form [formGroup]="cloneForm">
            <div class="mb-3">
                <hr>
                <br>
                <div class="form-label-group">
                    <input 
                        type="text"
                        formControlName="templateLabel"
                        placeholder="Template name"
                        required
                        autofocus
                    >
                </div>
                <br>
                <div class="form-label-group">
                    <input formControlName="isGlobal" type="checkbox" id="isGlobal">
                    <label class="is-global-label" for="isGlobal">Global Template</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="activeModal.close(false)">Cancel</button>
        <button type="button" class="btn btn-success" [disabled]="!cloneForm.valid" (click)="activeModal.close(cloneForm.value)">Clone Template</button>
    </div>
</div>