<footer class="app-footer">
    <span><a href="https://github.com/markheumueller/NetCMDB" target="_blank">CMDB</a> &copy; 2018</span>
    <span class="ml-auto">Powered by <a href="http://nethinks.com" target="_blank">NETHINKS GmbH</a></span>
</footer>
<script src="{{ url_for('static', filename='vendors/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/js/pace.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/js/sweetalert2.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/js/fontawesome-all.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/js/qrcode.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
