    <script src="{{ url_for('static', filename='vendors/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/js/pace.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/js/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/js/coreui.min.js') }}"></script>
</html>