<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ frontend("title")}}</title>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='vendors/css/font-awesome.min.css') }}"/>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='vendors/css/simple-line-icons.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='vendors/css/pace.min.css') }}"/>
    <title>CMDB</title>
</head>