<ul class="nav navbar-nav d-md-down-none">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
</ul>

<ul class="nav navbar-nav ml-auto mr-3">
    <li class="nav-item d-md-down-none">
        <a class="nav-link" href="/search"><i class="icon-magnifier"></i></a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="icon-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center text-capitalize ">
                <strong>Test</strong>
            </div>
            <a class="dropdown-item" href="#"><i class="far fa-bell"></i> Updates
                <span class="badge badge-info">42</span></a>
            <a class="dropdown-item" href="#"><i class="far fa-clipboard"></i> My Objects
                <span class="badge badge-success">42</span></a>
            <div class="dropdown-header text-center">
                <strong>Account</strong>
            </div>
            <a class="dropdown-item" href="/account"><i class="fa fa-user"></i> Account</a>
            <a class="dropdown-item" href="/account/settings"><i class="fa fa-wrench"></i> Settings</a>
            <a class="dropdown-item" href="/account/lock"><i class="fa fa-shield-alt"></i> Lock Account</a>
            <a class="dropdown-item" href="/logout"><i class="fa fa-lock"></i> Logout</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="icon-layers"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
                <strong>Administration</strong>
            </div>
            <a class="dropdown-item" href="/admin/user-management"><i class="fas fa-users"></i> User Management</a>
            <a class="dropdown-item" href="/admin/type-management"><i class="fas fa-object-group"></i> Type Management</a>
            <a class="dropdown-item" href="/admin/front-end-settings"><i class="fas fa-tachometer-alt"></i> FrontEnd
                Settings</a>
            <div class="dropdown-header text-center">
                <strong>Configuration</strong>
            </div>
            <a class="dropdown-item" href="/system/information"><i class="fas fa-info"></i> System Information</a>
            <a class="dropdown-item" href="/system/global-settings"><i class="fas fa-globe"></i> Global Settings</a>
            <a class="dropdown-item" href="/system/security-settings"><i class="fas fa-user-secret"></i> Security Settings</a>
        </div>
    </li>
</ul>
