<div class="modal-header bg-primary text-white">
  <h4 class="modal-title">Delete Object: {{publicID}}</h4>
  <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
</div>
<div class="modal-body">
  Are you sure you want to delete this object?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Close</button>
  <button type="submit" class="btn btn-outline-danger" (click)="activeModal.close(publicID)">Delete</button>
</div>