#object-header{
  margin-bottom: 15px;
}

#qr-tab{
  max-width: 200px;
  margin: 15px auto 0;
}

.active-control {

  &:checked ~ .custom-control-label::before {
    background-color: green;
    border-color: green;
  }

}
