<div id="object-header" class="card">
  <div class="card-header d-flex justify-content-between">
    <div>
      <cmdb-active-badge [activeStatus]="renderResult?.object_information?.active"></cmdb-active-badge>
    </div>
    <div id="object-view-title">
      {{renderResult?.type_information?.label}} #{{renderResult?.object_information?.object_id}}
    </div>
    <div id="object-view-version">Version: {{renderResult?.object_information?.version}}</div>
  </div>
  <div class="card-body">
    <ul id="object-header-tabs" class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#summaries-tab" role="tab">Summaries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#meta-tab" role="tab">Metadata</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="summaries-tab" role="tabpanel">
        <cmdb-object-summary [summaries]="renderResult?.summaries"></cmdb-object-summary>
      </div>
      <div class="tab-pane fade" id="meta-tab" role="tabpanel">
        <cmdb-object-view-meta [renderResult]="renderResult"></cmdb-object-view-meta>
      </div>
    </div>
  </div>
</div>
