<h1>Authentication Config</h1>
<hr/>
<div class="row">
  <div class="col-md-9">
    <form class="needs-validation" [formGroup]="authConfigForm" (ngSubmit)="onSave()" novalidate>
      <div class="form-group row mb-3">
        <div class="col-sm-3">Enable external</div>
        <div class="col-sm-9">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="enable-external-input"
                   formControlName="enable_external">
            <label class="custom-control-label" for="enable-external-input"></label>
          </div>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="col-sm-3 col-form-label" for="token-lifetime-input">Token lifetime</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input class="form-control" type="number" id="token-lifetime-input"
                   formControlName="token_lifetime">
          </div>
          <small class="description form-text text-muted">How long should the token be valid?</small>
        </div>
      </div>
      <div *ngIf="authSettings" id="providerSettings">
        <ng-container formArrayName="providers"
                      *ngFor="let providerSettings of authSettings.providers; index as i">
          <div class="card mb-3" [ngSwitch]="providerSettings.class_name">
            <cmdb-local-authentication-provider-form [provider]="providerSettings" [parent]="providersArray"
                                                     *ngSwitchCase="'LocalAuthenticationProvider'">
            </cmdb-local-authentication-provider-form>
            <cmdb-ldap-authentication-provider-form [provider]="providerSettings" [parent]="providersArray"
                                                    [groups]="groups" *ngSwitchCase="'LdapAuthenticationProvider'">
            </cmdb-ldap-authentication-provider-form>
          </div>
        </ng-container>
      </div>
      <hr/>
      <button type="submit" class="btn btn-success float-right" [disabled]="!authConfigForm.valid">
        <i class="far fa-save"></i> Save
      </button>
      <div class="clearfix"></div>
    </form>
  </div>
  <div id="installed-providers" class="col-md-3">
    <div *ngIf="installedProviderList && authSettings" class="card">
      <div class="card-header">
        Installed Providers
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let installedProvider of installedProviderList" class="list-group-item">
          {{installedProvider?.class_name}}
        </li>
      </ul>
      <div class="card-footer text-center text-muted">
        {{(providersArray| activeProviders).length}}/{{installedProviderList.length}}
        activated
      </div>
    </div>
  </div>
</div>
