<div>
  <div class="strength-meter">
    <div class="strength-meter-fill" [style.background]="getMeterFillColor(passwordStrength)"
      [attr.data-strength]="passwordStrength"></div>
  </div>
  @if (enableFeedback && feedback) {

  @if (feedback.warning) {
  <small class="password-feedback">
    {{feedback.warning}}
  </small>
  }
  @if (feedback.suggestions && feedback.suggestions.length > 0) {
  <small class="password-feedback">
    @for (suggetion of feedback.suggestions; track suggetion) {
    {{suggetion}}
    }
  </small>
  }

  }
</div>