<li class="list-group panel" *ngIf="type">
  <a class="list-group-item d-flex justify-content-between align-items-center"
     [routerLink]="['/framework/object/type/', type.public_id]" routerLinkActive="active">
      <span class="shorten-long-text"
            data-toggle="tooltip" title="{{type.label}}">
        <i class="{{type.render_meta['icon']}}" aria-hidden="true"></i> {{type.label}}
      </span>
    <span class="badge badge-primary badge-pill ml-2">{{objectCounter}}</span>
  </a>
</li>
