@import 'src/scss/variables';

.input-wrapper-search {
  position: relative;

  i.fa-times.input-icon-clear {
    &:hover {
      cursor: pointer;
    }

    position: absolute;
    color: black;
    opacity: 0.8;
    top: calc(50% - 0.5em);
    right: 10%;
  }
}

.sidebar-menu-item:hover {
  background-color: $dg-hover-background-color;
  cursor: pointer;
}

#category-filter {
  margin-right: 10px;
  min-width: 90%;
}

.selectedMenu {
  background-color: $dg-selected-background-color;
}

#expand-button {
  background-color: rgb(233, 77, 24);
  padding: 0 15px 0 15px;
  margin: 10px 0 10px 5px;
  color: #FFFFFF;
  border: none;
  font-size: 18px;
}