<ng-container *ngIf="categoryNode">
  <a href="#{{categoryNode.category.name}}" class="list-group-item collapsed" data-toggle="collapse"
     data-parent="#sidebar-categories" aria-expanded="false">
    <span class="shorten-long-text"
          data-toggle="tooltip" title="{{categoryNode.category.label}}">
        <i [ngClass]="categoryNode.category.meta.icon ? categoryNode.category.meta.icon : 'far fa-folder-open'"></i>
      {{categoryNode.category.label}}
    </span>
  </a>
  <ul class="collapse collapse-element" id="{{categoryNode.category.name}}">
    <ng-template [ngIf]="categoryNode.children">
      <cmdb-sidebar-category *ngFor="let categoryChild of categoryNode.children;"
                             [categoryNode]="categoryChild"></cmdb-sidebar-category>
    </ng-template>
    <ng-container *ngFor="let type of categoryNode.types;">
      <cmdb-sidebar-type *permissionLink="'base.framework.object.view';acl:type.acl;requirements:'READ'" [type]="type"></cmdb-sidebar-type>
    </ng-container>
    <li class="list-group" *ngIf="categoryNode.types.length == 0 && categoryNode.children.length == 0">
      <a class="list-group-item d-flex justify-content-between align-items-center disabled">
      <span class="shorten-long-text">
        <i class="fas fa-times"></i> No types assigned
      </span>
      </a>
    </li>
  </ul>
</ng-container>
