<div id="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">General</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <fa-icon icon="tachometer-alt"></fa-icon>
          Dashboard</a>
      </li>
      <li class="nav-item">
        <a *permissionLink="['base.framework.object.add']"
           class="nav-link" routerLink="/framework/object/add" routerLinkActive="active">
          <fa-icon icon="plus"></fa-icon>
          Add Object</a>
      </li>
      <div id="sidebar-categories" class="category-tree" *ngIf="categoryTree">
        <li class="nav-title">Categories</li>
        <input id="category-filter" class="form-control form-control-sm" type="text" placeholder="Filter.."
               [formControl]="filterTerm">
        <div class="list-group panel">
          <cmdb-sidebar-category *ngFor="let categoryNode of categoryTree;"
                                 [categoryNode]="categoryNode"></cmdb-sidebar-category>
        </div>
        <ng-container *ngIf="unCategorizedTypes">
          <li class="nav-title">Uncategorized</li>
          <div class="list-group panel">
            <a [routerLink]="['/framework/object/type/', type.public_id]" routerLinkActive="active"
               *ngFor="let type of unCategorizedTypes" class="list-group-item">
              <span class="shorten-long-text" data-toggle="tooltip" title="{{type.label}}">
                  <i *ngIf="type.render_meta['icon']" class="{{type.render_meta['icon']}}"
                     aria-hidden="true"></i> {{type.label}}
              </span>
            </a>
          </div>
        </ng-container>
      </div>
    </ul>
  </nav>
</div>
