@if (headerForm) {
<div class="header-pane" [formGroup]="headerForm">
    <div class="mb-3">
        <app-toggle [id]="activationToggleId" [formControlName]="activatedControlName" [label]="activationLabel" />
    </div>

    <label class="form-label" for="sectionContentInput">{{ contentLabel }}</label>
    <editor id="sectionContentInput" [formControlName]="contentControlName" [init]="editorConfig"
        aria-describedby="sectionContentHelp"></editor>
    <small id="sectionContentHelp" class="form-text text-muted">
        {{ contentHelpText }}
    </small>
    @if (paginationHint) {
    <small class="form-text text-muted d-block mt-1">
        {{ paginationHint }}
    </small>
    }
</div>
}