<div class="row">
  <div class="col-md-3">
    <div class="card mb-3">
      <div class="card-header">Meta values</div>
    </div>
    <div class="card">
      <div class="card-header">Type fields</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li *ngFor="let typeField of typeInstance?.fields" class="list-group-item">
            {{typeField.label}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        Mapping
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
<hr/>
