@import "src/scss/variables";

.config-item {
  font-size: 0.875rem;

  i {
    &:hover {
      color: theme-color("primary");
    }
  }
}

.config-dropdown {
  min-width: 250px;

  .form-inline, .input-group {
    width: 100%;
  }
}

.config-item-icon {
  padding-top: 4px;
  color: #495057;
}

.active {
  .setting-item-icon {
    color: #FFFFFF;
  }
}
