.name-input-disabled-vibe {
  background-color: #f2f4f7;
  border-color: #d0d5dd;
  color: #667085;
}

.name-input-disabled-vibe:focus {
  background-color: #f2f4f7;
  border-color: #d0d5dd;
  box-shadow: none;
  color: #667085;
}
