<div #container class="dg-table table-container">
  <table-header
    (pageSizeChange)="pageSizeChange.emit($event)"
    (searchChange)="searchChange.emit($event)">

  </table-header>
  <table #table layout-table class="table">
    <thead table-head>
    <tr class="table-head" [ngClass]="sortAble ? 'sortable': ''">
      <th *ngIf="selection" [ngStyle]="{'width': '3rem'}">
        <div class="form-check">
          <input class="form-check-input position-static" type="checkbox" value="all"/>
        </div>
      </th>
      <th *ngFor="let column of columns" table-column-head [column]="column"></th>
    </tr>
    </thead>
    <tbody table-body>
    <tr table-row *ngFor="let item of items; let rowIndex= index" [item]="item" [rowIndex]="rowIndex">
      <!--<td *ngIf="selection" [ngStyle]="{'width': '3rem'}">
        <div class="form-check">
          <input class="form-check-input position-static" type="checkbox" [value]="item"
                 (change)="toggleRowSelection(item, $event)"/>
        </div>
      </td>-->
      <td table-cell *ngFor="let column of columns" [column]="column" [item]="item"></td>
    </tr>
    </tbody>
    <tfoot table-foot>
    </tfoot>
  </table>
  <table-footer
    [paginationEnabled]="paginationEnabled"
    [infoEnabled]="infoEnabled"
    [items]="items"
    [pageSize]="10"
    [totalItems]="totalItems"
    (pageChange)="pageChange.emit($event)">

  </table-footer>
</div>
