
<div class="card-deck" *permissionLink="['base.import.type.*', 'base.import.object.*']">
    <div class="card">
        <a routerLink="/import/object/">
            <div class="dash-card primary">
                <i class="far fa-object-ungroup"></i>
                <span class="import-text">Import Objects</span>
            </div>
        </a>
    </div>

    <div class="card">
        <a routerLink="/import/type/">
            <div class="dash-card primary">
                <i class="far fa-object-group"></i>
                <span class="import-text">Import Types</span>
            </div>
        </a>
    </div>
</div>

