<div class="modal-header bg-primary text-white">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('cancel')">
    </button>
  </div>
  
  <div class="modal-body">
    <div id="delete-message">
      Do you want to <b>delete</b> the {{ itemType }} <b>"{{ itemName }}"</b>?
      <br /><br />
      @if (item.impact) {

        This action affects <b>{{ item.impact.types }} types</b> and <b>{{ item.impact.objects }} objects</b>!
      
}
    </div>
    @if (item.impact) {

      <br />
      <div class="warning-text text-danger">
        This will delete this {{ itemType }} and its associated data. <br />
        This action cannot be undone!
      </div>
    
}
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
  </div>