<cmdb-search-result-bar [queryParameters]="queryParameters"
                        [searchResultList]="searchResultList"
                        [referenceResultList]="referenceResultList"
                        [filterResultList]="filterResultList"
                        [resolve]="resolve"
                        (refreshSearch)="reSearch($event)"></cmdb-search-result-bar>
<hr/>
<div id="search-results" class="row">
  <div [ngClass]="resolve.value ? 'col-md-6' : 'col-md-12'" id="searchResultTab">
    <div class="row">
      <div class="col-md-12" *ngIf="publicIdResult">
        <div *ngIf="publicIdResult" class="mb-2">
          <h2>Public ID</h2>
          <cmdb-search-result [searchResult]="publicIdResult">
            <hr/>
          </cmdb-search-result>
          <h2>Search Result</h2>
        </div>
      </div>
      <div class="col-md-12" *ngIf="searchResultList">
        <div *ngIf="searchResultList.total_results == 0" class="alert alert-warning" role="alert">
          Unfortunately we didn't found any objects for your request.
        </div>
        <ng-container *ngIf="searchResultList.total_results > 0">
          <cmdb-search-result *ngFor="let result of searchResultList.results" [searchResult]="result">
            <hr />
          </cmdb-search-result>
        </ng-container>
      </div>
    </div>
  </div>
  <div [ngClass]="resolve.value && referenceResultList  ? 'col-md-6' : 'd-none'"
       class="bg-light border-left border-info"
       id="referenceTab">
    <div class="col-md-12" *ngIf="referenceResultList">
      <div *ngIf="referenceResultList.total_results == 0" class="alert alert-warning" role="alert">
        Unfortunately we didn't found any reference objects for your request.
      </div>
      <ng-container *ngIf="referenceResultList.total_results > 0">
        <cmdb-search-result *ngFor="let result of referenceResultList.results" [searchResult]="result">
          <hr />
        </cmdb-search-result>
      </ng-container>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div [ngClass]="resolve.value ? 'col-md-6' : 'col-md-12'">
        <jw-pagination #paginationComponent [pageSize]="limit" [items]="maxNumberOfSites"
                       (changePage)="onChangePage($event)"></jw-pagination>
      </div>
      <div [ngClass]="resolve.value && referenceResultList  ? 'col-md-6' : 'd-none'"
           class="bg-light border-left border-info">
        <jw-pagination #paginationComponentRef [pageSize]="limitRef" [items]="maxNumberOfSitesRef"
                       (changePage)="onChangePageRef($event)"></jw-pagination>
      </div>
    </div>
  </div>
</div>
