<cmdb-search-result-bar [queryParameters]="queryParameters"
                        [searchResultList]="searchResultList"
                        [filterResultList]="filterResultList"
                        [resolve]="resolve"
                        (refreshSearch)="reSearch($event)"></cmdb-search-result-bar>

<hr/>
<div id="search-results" class="row">
  <div class="col-md-12" *ngIf="searchResultList">
    <div *ngIf="searchResultList.total_results == 0" class="alert alert-warning" role="alert">
      Unfortunately we didn't found any objects for your request.
    </div>
    <ng-container *ngIf="searchResultList.total_results > 0">
      <cmdb-search-result *ngFor="let result of searchResultList.results" [searchResult]="result">
        <hr />
      </cmdb-search-result>
      <jw-pagination #paginationComponent [pageSize]="limit" [items]="maxNumberOfSites" (changePage)="onChangePage($event)"></jw-pagination>
    </ng-container>
  </div>
</div>
