<div class="bg-light ">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 d-none d-lg-block">
        <a href="https://datagerry.com/" target="_blank" class="text-muted">
          <img src="/assets/img/datagerry_logo.svg" class="img-fluid" alt="DATAGERRY"/>
          <h2 class="font-weight-light">Your IT is driving you nuts?</h2>
        </a>
      </div>
      <div class="col-lg-6">
        <h2 class="font-weight-light">Flexible Asset-Management</h2>
        <p class="lead text-muted mb-0">DATAGERRY is an OpenSource Asset Management Tool & CMDB,
          which completely leaves the definition of a data model to the user.
        </p>
        <p class="lead text-muted">powered by <a href="https://www.nethinks.com/" target="_blank" class="text-muted">
          <u>NETHINKS GmbH</u></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <header class="text-center">
    <h1 class="display-4 font-weight-light">Resources</h1>
  </header>
  <div class="container py-5">
    <div class="row text-center">
      <!-- Demo -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
          <div class="icon display-1 text-center mb-4">
            <i class="fas fa-desktop text-muted"></i>
          </div>
          <h5 class="mb-0">DATA GERRY Website</h5>
          <ul class="social mb-0 list-inline mt-3">
            <a href="https://www.datagerry.com" target="_blank" type="button" class="btn btn-outline-primary text-uppercase">
              Visit Now
            </a>
          </ul>
        </div>
      </div>
      <!-- END Demo -->

      <!-- Download -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
          <div class="icon display-1 text-center mb-4">
            <i class="fas fa-download text-muted"></i>
          </div>
          <h5 class="mb-0">Download</h5>
          <ul class="social mb-0 list-inline mt-3">
            <a href="http://files.datagerry.com" target="_blank" type="button" class="btn btn-outline-primary text-uppercase">Let's go</a>
          </ul>
        </div>
      </div>
      <!-- END Download -->

      <!-- Documentation -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
          <div class="icon display-1 text-center mb-4">
            <i class="fas fa-book text-muted"></i>
          </div>
          <h5 class="mb-0">Documentation</h5>
          <ul class="social mb-0 list-inline mt-3">
            <a href="https://docs.datagerry.com" target="_blank" type="button" class="btn btn-outline-primary text-uppercase">
              Read me</a>
          </ul>
        </div>
      </div>
      <!-- END Documentation -->

      <!-- Community Support -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
          <div class="icon display-1 text-center mb-4">
            <i class="fas fa-comments text-muted"></i>
          </div>
          <h5 class="mb-0">Community Support</h5>
          <ul class="social mb-0 list-inline mt-3">
            <a href="https://community.datagerry.com" target="_blank" type="button" class="btn btn-outline-primary text-uppercase">Let's go</a>
          </ul>
        </div>
      </div>
      <!-- END Community Support -->

      <!-- Source Code / Github -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
          <div class="icon display-1 text-center mb-4">
            <i class="fab fa-github text-muted"></i>
          </div>
          <h5 class="mb-0">Source Code / Github</h5>
          <ul class="social mb-0 list-inline mt-3">
            <a href="https://source.datagerry.com" target="_blank" type="button" class="btn btn-outline-primary text-uppercase">Let's go</a>
          </ul>
        </div>
      </div>
      <!-- END Source Code / Github -->

      <!-- Issue Tracker / JIRA -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="shadow p-3 mb-5 bg-white rounded py-5 px-4">
          <div class="icon display-1 text-center mb-4">
            <fa-icon class="text-muted" [icon]="['fab', 'atlassian']"></fa-icon>
          </div>
          <h5 class="mb-0">Issue Tracker / JIRA</h5>
          <ul class="social mb-0 list-inline mt-3">
            <a href="https://issues.datagerry.com" target="_blank" type="button" class="btn btn-outline-primary text-uppercase">Let's go</a>
          </ul>
        </div>
      </div>
      <!-- END Issue Tracker / JIRA -->
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <header class="text-center">
    <h1 class="display-4 font-weight-light">Professional Services</h1>
  </header>
  <div class="container py-5">

    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="font-weight-light">Consulting</h2>
        <p class="font-italic text-muted mb-4">
          You have a tough nut to crack? In a workshop,
          one of our friendly and experienced consulting
          staff will work with you to get DATAGERRY integrated in our environment.
        </p>
        <a href="https://datagerry.com/" target="_blank"
           class="btn btn-light px-5 rounded-pill shadow">
          Read More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2" >
        <div class="icon display-1 text-center mb-4"><i class="fas fa-users"></i></div>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-lg-5 px-5 mx-auto">
        <div class="icon display-1 text-center mb-4"><i class="fas fa-user-graduate"></i></div>
      </div>
      <div class="col-lg-6">
        <h2 class="font-weight-light">Training</h2>
        <p class="font-italic text-muted mb-4">
          For getting a good start, we provide our Admin Training course,
          which we can hold onsite or as a shared course at our office.</p>
        <a href="https://datagerry.com/" target="_blank" class="btn btn-light px-5 rounded-pill shadow">Read More</a>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="font-weight-light">Custom Development</h2>
        <p class="font-italic text-muted mb-4">
          If you need a function in DATAGERRY that does not exist yet,
          please contact our sales team and we will check together,
          how we can improve DATAGERRY to meet your requirements.
        </p>
        <a href="https://datagerry.com/" target="_blank" class="btn btn-light px-5 rounded-pill shadow">Read More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <div class="icon display-1 text-center mb-4"><i class="fas fa-users-cog"></i></div>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-lg-5 px-5 mx-auto">
        <div class="icon display-1 text-center mb-4"><i class="fas fa-chalkboard-teacher"></i></div>
      </div>
      <div class="col-lg-6">
        <h2 class="font-weight-light">Support Contracts</h2>
        <p class="font-italic text-muted mb-4">
          If DATAGERRY is an essential part of your IT environment,
          it is important to have fire brigade standby, if something goes wrong.</p>
        <a href="https://datagerry.com/" target="_blank" class="btn btn-light px-5 rounded-pill shadow">Read More</a>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="font-weight-light">OpenSource (AGPLv3)</h2>
        <p class="font-italic text-muted mb-4">
          The GNU Affero General Public License is a free,
          copyleft license published by the Free Software Foundation in November 2007,
          and based on the GNU General Public License, version 3 and the Affero General Public License.
        </p>
        <a href="/info/license" target="_blank" class="btn btn-light px-5 rounded-pill shadow">Read More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <div class="icon display-1 text-center mb-4"><i class="fas fa-lock-open"></i></div>
      </div>
    </div>
  </div>
</div>
