<dg-modal
    icon="fas fa-trash-can"
    eyebrow="Data Set"
    title="Delete Data Set"
    (dismiss)="activeModal.close(false)">

    <p class="delete-lead">
        Are you sure you want to <b>delete</b> this data set?
    </p>

    <app-button
        dgModalFooter
        bootstrapClass="btn-secondary"
        label="Close"
        type="button"
        (clicked)="activeModal.close(false)">
    </app-button>

    <app-button
        dgModalFooter
        bootstrapClass="btn-danger"
        label="Delete"
        type="button"
        icon="fas fa-trash-can"
        (clicked)="activeModal.close(true)">
    </app-button>
</dg-modal>
