<fieldset>
    <legend>{{section?.label}}</legend>

    @if(showAddButton()) {
        <button type="button" class="btn btn-success btn-sm mr-1 add-row-button" (click)="onAddRowClicked()">
            <i class="fas fa-plus"></i> Add
        </button>
    }

    <cmdb-table
        *ngIf="!updateRequired"
        [columns]="multiDataColumns"
        [items]="multiDataValues"
        [pageSizeEnabled]="false"
        [totalItems]="totalCount"
        [searchEnabled]="false"
    />
</fieldset>

<ng-template #actionsTemplate let-item="item">
    <cmdb-multi-data-actions
        [data]="item"
        (previewRowEmitter)="onRowPreview($event)"
        (editRowEmitter)="onRowEdit($event)"
        (deleteRowEmitter)="onRowDelete($event)"
    />
</ng-template>

<hr/>