<div class="mb-3">
    <label *ngIf="label" class="form-label mb-1 mt-3">
      {{ label }}
      <span *ngIf="required" class="text-danger">*</span>
    </label>
    <input
      [type]="type"
      class="form-control"
      [disabled]="disabled"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onBlur()"
      [readonly]="readonly"
      [class.bg-light]="readonly"
      [class.text-muted]="readonly"
    />
    <div class="invalid-feedback d-block" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
  