<div class="mb-3">
    @if (label) {
<label class="form-label mb-1 mt-3" [attr.for]="controlId">
      {{ label }}
      @if (required) {
<span class="text-danger">*</span>
}
    </label>
}
    <input
      [id]="controlId"
      [type]="type"
      class="form-control"
      [attr.aria-invalid]="errorMessage ? true : null"
      [attr.aria-describedby]="errorMessage ? controlId + '-error' : null"
      [disabled]="disabled"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onBlur()"
      [readonly]="readonly"
      [class.bg-light]="readonly"
      [class.text-muted]="readonly"
    />
    @if (errorMessage) {
<div class="invalid-feedback d-block" [id]="controlId + '-error'">
      {{ errorMessage }}
    </div>
}
  </div>
  