@if (tree) {
@if (mode == 2) {
<ul class="dnd drop-zone" [ngClass]="tree.length == 0 ? 'min-h': ''" dndDropzone (dndDrop)="onDrop($event, tree)">
  <li class="drop-zone p-2" dndPlaceholderRef data-content=" "></li>
  @for (node of tree; track node; let i = $index) {
  <li [dndDraggable]="node" dndEffectAllowed="move" (dndMoved)="onDragged(node, tree, 'move')">
    <cmdb-category-node [mode]="mode" [node]="node"
      (change)="change.emit($event)">{{node.category.label}}</cmdb-category-node>
    <cmdb-category-tree [mode]="mode" [tree]="node.children" (change)="change.emit($event)"></cmdb-category-tree>
  </li>
  }
</ul>
} @else {
<ul>
  @for (node of tree; track node; let i = $index) {
  <li>
    <cmdb-category-node [mode]="mode" [node]="node">{{node.category.label}}</cmdb-category-node>
    <cmdb-category-tree [mode]="mode" [tree]="node.children"></cmdb-category-tree>
  </li>
  }
</ul>
}
}