<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Object Groups</h2>
  <button class="btn btn-sm btn-success" (click)="onAddNew()" *permissionLink="'base.framework.objectGroup.add'">
    <i class="fas fa-plus"></i> Add
  </button>
</div>
<hr />
<div *permissionLink="'base.framework.objectGroup.view'">
<cmdb-table [items]="objectGroups" [columns]="columns" [page]="page" [sort]="sort" [id]="'object-groups-table'"
  [stateEnabled]="false" [emptyMessage]="'No object groups found.'" [totalItems]="totalObjectGroups"
  [selectEnabled]="false" [loading]="loading" [pageSize]="limit" [toggleable]="true"
  [initialVisibleColumns]="initialVisibleColumns" (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)" (sortChange)="onSortChange($event)"
  (searchChange)="onSearchChange($event)"></cmdb-table>
</div>

<!-- Action Template for the table -->
<ng-template #actionTemplate let-data="data" let-item="item">
  <i class="far fa-eye spacing-right icon-view spacing-right" (click)="onView(item)" title="View Object Group"
    *permissionLink="'base.framework.objectGroup.view'"></i>
  <i class="far fa-edit icon-margin icon-edit spacing-right" (click)="onEdit(item)" title="Edit Object Group"
    *permissionLink="'base.framework.objectGroup.edit'"></i>

  <i class="far fa-trash-alt icon-delete" (click)="onDelete(item)" title="Delete Object Group"
    *permissionLink="'base.framework.objectGroup.delete'"></i>
</ng-template>

<ng-template #categoriesTemplate let-data="data" let-item="item">
  <span style="font-weight: 600;">{{ getCategoryNames(data) }}</span>
</ng-template>

<app-loading-popup [isVisible]="isLoading$ | async" message="We're Processing the Data..."></app-loading-popup>