    <div>

        <div class="mb-3">
            <label class="mb-1">Audit Done Date</label>
            <app-form-date [formControl]="parentForm.get('audit_done_date')"></app-form-date>
        </div>

        <div class="form-block mt-4">
          <label class="mb-1">Auditor</label>
        
          <app-form-select
              class="w-100"
              [items]="auditorOptions"
              bindLabel="display_name"
              bindValue="public_id"
              groupBy="group"
              placeholder="Select..."
              [formControl]="parentForm.get('auditor_id')"
              (selectedItemChange)="onAuditorSelected($event)">
          </app-form-select>
        </div>

        <div class="mb-3">
            <label class="mb-1">Audit Result</label>
            <app-form-textarea [formControl]="parentForm.get('audit_result')"></app-form-textarea>
        </div>

    </div>