<ng-container *ngIf="column.template" [ngTemplateOutlet]="column.template"
              [ngTemplateOutletContext]="{ data: data, item: item, column: column}"></ng-container>
              <div [ngClass]="{'row-hoverable': isViewAndEditRequired}" class="clickable-container" (click)="handleObjectView()" (dblclick)="handleObjectEdit()">
                <ng-container *ngIf="data && !column.template">
                  <span>{{data}}</span>
                </ng-container>
              </div>              