<form [formGroup]="configForm" class="config-form">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="start_element">
            Start at object
        </label>
        <div class="col-sm-9">
            <input id="start_element" name="start_element" type="number" class="form-control"
                formControlName="start_element">
            <span class="form-text">Start import with object at place</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="max_elements">
            Objects to import
        </label>
        <div class="col-sm-9">
            <input id="max_elements" name="max_elements" type="number" class="form-control"
                formControlName="max_elements">
            <span class="form-text">Maximum number of objects to import. Use 0 to import all objects.</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="overwrite_public">
            Overwrite Public ID
        </label>
        <div class="col-sm-9">
            <div class="form-check form-switch">
                <input id="overwrite_public" name="overwrite_public" type="checkbox" class="form-check-input"
                    formControlName="overwrite_public">
            </div>
            <span class="form-text">Update objects if Public ID exists</span>
        </div>
    </div>
</form>

<div class="step-actions">
    <app-button label="Previous Step" icon="fas fa-angle-double-left" bootstrapClass="btn-warning"
        awPreviousStep></app-button>
    <app-button label="Next Step" bootstrapClass="btn-primary" awNextStep></app-button>
</div>