<fieldset [ngSwitch]="mode">
  <legend>{{section?.label}}</legend>
  <ng-container *ngSwitchCase="MODES.View">
    <div class="object-renderInstance" *ngFor="let field of section?.reference?.selected_fields">
      <cmdb-render-element [mode]="mode" [parentFormGroup]="form" [data]="getFieldByName(field)"
                           [changeForm]="changeForm" [section]="section"
                           [value]="getValueByName(field)"></cmdb-render-element>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="object-renderInstance">
      <cmdb-render-element [mode]="mode" [parentFormGroup]="form" [data]="referenceField"
                           [changeForm]="changeForm" [section]="section"></cmdb-render-element>
    </div>
  </ng-container>
  <div *ngIf="referencedType && referenceField" class="object-reference-label">
    <small class="text-muted">from
      <a [routerLink]="['/', 'framework', 'object', 'type', referencedType.public_id]">{{referencedType.label}}</a>
      #<a [routerLink]="['/', 'framework', 'object', 'view', referenceField.value]">{{referenceField.value}}</a>
    </small>
  </div>
</fieldset>
