<div class="form-group mb-2 row" [formGroup]="parentFormGroup">
  <label class="col-sm-3 col-form-label">
    {{data.label}}: <span class="required" *ngIf="data?.required">*</span>
  </label>
  <div class="col-sm-9">
    <div class="input-group input-group-sm ">
      <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="mode == MODES.View">
          <input type="text" name="{{data.name}}" [placeholder]="datePlaceholder" class="form-control"
                 [formControlName]="data.name" ngbDatepicker #d="ngbDatepicker"/>
          <div class="input-group-append">
            <span class="input-group-text" (click)="copyToClipboard()">
              <fa-icon [icon]="['far', 'clipboard']"></fa-icon>
            </span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="mode == MODES.Create || mode == MODES.Edit || mode == MODES.Bulk">
          <cmdb-object-bulk-input-appends *ngIf="mode == MODES.Bulk" [data]="data" [controller]="controller"
                                          [changeForm]="changeForm"></cmdb-object-bulk-input-appends>
            <input type="text" name="{{data.name}}" class="form-control" [placeholder]="datePlaceholder"
                   [formControlName]="data.name"
                   ngbDatepicker #d="ngbDatepicker"
                   [ngClass]="{ 'is-valid': controller.valid && (controller.dirty || controller.touched),
                   'is-invalid': controller.invalid && (controller.dirty || controller.touched)}" readonly/>
            <div class="input-group-append input-group-sm">
              <span class="input-group-text" (click)="d.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </span>
            </div>
            <cmdb-input-appends [data]="data" [mode]="mode" [parentFormGroup]="parentFormGroup"></cmdb-input-appends>
            <div class="input-group-append input-group-sm">
              <span class="input-group-text text-danger" (click)="resetDate()">
                  <i class="far fa-window-close"></i>
                </span>
            </div>
        </ng-container>
        <div *ngSwitchDefault>
          <cmdb-mode-error></cmdb-mode-error>
        </div>
      </ng-container>
      <div *ngIf="controller.invalid && (controller.dirty || controller.touched)" class="invalid-feedback">
        <div class="float-right" *ngIf="controller.errors?.required">
          {{data.label}} is a required field.
        </div>
        <div class="float-right" *ngIf="controller.errors?.pattern">
          {{data.value}} your input does not match the set regex pattern: {{data.regex}}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <small class="description form-text text-muted">{{data?.description}}</small>
  </div>
</div>
