{% extends 'layout.html' %}
{% set object_type = render.type_instance %}
{% from 'includes/_render_macros.html' import render_form_wrapper, render_object with context %}
{% block title %}Add object of type {{ object_type.get_label() }}{% endblock %}
{% block navigation %}
    {% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Add new object of <a
                            href="/type/{{ object_type.get_public_id() }}">{{ object_type.get_label() }}</a></h1>
                    <hr/>
                    {{ render_form_wrapper(request.url , render_object(render)) }}
                </div>
            </div>
            {{ super() }}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('cmdb_object_form');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
{% if mode == 'DEBUG' %}
    {% block debug %}
        <h2>Render</h2>
        <hr>
        <pre>{{ render }}</pre>
        <h2>Type instance</h2>
        <hr>
        <pre>{{ object_type }}</pre>
        <h2>Request</h2>
        <hr>
        <pre>{{ request }}</pre>
    {% endblock %}
{% endif %}