{% extends 'layout.html' %}
{% block title %}
    Delete object ID: #{{ delete_object.get_public_id() }}
{% endblock %}
{% block navigation %}
    {% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Object deleted</h4>
                <p>
                    Object with the ID#<strong>#{{ delete_object.get_public_id() }}</strong> was deleted</p>
                <hr>
            </div>
            {{ super() }}
        </div>
    </div>
{% endblock %}


{% if mode == 'DEBUG' %}
    {% block debug %}
        <h2>Delete backup object</h2>
        <hr/>
        {{ delete_object }}
        <h2>Delete token</h2>
        <hr/>
        {{ delete_token }}
    {% endblock %}
{% endif %}