{% extends 'layout.html' %}
{% block title %}
    Confirm delete object ID: #{{ delete_object.get_public_id() }}
{% endblock %}
{% block navigation %}
    {% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Deleting object</h4>
                <p>Are you sure you want to delete the following CMDB object?
                    <strong>#{{ delete_object.get_public_id() }}</strong></p>
                <hr>
                <form action="{{ request.path }}" method="post">
                    <input type="hidden" name="delete_token" value="{{ delete_token }}"/>
                    <p class="mb-0">
                        <button type="submit" class="btn btn-warning">Delete!</button>
                    </p>
                </form>
            </div>
            {{ super() }}
        </div>
    </div>
{% endblock %}


{% if mode == 'DEBUG' %}
    {% block debug %}
        <h2>Delete token</h2>
        <hr/>
        {{ delete_token }}
        <h2>Delete backup object</h2>
        <hr/>
        {{ delete_object }}
    {% endblock %}
{% endif %}