{% extends 'layout.html' %}
{% from "includes/_render_macros.html" import render_object_view with context %}
{% block title %}Object list{% endblock %}
{% block navigation %}
    {% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Object list - all types</h1>
                    <hr/>
                    <table data-order='[[ 6, "desc" ]]' class="data_table table">
                        <thead class="thead">
                        <tr>
                            <th scope="col">Active</th>
                            <th scope="col">Public ID</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Version</th>
                            <th scope="col">Author</th>
                            <th scope="col">Creation time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for current_object in all_objects %}
                            <tr>
                                <td>{{ current_object.active | label_active }}</td>
                                <td><a href="/object/{{ current_object.public_id }}">{{ current_object.public_id }}</a>
                                </td>
                                <td>{{ object_manager.get_type(current_object.type_id).get_name() }}</td>
                                <td>{% set current_status = object_manager.get_status(current_object.status) %}
                                    {% if current_status %}
                                        <span class="badge"
                                              style="background-color: {{ current_status.get_color() }}">{{ current_status.get_label() }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ current_object.version }}</td>
                                <td>{{ user_manager.get_user(current_object.author_id).get_name() }}</td>
                                <td>{{ current_object.creation_time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {{ super() }}
        </div>
    </div>
{% endblock %}