{% extends 'layout.html' %}
{% from "includes/_render_macros.html" import render_summaries with context %}
{% from "includes/_render_table_macros.html" import render_table with context %}
{% block title %}Newest objects{% endblock %}
{% block navigation %}
    {% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Newest objects</h1>
                <hr/>
                {% if newest_objects | length > 0 %}
                {% set _table_content %}
                {% for current_render in newest_objects %}
                    <tr>
                        <td>{{ current_render.object_instance.active | label_active }}</td>
                        <td>
                            <a href="/object/{{ current_render.object_instance.public_id }}">
                                {{ current_render.object_instance.public_id }}
                            </a>
                        </td>
                        <td>
                            <a href="/object/{{ current_render.type_instance.get_public_id() }}">
                                {{ current_render.type_instance.get_label() }}
                            </a>
                        </td>
                        <td>{{ render_summaries(current_render.get_summaries()) }}</td>
                        <td>{{ current_render.object_instance.version }}</td>
                        <td>{{ current_render.object_instance.author_id }}</td>
                        <td>{{ current_render.object_instance.creation_time | encode_date }}</td>
                    </tr>
                {% endfor %}
                {% endset %}
                {{ render_table(
                                headlines=["Active", "Public ID", "Type", "Summary", "Version", "Author", "Creation time"],
                                content=_table_content, data_order='[[ 6, "desc" ]]') }}
                {% else %}
                <div class="alert alert-warning" role="alert">
                    No objects exist.
                </div>
                {% endif %}
            </div>
        </div>

        {{ super() }}
    </div>
</div>
{% endblock %}
{% if mode == 'DEBUG' %}
    {% block debug %}
        <h2>Newest list</h2>
        <hr>
        {{ newest_objects }}
    {% endblock %}
{% endif %}