{% extends 'layout.html' %}
{% from "includes/_render_macros.html" import render_object with context %}
{% block title %}View #{{ view_object.get_public_id() }} {{ view_type.get_label() }}{% endblock %}
{% block navigation %}
    {% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="{% if render.has_external() == False or render.all_externals_empty() %}col-12{% else %}col-8{% endif %}">
                            <div class="card">
                                <h5 class="card-header">
                                    #{{ view_object.get_public_id() }} {{ view_type.get_label() }}
                                    <span class="badge badge-secondary float-right">v{{ view_object.version }}</span>
                                    {% if view_object.status %}
                                        <span class="badge badge-primary float-right mr-1">{{ view_object.status }}</span>{% endif %}
                                </h5>
                                {% if render.has_summary() %}
                                    <div class="card-body">
                                        <table class="table table-sm">
                                            <tbody>
                                            {% for summary in view_type.render_meta['summary'] %}
                                                <tr name="{{ summary['name'] }}">
                                                    <th{% if loop.first %} class="border-top-0" {% endif %}scope="row">
                                                        <b>{{ summary['label'] }}:</b></th>
                                                    <td{% if loop.first %} class="border-top-0" {% endif %}>
                                                        {% for field_name in summary['fields'] %}
                                                            {{ view_object.get_value(field_name) }}
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                        {% if render.has_external() == True and not render.all_externals_empty() %}
                            <div class="col-4">
                                <div class="card">
                                    <h5 class="card-header">
                                        External links
                                    </h5>
                                    <div class="card-body">
                                        <table class="table table-sm">
                                            <tbody>
                                            {% for ext_link in view_type.render_meta['external'] %}
                                                <tr>
                                                    <th{% if loop.first %}
                                                        class="border-top-0" {% endif %}scope="row">
                                                        <i class="{{ ext_link['icon'] }}"></i></th>
                                                    <td{% if loop.first %} class="border-top-0" {% endif %}>
                                                        <a href="{{ ext_link['href'].format(view_object.get_values(*ext_link['fields'])) }}"
                                                           target="_blank">{{ ext_link['label'] }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div id="object_content" class="col-md-12 mt-3">
                            <div class="card">
                                <h5 class="card-header">Content</h5>
                                <div class="card-body">
                                    {{ render_object(render) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <div class="tabbable">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active show" href="#object-logs" data-toggle="tab">Logs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#object-references" data-toggle="tab">References
                                            <small>({{ references|length }})</small>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#object-links" data-toggle="tab">Links</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane mt-2" id="object-references">
                                        {% if references|length < 1 or references == None %}
                                            <div class="alert alert-primary" role="alert">
                                                No references found
                                            </div>
                                        {% else %}
                                            <table data-order='[[ 0, "asc" ]]' class="data_table table table-striped">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Public ID</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">Link</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for ref in references %}
                                                    <tr>
                                                        <th scope="row">{{ ref.get_public_id() }}</th>
                                                        <td>{{ object_manager.get_type(ref.get_type_id()).get_label() }}</td>
                                                        <td><a href="/object/{{ ref.get_public_id() }}"><i
                                                                class="fas fa-angle-double-right"></i></a></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                    </div>
                                    <div class="tab-pane" id="object-links">
                                        Links
                                    </div>
                                    <div class="tab-pane active show" id="object-logs">
                                        {% set logs = render.get_logs() %}
                                        {% if logs %}
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Author</th>
                                                    <th scope="col">Action</th>
                                                    <th scope="col">Message</th>
                                                    <th scope="col">Log state</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for log in logs %}
                                                    <tr>
                                                        <th scope="row">{{ log.get_date() }}</th>
                                                        <td>{{ user_manager.get_user(log.author_id).get_name() }}</td>
                                                        <td>{{ log.get_action() }}</td>
                                                        <td>{{ log.get_message() }}</td>
                                                        {% if log.get_state() %}
                                                            <td>
                                                                <a href="/object/{{ view_object.get_public_id() }}/{{ log.get_state() }}">View</a>
                                                            </td>
                                                        {% else %}
                                                            <td></td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <div class="alert alert-primary" role="alert">
                                                Empty logs
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" id="object_view_meta">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="object_code"></div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="card">
                                <h5 class="card-header">
                                    Object actions
                                </h5>
                                <div class="card-body">
                                    <div class="list-group list-group-flush">
                                        <a href="/object/type/{{ view_type.get_public_id() }}/list/"
                                           class="list-group-item list-group-item-action">
                                            <i class="fas fa-list-ol"></i> View list
                                        </a>
                                        <a href="/object/type/{{ view_type.get_public_id() }}/add/"
                                           class="list-group-item list-group-item-action">
                                            <i class="fas fa-plus-square"></i> Add new
                                        </a>
                                        <a href="/object/{{ view_object.get_public_id() }}/copy"
                                           class="list-group-item list-group-item-action">
                                            <i class="fas fa-clone"></i> Copy object
                                        </a>
                                        <a href="/object/{{ view_object.get_public_id() }}/edit/"
                                           class="list-group-item list-group-item-action">
                                            <i class="fas fa-edit"></i> Edit object
                                        </a>
                                        <a href="/object/{{ view_object.get_public_id() }}/delete/"
                                           class="list-group-item list-group-item-action">
                                            <i class="fas fa-trash-alt"></i> Delete object
                                        </a>
                                    </div>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="card">
                                <h5 class="card-header">
                                    Meta informations
                                </h5>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <tbody>
                                        <tr>
                                            <th class="border-top-0" scope="row">public id</th>
                                            <td class="border-top-0">{{ view_object.get_public_id() }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">type</th>
                                            <td>{{ view_type.get_label() }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">views</th>
                                            <td>{{ view_object.views }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">edits</th>
                                            <td>{{ (view_object.get_logs()|length-1) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">author</th>
                                            <td>{{ author_name }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">creation time</th>
                                            <td>{{ view_object.creation_time }}</td>
                                        </tr>
                                        {% if view_object.last_edit_time %}
                                            <tr>
                                                <th scope="row">last edit</th>
                                                <td>{{ view_object.last_edit_time }}</td>
                                            </tr>{% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {{ super() }}
        </div>
    </div>

{% endblock %}
{% if mode == 'DEBUG' %}
    {% block debug %}
        <h2>Render</h2>
        <hr>
        <pre>{{ render }}</pre>
    {% endblock %}
{% endif %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        cmdb.$('#object_code').qr_code("{{ request.url }}");
    </script>
{% endblock %}