<div id="renderModeWrapper"
     *ngIf="renderResult; then renderResultTemplate else mergeBlockTemplate"></div>
<ng-template #renderResultTemplate>
  <cmdb-sections-factory
    [mode]="mode" [form]="renderForm" [changeForm]="changeForm"
    [sections]="renderResult.sections" [fields]="renderResult.fields" [values]="renderResult.fields">
  </cmdb-sections-factory>
</ng-template>
<ng-template #mergeBlockTemplate>
  <cmdb-sections-factory
    [mode]="mode" [form]="renderForm" [changeForm]="changeForm"
    [sections]="typeInstance?.render_meta?.sections" [fields]="typeInstance?.fields" [values]="objectInstance?.fields">
  </cmdb-sections-factory>
</ng-template>
