<fieldset *ngFor="let section of typeInstance?.render_meta?.sections">
  <legend>{{section?.label}}</legend>
  <div *ngFor="let field of section?.fields">
    <cmdb-render-element [mode]="mode" [parentFormGroup]="renderForm" [data]="getFieldByName(field)"
                         [value]="getValueByName(field)"></cmdb-render-element>
  </div>
</fieldset>

<ng-container *ngIf="mode === MODES.Simple">
  <cmdb-render-element [mode]="mode" [data]="currentField"
                       [value]="currentField?.value"></cmdb-render-element>
</ng-container>
