<h1>{{title}} <small class="text-muted">{{description}}</small></h1>
<hr/>

<cmdb-table [id]="id" [columns]="columns" [items]="users" [loading]="loading"
            [customButtons]="[buttonTemplate]" [sort]="sort" [pageSize]="params.limit" [page]="params.page"
            [totalItems]="totalUsers" [stateEnabled]="true"
            (stateChange)="onStateChange($event)" (stateSelect)="onStateSelect($event)" (stateReset)="onStateReset()"
            (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"
            (sortChange)="onSortChange($event)" (searchChange)="onSearchChange($event)">
</cmdb-table>

<!-- Custom table buttons -->
<ng-template #addButtonTemplate>
  <button *permissionLink="'base.user-management.user.add'" [routerLink]="['/', 'management','users', 'add']"
          type="button" class="btn btn-sm btn-success mr-1 ml-1">
    <i class="fas fa-plus"></i> Add
  </button>
</ng-template>

<!-- Table templates -->
<ng-template #groupTemplate let-data="data">
  <cmdb-user-table-group-cell [groups]="groups" [groupID]="data" [group]="getGroupByID(data)"
                              [groupLoadingStack]="groupLoadingStack"></cmdb-user-table-group-cell>
</ng-template>

<ng-template #dateTemplate let-data="data">
  {{data | dateFormatter}}
</ng-template>

<ng-template #actionsTemplate let-item="item">
  <cmdb-user-table-actions [user]="item" (passWordAction)="onPasswordChange($event)"></cmdb-user-table-actions>
</ng-template>
