<div class="bg-light py-5">
  <header class="text-center">
    <h1 class="display-4 font-weight-light">Our team</h1>
  </header>
  <div class="container py-5">
    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="/assets/img/avatar.png"
               alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Kai Schubert-Altmann</h5><span class="small text-uppercase text-muted">Project Management</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><i class="far fa-envelope text-primary"></i>kai.schubert-altmann&#64;becon.de</li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="/assets/img/avatar.png"
               alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Adnan Smajic</h5><span class="small text-uppercase text-muted">Development</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><i class="far fa-envelope text-primary"></i>adnan.smajic&#64;becon.de</li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="/assets/img/avatar.png"
               alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Abdullah Khalid</h5><span class="small text-uppercase text-muted">Development</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><i class="far fa-envelope text-primary"></i>abdullah.khalid&#64;becon.de</li>
          </ul>
        </div>
      </div>
      <!-- End-->
    </div>
  </div>
</div>
