<h1>Edit of {{renderResult?.type_information?.type_label}} #{{objectInstance?.public_id}}</h1>
<hr/>
<div id="object-edit" class="card">
  <div class="card-body">
    <form [formGroup]="renderForm" class="renderForm needs-validation" novalidate autocomplete="off"
          (ngSubmit)="editObject()">
      <cmdb-render [renderResult]="renderResult" [mode]="mode"
                   [renderForm]="renderForm"></cmdb-render>
      <hr/>
      <form [formGroup]="commitForm" class="renderForm needs-validation" novalidate autocomplete="off">
        <fieldset class="log-comment">
          <legend>Edit comment</legend>
          <div class="input-group">
          <textarea maxlength="255" class="form-control" formControlName="comment" id="edit_comment"
                    rows="3"></textarea>
          </div>
          <small class="description form-text text-muted">The comment is only listed in the logs and should be additional
            information about the change.</small>
        </fieldset>
      </form>
      <button type="submit" class="btn btn-outline-success mr-2" [disabled]="!renderForm.dirty">Save</button>
      <button class="btn btn-outline-danger"
              routerLink="/framework/object/view/{{objectInstance?.public_id}}">Cancel
      </button>
    </form>
  </div>
</div>
