<div *permissionLink="'base.isms.riskClass.view'">
  <div class="d-flex justify-content-between align-items-center mb-2 mt-2 mb-2">
    <h1>Risk Classes</h1>
    <button type="button" class="btn btn-sm btn-success" (click)="addRiskClass()"
      [disabled]="this.totalRiskClasses >= 10" *permissionLink="'base.isms.riskClass.add'">
      <i class="fas fa-plus"></i> Add
    </button>
  </div>

  <hr />
  <!--  Warning Alert -->
  @if (this.riskClasses.length < 3) { <app-warning-alert iconClass="fas fa-info-circle warning-icon"
    title="Insufficient Risk Classes:" message="You need to define at least 3 risk classes to proceed.">
    </app-warning-alert>
    }

    @if (this.riskClasses.length >= 3) {
    <app-warning-alert iconClass="fas fa-sort-amount-down warning-icon" title="Structural Advisory:"
      message="Please ensure your risk classes are sorted from high to low risk height.">
    </app-warning-alert>
    }

    <!-- (cmdb-table) -->
    <cmdb-table [items]="riskClasses" [columns]="columns" [totalItems]="totalRiskClasses" [pageSize]="limit"
      [page]="page" [loading]="loading" [paginationEnabled]="false" [pageSizeEnabled]="false" [searchEnabled]="false"
      [draggableEnabled]="true" [pageSizeEnabled]="false" [infoEnabled]="false" (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)" (orderChange)="onOrderChange($event)">
    </cmdb-table>
</div>

<!-- Color Template -->
<ng-template #colorTemplate let-item="item">
  <div class="color-cell" [style.backgroundColor]="item.color" [style.color]="item.textColor">
    {{ item.color }}
  </div>
</ng-template>


<!-- Actions Template -->
<ng-template #actionsTemplate let-item="item">
  <span *permissionLink="'base.isms.riskClass.edit'">
    <i class="far fa-edit icon-margin icon-edit spacing-right" (click)="editRiskClass(item)"
      title="Edit Risk Class"></i>
  </span>
  <span *permissionLink="'base.isms.riskClass.delete'">
    <i class="far fa-trash-alt icon-delete" (click)="onDeleteRiskClass(item)" title="Delete Risk Class"></i>
  </span>
</ng-template>


<app-loading-popup [isVisible]="isLoading$ | async" message="We're Processing the Data..."></app-loading-popup>