@import 'src/scss/variables';

.ref-disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.ref-simple-select {
  background: None!important;
}

.viewMode{
background-color: #e9ecef;
}


.warning {
  color: $dg-primary-color;
  font-weight: 500;
}