<div class="row mb-3" [formGroup]="parentFormGroup">
    <label class="col-sm-3 col-form-label">
        {{data.label}}: @if (data?.required) {
        <span class="text-danger">*</span>
        }
    </label>

    <div class="col-sm-9">

        @switch (true) {
        @case (mode == MODES.View) {

        <div class="input-group input-group-sm">
            <div class="form-control bg-light text-start overflow-auto" readonly>
                @if (data.reference && data.reference?.object_id !== 0) {

                @if (!protect) {

                @if (!data?.reference.line) {

                <i class="{{data.reference?.icon}}"></i> {{data.reference?.type_label}}
                #{{data.reference?.object_id}}
                @for (sum of data.reference?.summaries; track sum; let last = $last; let first = $first) {
                <span>
                    @if (first) {
                    <span> - </span>
                    }
                    {{sum.value ? (sum.type === 'date' ? (sum.value | dateFormatter) : sum.value) :
                    'None'}}
                    @if (!last) {
                    <span> | </span>
                    }
                </span>
                }

                } @else {

                @if (data?.reference?.prefix) {

                <i class="{{data?.reference?.icon}}"></i> {{data?.reference?.type_label}}
                #{{data?.reference?.type_id}}

                }
                <span>{{data?.reference?.line}}</span>

                }



                }

                @if (protect) {

                {{data.reference}}

                }

                } @else {
                No reference set
                }

            </div>
            @if (data.reference && !protect) {
            <span class="input-group-text" [class.ref-disabled]="!data.reference?.object_id"
                (click)="showReferencePreview()">
                <fa-icon icon="file-powerpoint"></fa-icon>
            </span>
            }
            @if (data.reference && !protect) {
            <a class="input-group-text" [class.ref-disabled]="!data.reference?.object_id"
                [routerLink]="'/framework/object/view/'+ data.reference?.object_id">
                <fa-icon icon="arrow-right"></fa-icon>
            </a>
            }
        </div>

        }

        @case (mode == MODES.Create || mode == MODES.Edit || mode == MODES.Bulk) {

        @if (mode == MODES.Bulk) {
        <cmdb-object-bulk-input-appends [data]="data" [controller]="controller" [changeForm]="changeForm" />
        }

        <cmdb-input-appends [data]="data" [mode]="mode" [parentFormGroup]="parentFormGroup">

            <ng-select #selectElement [items]="objectList" class="ng-select-valid form-select ref-simple-select"
                [groupBy]="groupByFn" [groupValue]="groupValueFn" bindValue="object_information.object_id"
                [searchFn]="searchRef" [ngClass]="{ 'is-valid': controller.valid && (controller.dirty || controller.touched),
                        'is-invalid': controller.invalid && (controller.dirty || controller.touched)}"
                [formControlName]="data.name">
                <ng-template ng-optgroup-tmp let-item="item">
                    <span style="vertical-align: middle;">{{item.name}}</span>
                    <span class="badge bg-secondary ms-1">{{item.total}}</span>
                </ng-template>

                <ng-template ng-label-tmp let-item="item">
                    @if (item.object_information == null) {

                    @if (refObject != null) {

                    <i class="{{refObject?.type_information?.icon}}"></i>
                    {{refObject?.type_information?.type_label}}
                    #{{refObject?.object_information?.object_id}}
                    @for (sum of refObject?.summaries; track sum; let last = $last; let first = $first) {
                    <span>
                        @if (first) {
                        <span> - </span>
                        }
                        {{sum.value ? (sum.type === 'date' ? (sum.value | dateFormatter) : sum.value) :
                        'None'}}
                        @if (!last) {
                        <span> | </span>
                        }
                    </span>
                    }

                    }

                    @if (refObject == null) {

                    No reference set

                    }

                    }

                    @if (item.object_information != null) {

                    <i class="{{item?.type_information?.icon}}"></i> {{item?.type_information?.type_label}}
                    #{{item?.object_information?.object_id}}
                    @for (sum of item?.summaries; track sum; let last = $last; let first = $first) {
                    <span>
                        @if (first) {
                        <span> - </span>
                        }
                        {{sum.value ? (sum.type === 'date' ? (sum.value | dateFormatter) : sum.value) :
                        'None'}} @if (!last) {
                        <span> | </span>
                        }
                    </span>
                    }

                    }
                </ng-template>

                <ng-template ng-option-tmp let-item="item">
                    <span [className]="controller.value === item?.object_information?.object_id ? 'fw-bold' : ''">
                        <i class="{{item?.type_information?.icon}}"></i> {{item?.type_information?.type_label}}
                        #{{item?.object_information?.object_id}}
                        @for (sum of item?.summaries; track sum; let last = $last; let first = $first) {
                        <span>
                            @if (first) {
                            <span> - </span>
                            }
                            {{sum.value ? (sum.type === 'date' ? (sum.value | dateFormatter) : sum.value) :
                            'None'}}
                            @if (!last) {
                            <span> | </span>
                            }
                        </span>
                        }
                    </span>
                </ng-template>
            </ng-select>
        </cmdb-input-appends>

        }
        @default {
        <div>
            <cmdb-mode-error />
        </div>
        }
        }


        @if (controller.invalid && (controller.dirty || controller.touched)) {
        <div class="invalid-feedback">
            @if (controller.errors.required) {
            <div class="text-end">
                {{data.label}} is a required field.
            </div>
            }
            <div class="clearfix"></div>
        </div>
        }
        <small class="description form-text text-muted">{{data?.description}}</small>
    </div>
</div>