<aw-wizard>
  <aw-wizard-step (stepExit)="exitBasicStep()" stepId="1" stepTitle="Basic informations">
    <cmdb-type-basic-step></cmdb-type-basic-step>
    <button class="btn btn-primary" type="button" awNextStep>Next Step</button>
  </aw-wizard-step>
  <aw-wizard-step (stepExit)="exitFieldStep()" stepId="2" stepTitle="Field definitions">
    <cmdb-type-fields-step></cmdb-type-fields-step>
    <button class="btn btn-primary" type="button" awPreviousStep>Go to previous step</button>
    <button class="btn btn-primary" type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step stepId="3" stepTitle="Meta data">
    <button class="btn btn-primary" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-primary" type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step stepId="4" stepTitle="Access">
    <cmdb-type-access-step></cmdb-type-access-step>
    <button class="btn btn-primary" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-primary" type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step stepId="5" stepTitle="Validation">
    <button class="btn btn-primary" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-primary" type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
</aw-wizard>
<!--[disabled]="!basicStep.basicForm.valid"-->
