<aw-wizard>
  <aw-wizard-step stepId="1" stepTitle="Basic informations">
    <cmdb-type-basic-step></cmdb-type-basic-step>
    <button class="btn btn-primary" type="button" awNextStep>Next Step</button>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Field definitions">
    <cmdb-type-fields-step></cmdb-type-fields-step>
    <button class="btn btn-primary" type="button" awPreviousStep>Go to previous step</button>
    <button class="btn btn-primary" type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Meta data">
    <button class="btn btn-primary" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-primary" type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Access">
    <button class="btn btn-primary" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-primary" type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Validation">
    <button class="btn btn-primary" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-primary" type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
</aw-wizard>
