<div id="object-action-list" class="card">
  <div class="card-body">
    <div class="list-group list-group-flush">
      <a routerLink="/framework/object/type/{{objectID}}" class="list-group-item list-group-item-action">
        <i class="fa fa-th-list"></i> List objects
      </a>
      <a routerLink="/framework/object/{{objectID}}/edit" class="list-group-item list-group-item-action">
        <i class="fa fa-th-list"></i> Edit object
      </a>
      <a routerLink="/framework/object/{{objectID}}/delete" class="list-group-item list-group-item-action">
        <i class="fa fa-th-list"></i> Delete object
      </a>
    </div>
  </div>
</div>
