
<div class="dropdown">
  <div class="dropdown-toggle total-title d-flex justify-object-view-items"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="icon"><i class="fa fa-cogs"></i></div>
    <div>
      <strong class="text-uppercase">Actions</strong>
      <span>{{renderResult?.type_information?.type_label}}</span>
    </div>
  </div>
  <div class="dropdown-menu dropdown-menu-lg-right w-100">
    <a *permissionLink="'base.framework.object.add'"
       routerLink="/framework/object/add/{{renderResult?.type_information?.type_id}}"
       class="dropdown-item list-group-item-action">
      <span class="mr-1"><i class="fas fa-plus"></i></span>
      <span>Create Object</span>
    </a>
    <a *permissionLink="'base.framework.object.edit'"
       routerLink="/framework/object/copy/{{renderResult?.object_information?.object_id}}"
       class="dropdown-item list-group-item-action">
        <span class="mr-1"><i class="fas fa-clone"></i></span>
        <span>Copy Object</span>
    </a>
    <a *permissionLink="'base.framework.object.edit'"
       routerLink="/framework/object/edit/{{renderResult?.object_information?.object_id}}"
       class="dropdown-item list-group-item-action">
      <span class="mr-1"><i class="fas fa-edit"></i></span>
      <span>Edit Object</span>
    </a>
    <a *permissionLink="'base.framework.object.delete'"
       class="dropdown-item list-group-item-action"
       (click)="deleteObject(renderResult?.object_information?.object_id)">
      <span class="mr-1"><i class="fas fa-trash-alt"></i></span>
      <span>Delete Object</span>
    </a>
  </div>
</div>
