{% set navigation_bar = [
('/settings/', 'settings', 'Default settings'),
('/settings/frontend', 'frontend', 'Frontend settings'),
('/settings/security/', 'security', 'Security settings')
] -%}
{% set active_page = active_page|default('settings') -%}
<ul class="nav nav-pills flex-column">
    {% for href, id, caption in navigation_bar %}
    <li class="nav-item">
        <a class="nav-link {% if id== active_page %} active{% endif
            %}" href="{{ href|e }}">{{ caption|e }}</a>
    </li>
    {% endfor %}
</ul>