{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block navigation %}
{% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
{% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        {{ super() }}
        <div class="row">
            <div class="col-10">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Default settings</legend>
                        <div class="form-group">
                            <label class="control-label" for="inputwithcomboboxInput">default language</label>
                            <div class="input-group input-append dropdown combobox" data-initialize="combobox"
                                 id="inputwithcombobox">
                                <input id="inputwithcomboboxInput" name="inputwithcomboboxInput" type="text"
                                       aria-label=""
                                       class="form-control" placeholder="English" required="">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                            aria-label="default language autofill suggestions"
                                            data-toggle="dropdown"><span
                                            class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li data-value="English"><a href="#">English</a></li>
                                        <li data-value="German"><a href="#">German</a></li>
                                    </ul>
                                </div>

                            </div>
                            <p class="help-block">default frontend language</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="installed-langs">Installed packages</label>
                            <select id="installed-langs" name="installed-langs" class="form-control" multiple=""
                                    readonly="">
                                <option>English</option>
                                <option>German</option>
                            </select>
                            <p class="help-block">Installed languages packages</p>
                        </div>


                    </fieldset>
                </form>
            </div>
            <div class="col-2">
                {% include 'settings/_sidebar.html' %}
            </div>
        </div>

    </div>
</div>
{% endblock %}