{% extends 'layout.html' %}
{% block title %}Settings | Type config{% endblock %}
{% block navigation %}
    {% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            {{ super() }}
            <div class="row">
                <div class="col-10">
                    <form id="example_data_form">
                        <div class="form-group row">
                            <label for="select" class="col-2 col-form-label">Example data files</label>
                            <div class="col-10">
                                <select id="example_data_files" name="example_data_files" class="custom-select"
                                        multiple="multiple">
                                    {% for example_file in possible_example_files %}
                                        <option value="{{ example_file }}">{{ example_file }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-2 col-10">
                                <button id="example_data_submit_selected" type="button"
                                        class="btn btn-primary">Load selected
                                </button>
                                <button id="example_data_submit_all" type="button"
                                        class="btn btn-primary">Load all
                                </button>
                            </div>
                        </div>
                    </form>
                    <div id="result"></div>
                </div>
                <div class="col-2">
                    {% set active_page = 'type-config' %}
                    {% include 'settings/_sidebar.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            const submit_example_data = function () {
                $.ajax({
                    url: '/settings/type-config/_load_example_data/',
                    data: $('#example_data_form').serialize(),
                    type: 'POST',
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            };
            $('#example_data_submit_all').click(function (e) {
                e.preventDefault();
                $('#example_data_files option').prop('selected', true);
                submit_example_data();
            });

            $('#example_data_submit_selected').click(function (e) {
                e.preventDefault();
                submit_example_data();
            });
        });
    </script>
{% endblock %}