<div [formGroup]="form" class="row">

    <div *ngIf="this.fieldSectionType === 'multi-data-section'">
        <div class=" col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text pe-1">
                    <input type="checkbox" [formControl]="hideFieldControl" name="hideFieldControl-check"
                        class="form-check-input" (ngModelChange)="onInputChange($event, 'hideField')" />
                    <label class="hide-info">
                        Hide this field as column in object view/edit mode
                    </label>
                </span>
            </div>
        </div>
    </div>

    <div class=" col-md-12">
        <label class="mt-3 mt-3 mb-1">Required/Identifier<span class="required">*</span>:</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text pe-1">
                    <div class="form-check custom-checkbox">
                        <input type="checkbox" [formControl]="valueControl" class="form-check-input"
                            [id]="nameControl.value+'-required'" (ngModelChange)="onInputChange($event, 'value')" />
                        <label class="form-check-label" [for]="nameControl.value+'-required'"></label>
                    </div>
                </span>
            </div>
            <input [formControl]="nameControl" type="text" class="form-control" name-guideline placeholder="Field name"
                [ngClass]="{ 'is-valid': nameControl.valid && (nameControl.dirty || nameControl.touched),
                 'is-invalid': nameControl.invalid && (nameControl.dirty || nameControl.touched) || isDuplicate$}"
                (ngModelChange)="onInputChange($event, 'name')" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="copyIdentifier()" 
                        [disabled]="!nameControl.value" [ngbTooltip]="'Copy identifier'">
                    <fa-icon [icon]="['far', 'copy']"></fa-icon>
                </button>
            </div>
            <div *ngIf="isDuplicate$" class="invalid-feedback">
                <div class="text-end">
                    Field name must be unique
                </div>
            </div>
        </div>
        <small class="form-text text-muted text-start">Use a unique field identifier</small>
        <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" class="invalid-feedback">
            <div class="text-end" *ngIf="nameControl.errors?.required">
                Identifier is a required field
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class=" col-md-12">
        <label class="mt-3 mb-1">Label<span class="required">*</span>:</label>
        <input [(ngModel)]="data.label" [formControl]="labelControl" type="text" class="form-control"
            placeholder="Field label" [ngClass]="{ 'is-valid': labelControl.valid && (labelControl.dirty || labelControl.touched),
                 'is-invalid': labelControl.invalid && (labelControl.dirty || labelControl.touched)}"
            (ngModelChange)="onInputChange($event, 'label')" />
        <small class="form-text text-muted text-start">A static display name</small>
        <div *ngIf="labelControl.invalid && (labelControl.dirty || labelControl.touched)" class="invalid-feedback">
            <div class="text-end" *ngIf="labelControl.errors?.required">
                Label is a required field
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="  col-md-12">
        <label class="mt-3 mb-1">Description:</label>
        <textarea [formControl]="descriptionControl" class="form-control" placeholder="This field contains..."
            [ngClass]="{ 'is-valid': descriptionControl.valid && (descriptionControl.dirty || descriptionControl.touched),
                 'is-invalid': descriptionControl.invalid && (descriptionControl.dirty || descriptionControl.touched)}"
            (ngModelChange)="onInputChange($event, 'description')">
        </textarea>
        <small class="form-text text-muted">Short field description or helper text</small>
    </div>
    <div class=" col-md-12">
        <label class="mb-1 mt-3">Helper text:</label>
        <input [formControl]="helperTextControl" type="text" class="form-control"
            placeholder="If you don't know what to enter..." [ngClass]="{ 'is-valid': helperTextControl.valid && (helperTextControl.dirty || helperTextControl.touched),
                 'is-invalid': helperTextControl.invalid && (helperTextControl.dirty || helperTextControl.touched)}"
            (ngModelChange)="onInputChange($event, 'helperText')" />
        <small class="form-text text-muted">Small helper popup.</small>
    </div>

    <div class="form-group col-md-12">
        <label class="mb-1 mt-3">Default value:</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" [formControl]="valueControl" id="defaultChecked"
                (ngModelChange)="onInputChange($event, 'value')" />
            <label class="form-check-label" for="defaultChecked">
                Checked by default
            </label>
        </div>
        <small class="form-text text-muted">
            If selected, this checkbox will be checked by default.
        </small>
    </div>


</div>
