<div [formGroup]="form" class="form-row">
  <div class="form-group col-md-12">
    <label>Required / Name: <span class="required">*</span></label>
    <div class="input-group">
      <div class="input-group-prepend">
            <span class="input-group-text pr-1">
               <div class="custom-control custom-checkbox">
                <input type="checkbox" [formControl]="requiredControl" class="custom-control-input"
                       [id]="nameControl.value+'-required'" (ngModelChange)="onInputChange($event, 'required')"/>
                 <label class="custom-control-label" [for]="nameControl.value+'-required'"></label>
               </div>
            </span>
      </div>
      <input [formControl]="nameControl" type="text" class="form-control" name-guideline placeholder="Field name"
             [ngClass]="{ 'is-valid': nameControl.valid && (nameControl.dirty || nameControl.touched),
                 'is-invalid': nameControl.invalid && (nameControl.dirty || nameControl.touched)}"
             (ngModelChange)="onInputChange($event, 'name')"/>
    </div>
    <small class="form-text text-muted float-left">Use a unique field name</small>
    <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" class="invalid-feedback">
      <div class="float-right" *ngIf="nameControl.errors?.required">
        Name is a required field.
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="form-group col-md-12">
    <label>Label: <span class="required">*</span></label>
    <input [formControl]="labelControl" type="text" class="form-control" placeholder="Field label"
           [ngClass]="{ 'is-valid': labelControl.valid && (labelControl.dirty || labelControl.touched),
                 'is-invalid': labelControl.invalid && (labelControl.dirty || labelControl.touched)}"
           (ngModelChange)="onInputChange($event, 'label')"/>
    <small class="form-text text-muted float-left">a static display name</small>
    <div *ngIf="labelControl.invalid && (labelControl.dirty || labelControl.touched)" class="invalid-feedback">
      <div class="float-right" *ngIf="labelControl.errors?.required">
        Label is a required field.
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="form-group  col-md-12">
    <label>Description:</label>
    <textarea [formControl]="descriptionControl" class="form-control" placeholder="This field contains..."
              [ngClass]="{ 'is-valid': descriptionControl.valid && (descriptionControl.dirty || descriptionControl.touched),
                 'is-invalid': descriptionControl.invalid && (descriptionControl.dirty || descriptionControl.touched)}"
              (ngModelChange)="onInputChange($event, 'description')"></textarea>
    <small class="form-text text-muted">short field description or helper text</small>
  </div>
  <div class="form-group col-md-12">
    <label>Helper text:</label>
    <input [formControl]="helperTextControl" type="text" class="form-control"
           placeholder="If you don´t know what to enter..."
           [ngClass]="{ 'is-valid': helperTextControl.valid && (helperTextControl.dirty || helperTextControl.touched),
                 'is-invalid': helperTextControl.invalid && (helperTextControl.dirty || helperTextControl.touched)}"
           (ngModelChange)="onInputChange($event, 'helperText')"/>
    <small class="form-text text-muted">Small helper popup.</small>
  </div>

  <div class="form-group col-md-12">
    <label>Options:</label>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Label</th>
        <th scope="col">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let option of options; let i = index">

        <th scope="row">{{i + 1}}</th>
        <td><input [(ngModel)]="data.options[i].label" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control"
                   value="{{data.options[i].label}}">
        </td>
        <td><input [(ngModel)]="data.options[i].name" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control" value="{{data.options[i].name}}">
        </td>
        <td>
          <button type="button" class="btn btn-outline-primary" [disabled]="options.length == 1"
                  (click)="delOption(data.options[i])">
            <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <button type="button" class="btn btn-outline-secondary" (click)="addOption()">+ Add option</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group col-md-12">
    <label>Default value:</label>
    <select [formControl]="valueControl" class="custom-select" (ngModelChange)="onInputChange($event, 'value')">
      <option></option>
      <option *ngFor="let opt of options; let i = index" [value]="opt.name">
        Label: {{opt.label}} Name: {{opt.name}}
      </option>
    </select>
  </div>

</div>
