<div id="complete-log-list">
  <div class="card">
    <div class="card-body"></div>
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th scope="col">
          <input type="checkbox" value="">
        </th>
        <th scope="col">Log ID</th>
        <th scope="col">Object ID</th>
        <th scope="col">Action</th>
        <th scope="col">User</th>
        <th scope="col">Version</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let activeLog of activeLogList">
        <td>
          <input type="checkbox" value="">
        </td>
        <th scope="row">{{activeLog.public_id}}</th>
        <td>{{activeLog.object_id}}</td>
        <td>{{activeLog.action_name}}</td>
        <td>{{activeLog.user_name}}</td>
        <td>{{activeLog.version}}</td>
        <td>{{activeLog.log_time.$date | date: "dd/MM/yy - hh:mm:ss"}}</td>
      </tr>
      </tbody>
    </table>
    <div class="card-footer text-center text-muted">
      Logs with existing objects
    </div>
  </div>
</div>
