
<div class="card-deck">
    <div class="card">
        <a routerLink="/framework/type/">
            <div class="dash-card primary">
                <i class="fas fa-object-group"></i>
                <span class="count-numbers">Types</span>
                <span class="count-name">View</span>
            </div>
        </a>
    </div>
    <div class="card">
        <a routerLink="/framework/category/">
            <div class="dash-card primary">
                <i class="far fa-folder-open"></i>
                <span class="count-numbers">Categories</span>
                <span class="count-name">View</span>
            </div>
        </a>
    </div>
</div>
