@import "~src/scss/variables";

#search-bar {
  position:absolute;
  left: 0;
  width: 100%;
  top: calc(80px + 0.5rem);
}


@media(max-width:991px){
  #search-bar {
    top: calc(80px + 4rem);
  }

  .scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
  }
}
