
<div id="search-bar" class="collapse search-bar-body scrollable-menu">
  <div class="card card-body">
    <form [formGroup]="searchForm" (ngSubmit)="getResponse()">
      <div class="form-group">
        <label for="search-input">Search</label>
        <input id="search-input" class="form-control" formControlName="term" type="text" placeholder="Search input">
        <small id="emailHelp" class="form-text text-muted">Search for fields</small>
      </div>
      <div class="form-group">
        <label>Filter by Type</label>
        <ng-select [items]="typeList"
                   bindLabel="label"
                   formControlName="type"
                   placeholder="Select type">
        </ng-select>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="showActivObjects">
        <label class="form-check-label" for="showActivObjects">active objects</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
