@import "src/scss/variables";

.dash-card {
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 50px;
  border-radius: 5px;
  transition: .3s linear all;
  display: flex;
  align-items: center;
  position: relative;
}

.dash-card:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.dash-card i {
  font-size: 3em;
  opacity: 0.2;
}

.dash-card.primary {
  background-color: theme-color('primary');
  color: $white;
}


.dash-card .count-section #count-numbers {
  font-size: 32px;
}

.dash-card .count-section #count-name {
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  font-size: 18px;
  margin-left: 5px;
}