icon-picker {

  .icon-picker {
    width: 100%!important;
  }

  .icon-grid {
    button{
      span{
        font-size: 1.5em!important;
      }
    }
  }
}




.icon-view {
  color: #007bff; /* Blue */
  cursor: pointer;
}

.icon-edit {
  color: #FFA500; /* Orange */
  cursor: pointer;
}

.icon-copy {
  color: #17a2b8; /* Teal */
  cursor: pointer;
}

.icon-preview {
  color: #6c757d; /* Gray */
  cursor: pointer;
}

.icon-move {
  color: #20c997; 
  cursor: pointer;
}

.icon-download {
  color: #28a745; /* Green */
  cursor: pointer;
}

.icon-delete {
  color: #dc3545; /* Red */
  cursor: pointer;
}

.icon-preview {
  color: #6f42c1; // Info color for preview button
  cursor: pointer;
}

.spacing-right{
  margin-right: 5px;
}