@import 'variables';

label {
  span.required {
    font-weight: bold;
    color: theme-color('primary');
  }
}

#object-form-action {
  display: none;
  position: fixed;
  top: calc(#{$navbar-height} - 1px);
  right: 0;
  left: $sidebar-width;
  z-index: 100;
}

@include media-breakpoint-down('md') {
  #object-form-action {
    left: 0;
  }
}

// Object-View Navbar

.object-view-navbar {

  background: white;

  .total-title span {
    display: block;
  }

  .icon {
    margin-right: 10px;
    font-size: 1.25em;
    color: $success;
  }

  .dropdown-toggle::after {
    margin: 0.5em 0 0 0.5em;
  }

  .justify-object-view-items {
    justify-content: center !important; ;
  }
}

@media (max-width: 768px) {
  .object-view-navbar{
    span {
      font-size: 0.9em;
    }
    .justify-object-view-items {
      justify-content: start !important;
      padding-top: 0.5em;
    }
    .display-3 {
      font-size: 2rem !important;
    }
  }
}
