.dg-table {
  .table {
    thead {
      .table-head {
        > th {
          user-select: none;
          vertical-align: middle;

          &.hidden {
            display: none;
          }

        }
      }

      &.sortable {
        .table-head {
          > th {

            &.sortable {
              cursor: pointer;

              &:hover {
                background: $gray-200;
              }
            }
          }
        }
      }
    }

    tbody {
      > tr {
        > td {
          &.hidden {
            display: none;
          }

          &.actions-buttons {
            a {
              color: #000000;
              padding-left: .25rem;
              padding-right: .25rem;

              &:hover {
                > i {
                  color: theme-color('primary');
                }
              }
            }
          }
        }
      }
    }
  }

  .table-pagination {
    ul, li {
      user-select: none;
    }

    a {
      cursor: pointer;
    }
  }
}


.framework-table {
  width: 100% !important;
}
