.dg-table {
  .table {
    thead {
      &.sortable {
        .table-head {
          > th {
            user-select: none;

            &.hidden {
              display: none;
            }

            &.sortable {
              cursor: pointer;

              &:hover {
                background: $gray-200;
              }
            }
          }
        }
      }
    }

    tbody {
      > tr {
        > td {
          &.hidden {
            display: none;
          }
        }
      }
    }
  }
}


.framework-table {
  width: 100% !important;
}

.dt-button-collection {
  padding-bottom: 0 !important;
}

table.dataTable tr.dtrg-group td {
  background-color: $gray-200;
}

table.dataTable tr.dtrg-end td {
  background-color: $gray-300;
}

table.dataTable tr.dtrg-group.dtrg-level-0 td {
  font-weight: bold;
}

table.dataTable tr.dtrg-group.dtrg-level-1 td,
table.dataTable tr.dtrg-group.dtrg-level-2 td {
  background-color: #f0f0f0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 2em;
  font-size: 0.9em;
}

table.dataTable tr.dtrg-group.dtrg-level-2 td {
  background-color: #f3f3f3;

}

.dataTables_empty {
  display: none;
}
