.cmdb-toast {
  box-sizing: border-box;
  overflow: visible;
  background: #fff; 
  border-radius: 5px;
  border-left: 5px solid;
  min-width: 350px;
  max-width: 400px;
  word-break: break-word;
  overflow-wrap: break-word;
  box-shadow: 0 4px 12px rgba(0,0,0,.16);
  opacity: 1;
  padding: 9px;
}

.toast { display: block !important; opacity: 1 !important; }

.cmdb-toast .btn-close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  width: .9rem;
  height: .9rem;
  opacity: .6;
}
.cmdb-toast .btn-close:hover { opacity: 1; }

.icon-center { position: absolute; left: 5%; top: 30%; }

.meter {
  height: 5px;
  position: relative;
  background: lightgray;
  overflow: hidden;
  margin-top: 12px;
}
.meter span { display: block; height: 100%; }
.progress { background-color: green; }

@keyframes progressBar { 0% {width:0;} 100% {width:100%;} }
