<div class="modal-header bg-primary text-white">
  <h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Session timeout!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Your session will expire in {{remainingTime}}. You will then be logged out automatically.
  If you want to extend your session, enter your password in the field below.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Close</button>
</div>
