<div class="mt-4 card">
  <div class="card-header">Connection settings</div>
  <div class="card-body">
    <form #selectionForm="ngForm">
      <div class="form-group">
        <label for="hostAddress">Host Address</label>
        <input [(ngModel)]="hostAddress" name="hostAddress" id="hostAddress" type="text"
               class="form-control" required>
      </div>
      <div class="form-group">
        <label for="hostPort">Host Port</label>
        <input [(ngModel)]="hostPort" name="hostPort" id="hostPort" type="text"
               class="form-control" required>
      </div>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary btn-block" [disabled]="!selectionForm.form.valid" (click)="onConnect()">Connect
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-outline-secondary btn-block" (click)="onDisconnect()">Disconnect
          </button>
        </div>
      </div>
    </form>
    {{connectionResult | json}}
  </div>
</div>
