
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{objectInstance?.type_label}}</h5>

    <form *ngIf="objectInstance?.obj_fields && objectInstance?.obj_fields.length>0">
      <div class="form-group" *ngFor="let field of objectInstance?.obj_fields">
        <fieldset [disabled]="isDisable">
          <cmdb-render-element [data]="field"></cmdb-render-element>
        </fieldset>
      </div>
    </form>

    <div class="text-right">
      <button type="button" class="btn btn-lg btn-secondary" [disabled]="isDisable" (click)="revert()">Cancel</button>
      <button type="submit" class="btn btn-lg btn-primary" [disabled]="isDisable" (click)="update(objectInstance)">Save</button>
    </div>

  </div>
</div>

