
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{objectInstance?.type_label}}</h5>

    <form [formGroup]="formFields" *ngIf="objectInstance?.fields && objectInstance?.fields.length>0">
        <fieldset [disabled]="isDisable">
          <div class="card-body">
            <cmdb-render [sections]="typeInstance?.render_meta?.sections" [fields]="objectInstance?.fields"></cmdb-render>
          </div>
        </fieldset>
    </form>

    <div class="text-right">
      <button type="button" class="btn btn-lg btn-secondary" [disabled]="isDisable" (click)="revert()">Cancel</button>
      <button type="submit" class="btn btn-lg btn-primary" [disabled]="isDisable" (click)="update(objectInstance)">Save</button>
    </div>

  </div>
</div>
