<div class="container" [formGroup]="personGroupForm">
  <h2 class="mb-3">
    {{ isEditMode ? (isViewMode ? 'View Person Group' : 'Edit Person Group') : 'Add Person Group' }}
  </h2>

  <!-- On submit => call onSave() -->
  <form autocomplete="off" class="needs-validation" (ngSubmit)="onSave()" [formGroup]="personGroupForm">
    <!-- Name (Required) -->
    <app-form-input formControlName="name" label="Name" [required]="true" [errorMessage]="
        hasError('name', 'required')
          ? 'Name is required'
          : ''
      ">
    </app-form-input>

    <!-- Email (Required + Pattern) -->
    <app-form-input formControlName="email" label="Email" [required]="false" [errorMessage]="
        hasError('email', 'required')
          ? 'Email is required'
          : hasError('email', 'pattern')
          ? 'Invalid email format'
          : ''
      ">
    </app-form-input>

    <!-- Group Members (Optional) -->
    <label class="mt-3">Group Members</label>
    <app-form-select formControlName="group_members" [items]="allPersons" bindLabel="display_name" bindValue="public_id"
      [multiple]="true" placeholder="Select Person(s)">
    </app-form-select>

    <!-- Footer -->
    <div class="mt-4 d-flex justify-content-between">
      <button class="btn btn-secondary" type="button" (click)="onCancel()">
        Cancel
      </button>
      <button *permissionLink="['base.user-management.personGroup.add', 'base.user-management.personGroup.edit']"
        class="btn btn-success" type="submit" [disabled]="personGroupForm.invalid || isViewMode">
        {{ isEditMode ? 'Save Changes' : 'Create Person Group' }}
      </button>
    </div>
  </form>
</div>

<!-- Loading Popup -->
<app-loading-popup [isVisible]="isLoading$ | async" message="We're Processing the Data...">
</app-loading-popup>