<cmdb-table [items]="logs" [columns]="columns" [page]="page" [sort]="sort" [id]="id"
            [stateEnabled]="true" [emptyMessage]="'This object is not referenced!'" [searchEnabled]="false"
            [totalItems]="totalLogs" [selectEnabled]="true" [loading]="loading" [pageSize]="limit"
            [customButtons]="[deleteButton]" [tableState]="tableState"
            (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"
            (sortChange)="onSortChange($event)" (selectedChange)="onSelectedChange($event)"
            (stateSelect)="onStateSelect($event)" (stateReset)="onStateReset()">
</cmdb-table>

<!-- Table templates -->
<ng-template #activeTemplate let-data="data">
  <cmdb-active-badge [activeStatus]="data"></cmdb-active-badge>
</ng-template>

<ng-template #logDateTemplate let-data="data">
  {{data | dateFormatter}}
</ng-template>

<ng-template #userTemplate let-data="data">
  <cmdb-user-compact [userID]="data"></cmdb-user-compact>
</ng-template>

<ng-template #actionsTemplate let-item="item">
  <div class="d-flex justify-content-center" *ngIf="item.public_id">
    <a *permissionLink="'base.exportd.log.delete'" class="pointer"
       (click)="deleteLog(item.public_id)"
       title="Delete log">
      <i class="far fa-trash-alt"></i>
    </a>
  </div>
</ng-template>

<!-- Custom table buttons-->
<ng-template #deleteButton>
  <button *permissionLink="'base.exportd.log.delete'" type="button" class="btn btn-danger btn-sm"
          (click)="deleteSelectedLogs()"
          [disabled]="selectedLogs.length == 0">
    <i class="fas fa-trash-alt"></i>
    Delete Selected
    <span class="badge badge-secondary badge-pill">{{selectedLogs.length}}</span>
  </button>
</ng-template>
