
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header">
      <h4 class="modal-title"><fa-icon icon="broom"></fa-icon> Cleanup Database</h4>
      <button type="button" class="close" (click)="activeModal.close()"  aria-label="Close">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>

    <!--Body-->
    <div class="modal-body">
      <div class="card-body">
        <h5>Remove fields</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar"
               [ngClass]="remove ? 'bg-success' : 'bg-primary'"
               aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
          </div>
        </div>
        <ng-container *ngIf="!remove"><p class="text-right">in process <fa-icon icon="exclamation"></fa-icon></p></ng-container>
        <ng-container *ngIf="remove"><p class="text-right">done <fa-icon icon="check"></fa-icon></p></ng-container>

        <h5>Update fields</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar"
               [ngClass]="update ? 'bg-success' : 'bg-primary'"
               aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
          </div>
        </div>
        <ng-container *ngIf="!update"><p class="text-right">in process <fa-icon icon="exclamation"></fa-icon></p></ng-container>
        <ng-container *ngIf="update"><p class="text-right">done <fa-icon icon="check"></fa-icon></p></ng-container>
      </div>
    </div>

    <!--Footer-->
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="this.activeModal.close()">Done</button>
    </div>
  </div>
  <!--/.Content-->

