{% extends 'layout.html' %}
{% block title %}User {% if edit_able %}Edit{% else %}View{% endif %}{% endblock %}
{% block navigation %}
    {% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <h1>Profile: {{ view_user.get_name() }}</h1>
                    <hr/>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                               aria-describedby="username_input" placeholder="Username"
                               value="{{ view_user.get_username() }}" {% if not edit_able %}readonly{% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email"
                               aria-describedby="email_help" placeholder="Email address"
                               value="{{ view_user.get_email() }}" {% if not edit_able %}readonly{% endif %}>
                        <small id="email_help" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="firstname">First name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name"
                               placeholder="Firstname" value="{{ view_user.get_first_name() }}"
                               {% if not edit_able %}readonly{% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Lastname"
                               value="{{ view_user.get_last_name() }}" {% if not edit_able %}readonly{% endif %}>
                    </div>

                    {% if not edit_able %}
                        <a href="{{ url_for("user_pages.user_profile_page_edit", public_id=view_user.get_public_id()) }}"
                           class="btn btn-outline-primary" role="button">Edit</a>
                    {% else %}
                        {% if provider.is_password_able() %}
                            <a href="#"
                               class="btn btn-outline-primary">Generate new password
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-4">
                    <div class="card">
                        <h5 class="card-header">
                            User meta
                        </h5>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tbody>
                                <tr>
                                    <th class="border-top-0" scope="row">User ID</th>
                                    <td class="border-top-0">{{ view_user.get_public_id() }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Registration Time</th>
                                    <td>{{ view_user.registration_time | encode_date }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Authenticator</th>
                                    <td>{{ provider.get_name() }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                    <div class="card mt-3">
                        <h5 class="card-header">
                            Group data
                        </h5>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tbody>
                                <tr>
                                    <th class="border-top-0" scope="row">Group</th>
                                    <td class="border-top-0">{{ user_group.get_label() }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Rights</th>
                                    <th scope="row">Level</th>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            {{ super() }}
        </div>
    </div>
{% endblock %}
{% if mode == 'DEBUG' %}
    {% block debug %}
        <h2>View User:</h2>
        <hr>
        {{ view_user }}
    {% endblock %}
{% endif %}