<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Controls</h2>
  <div class="d-flex align-items-center gap-2">
    <button
      class="btn btn-sm btn-danger"
      *permissionLink="['base.isms.controlMeasure.delete']"
      [disabled]="!selectedControls.length"
      (click)="onDeleteSelected()"
      title="Delete selected controls"
    >
      <i class="far fa-trash-alt"></i> Delete Selected
      @if (selectedControls.length) {
        <span class="badge bg-light text-dark ms-1">{{ selectedControls.length }}</span>
      }
    </button>
    <button
      class="btn btn-sm btn-success"
      *permissionLink="['base.isms.controlMeasure.add']"
      (click)="onAddNew()"
    >
      <i class="fas fa-plus"></i> Add
    </button>
  </div>
</div>
<hr />

<cmdb-table
*permissionLink="['base.isms.controlMeasure.view']"
  [items]="controlMeasures"
  [columns]="columns"
  [page]="page"
  [sort]="sort"
  [id]="'control-measures-table'"
  [emptyMessage]="'No Control/Measures found.'"
  [totalItems]="totalControlMeasures"
  [selectEnabled]="true"
  [selectedItems]="selectedControls"
  [loading]="loading"
  [pageSize]="limit"
  [toggleable]="true"
  [initialVisibleColumns]="initialVisibleColumns"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
  (sortChange)="onSortChange($event)"
  (searchChange)="onSearchChange($event)"
  (selectedChange)="onSelectedChange($event)"
>
</cmdb-table>

<!-- Action buttons template -->
<ng-template #actionTemplate let-item="item">
  <i
    *permissionLink="['base.isms.controlMeasure.view']"
    class="far fa-eye icon-margin icon-view spacing-right"
    (click)="onView(item)"
    title="View Control"
  ></i>
  <i
    *permissionLink="['base.isms.controlMeasure.edit']"
    class="far fa-edit icon-margin icon-edit spacing-right"
    (click)="onEdit(item)"
    title="Edit Control"
  ></i>
  <i
    *permissionLink="['base.isms.controlMeasure.delete']"
    class="far fa-trash-alt icon-delete"
    (click)="onDelete(item)"
    title="Delete Control"
  ></i>
</ng-template>


<!-- Source Template (to display the source names) -->
<ng-template #sourceTemplate let-data="data" let-item="item">
  <span>{{ getSourceNames(data) }}</span>
</ng-template>

<ng-template #implementationStateTemplate let-data="data" let-item="item">
  <span>{{ getImplementationStateName(data) }}</span>
</ng-template>