<div class="form-group">
  <label>
    <i class="fa fa-info-circle" *ngIf="data?.helperText" placement="right" [ngbTooltip]="data?.helperText"></i>
    {{data.label}}
    <span class="required" *ngIf="data?.required">*</span>
  </label>
  <div class="input-group">
  <input autocomplete="false" type="password" #passWordInput class="form-control" name="{{data.name}}" placeholder="{{data?.placeholder}}"
         value="{{data?.value}}">
    <div class="input-group-append"  (click)="toggleInput()">
      <span class="input-group-text"><i class="fa fa-eye"></i></span>
    </div>
  </div>
  <small class="form-text text-muted">{{data?.description}}</small>
</div>
