<div class="form-group row" [formGroup]="parentFormGroup">
  <label class="col-sm-2 col-form-label">
    <i class="fa fa-info-circle" *ngIf="data?.helperText" placement="top" [ngbTooltip]="data?.helperText"></i>
    {{data.label}}: <span class="required" *ngIf="data?.required">*</span>
  </label>
  <div class="col-sm-10">
    <input type="{{data.type}}" class="form-control" name="{{data.name}}"
           placeholder="{{data?.placeholder}}" value="{{data?.value}}" [formControlName]="data.name">
    <small class="form-text text-muted">{{data?.description}}</small>
  </div>
</div>
