<dg-modal icon="fas fa-trash-can" [eyebrow]="itemType" [title]="title" (dismiss)="activeModal.dismiss('cancel')">

    <p class="delete-lead" id="delete-message">
        Do you want to <b>delete</b> the {{ itemType }} <b>"{{ itemName }}"</b>?
    </p>

    @if (warningMessage) {
    <app-warning-alert [title]="warningTitle" [message]="warningMessage" [iconClass]="warningIconClass">
    </app-warning-alert>
    }

    <app-button dgModalFooter [bootstrapClass]="'btn-secondary'" label="Close" type="button"
        (clicked)="activeModal.dismiss()">
    </app-button>

    <app-button dgModalFooter [bootstrapClass]="'btn-danger'" label="Delete" type="button" icon="fas fa-trash-can"
        (clicked)="confirmDelete()">
    </app-button>
</dg-modal>