<div class="modal-content" *ngIf="isUsable; else notUsableModal">
  <div class="modal-body">

    <img id="login-logo" src="/assets/img/datagerry_logo.svg" class="img-fluid mx-auto d-block w-50"
           alt="DATAGERRY"/>

    <div class="card text-center border-0">
      <div class="card-body">
        <h3 class="card-title">Welcome to your first DATAGERRY launch.</h3>

        <p class="card-text text-muted">
          <!-- Take a short spin through your DATAGERRY CMDB.<br>
          See how DATAGERRY is making life a bit easier for you. -->
          The assistant can help you setup up your initial structure for DATAGERRY with some simple steps.<br>
          Try it out by clicking on the 'Start Assistant'-button.
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light mr-auto" (click)="activeModal.dismiss(false)">SKIP</button>
    <button type="button" class="btn btn-primary" (click)="activeModal.close(true)">Start Tour</button>
  </div>
</div>

<ng-template #notUsableModal>
    <div class="modal-content">
        <div class="modal-body">
            The assistant is only usable when no categories, types and objects exist in the database.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="activeModal.close(false)">Close</button>
        </div>
    </div>
</ng-template>
