<div class="row">
  <div class="col-4">
    <cmdb-dashcard name="Objects" [numbers]= objectCount icon="fa fa-cube"></cmdb-dashcard>
  </div>
  <div class="col-4">
    <cmdb-dashcard name="Types" [numbers]= typeCount icon="fa fa-cubes"></cmdb-dashcard>
  </div>
  <div class="col-4">
    <cmdb-dashcard name="Users" [numbers]= userCount icon="fa fa-users"></cmdb-dashcard>
  </div>
</div>

<cmdb-newest-view></cmdb-newest-view>
<cmdb-latest-changes-view></cmdb-latest-changes-view>
<cmdb-object-insert></cmdb-object-insert>
