
<cmdb-content-header
  title="{{mode==1 ? 'Add new Category' : 'Edit Category#' + category?.public_id}}">
</cmdb-content-header>

<div class="row">
  <div class="col-sm-4">
    <div class="card drag-items">
      <div class="card-header">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Categories" aria-label="Search"
               [(ngModel)]="filterCategories">
      </div>
      <div class="card-body overflow-auto">
        <div class="list-group">
          <div *ngFor="let category of categoryList | filter: filterCategories" class="list-group-item list-group-item-action mt-2">
            <div [dndDraggable]="category" [dndType]="'parentCategory'" class="d-flex w-100 justify-content-between">
              {{category.label}} # {{category.public_id}}
              <fa-icon icon="arrows-alt"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card drag-items mt-3">
      <div class="card-header">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Types" aria-label="Search"
               [(ngModel)]="filterTypes">
      </div>
      <div class="card-body overflow-auto">
        <div class="list-group">
          <div *ngFor="let type of typeList | filter: filterTypes" class="list-group-item list-group-item-action mt-2" >
            <div [dndDraggable]="type" [dndType]="'assignedTypes'" class="d-flex w-100 justify-content-between">
              <i class="{{type.render_meta?.icon}}"></i> {{type.label}} # {{type.public_id}}
              <fa-icon icon="arrows-alt"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card category-form">
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
          {{mode == 1 ? 'Add new Category' : 'Edit Category'}}
          <div class="custom-switch float-right">
            <input class="custom-control-input" id="typeActiveInput" type="checkbox" formControlName="root">
            <label class ="custom-control-label" for="typeActiveInput">Root</label>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Label</label>
                <input type="text" formControlName="label" class="form-control" placeholder="Label">
              </div>
              <div class="form-group col-md-6">
                <label>Name</label>
                <input type="text" formControlName="name" class="form-control" placeholder="Name" lowercase readonly>
              </div>
              <div class="form-group col-md-12" *ngIf="!categoryForm.get('root').value">
                <label>Parent Category</label>
                <div class="card">
                  <div class="card-body">
                    <section [dndDropzone]="['parentCategory']"
                             (dndDrop)="onDraggedParent($event, parentCategories, 'copy')">
                      <div style="border: 1px green solid; border-radius: 5px; padding: 15px;"
                           dndPlaceholderRef>
                        Drop parent here
                      </div>
                      <div *ngFor="let parent of parentCategories"
                           class="list-group-item list-group-item-action">
                            <span class="d-flex justify-content-between align-items-center ">
                              {{parent.label}} # {{parent.public_id}}
                              <fa-icon icon="trash-alt" (click)="removeParent(parent)"></fa-icon>
                            </span>
                      </div>
                      <div *ngIf="parentCategories.length === 0"
                           class="list-group-item list-group-item-action"
                           style="border: 1px orangered dashed; border-radius: 5px; padding: 15px;">
                        <span class="d-flex justify-content-between align-items-center ">
                              Drop parent here
                          <fa-icon icon="code"></fa-icon>
                        </span>
                      </div>
                    </section>
                  </div>
                </div>
                <small class="form-text text-muted">Each category has only a parent category. <b>Default: Root #0</b></small>
              </div>
              <div class="form-group col-md-12">
                <label>Assigned types</label>
                <div class="card">
                  <div class="card-body">
                    <section [dndDropzone]="['assignedTypes']"
                             (dndDrop)="onDraggedAssignedTypes($event, assignedTypes, 'copy')">
                      <div style="border: 1px green solid; border-radius: 5px; padding: 15px;"
                           dndPlaceholderRef>
                        Drop type here
                      </div>
                      <div *ngFor="let type of assignedTypes"
                           class="list-group-item list-group-item-action">
                            <span class="d-flex justify-content-between align-items-center ">
                              {{type.label}} # {{type.public_id}}
                              <fa-icon icon="trash-alt" (click)="removeAssignedType(type)"></fa-icon>
                            </span>
                      </div>
                      <div *ngIf="assignedTypes.length === 0"
                           style="border: 1px orangered dashed; border-radius: 5px; padding: 15px;">
                        <span class="d-flex justify-content-between align-items-center ">
                              Drop type here
                          <fa-icon icon="code"></fa-icon>
                        </span>
                      </div>
                    </section>
                  </div>
                </div>
                <small class="form-text text-muted">Each object type must be part of one (and only one) category</small>
              </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right mr-1" [disabled]="!categoryForm.valid">Save</button>
            <button class="btn btn-secondary" routerLink="/framework/category/">Cancel</button>
            <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>
</div>
