<dg-modal
    icon="far fa-edit"
    eyebrow="File Explorer"
    title="Rename Element"
    (dismiss)="activeModal.close(false)">

    <form [formGroup]="basicForm">
        <label class="form-label" for="folderNameInput">
            New name <span class="text-danger">*</span>
        </label>

        <input
            id="folderNameInput"
            type="text"
            class="form-control"
            formControlName="name"
            [class.is-valid]="name.valid && (name.dirty || name.touched)"
            [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
            required>

        <small id="folderNameInputHelp" class="form-text text-muted">Folder name must be unique</small>

        @if (name.invalid && (name.dirty || name.touched)) {
        <div class="invalid-feedback">
            @if (name.errors.required) {
            <div>Name is required.</div>
            }
            @if (name.errors.nameAlreadyTaken) {
            <div>A element with this name already exists.</div>
            }
        </div>
        }
    </form>

    <app-button
        dgModalFooter
        bootstrapClass="btn-secondary"
        label="Cancel"
        type="button"
        (clicked)="activeModal.close(false)">
    </app-button>

    <app-button
        dgModalFooter
        bootstrapClass="btn-primary"
        label="Rename"
        type="button"
        icon="far fa-edit"
        [disabled]="!name.valid"
        (clicked)="activeModal.close({filename: name.value})">
    </app-button>
</dg-modal>
