<cmdb-table [items]="types" [columns]="columns" [page]="page" [sort]="sort" [id]="'type-list-table'"
            [stateEnabled]="false" [emptyMessage]="'No types were found!'" [customButtons]="[activatedButtonTemplate]"
            [totalItems]="totalTypes" [loading]="loading" [pageSize]="limit"
            (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"
            (sortChange)="onSortChange($event)" (searchChange)="onSearchChange($event)"></cmdb-table>

<ng-template #typeNameTemplate let-item="item">
  <cmdb-type-label [faIcon]="item.render_meta?.icon" [description]="item?.description"
                   [title]="item.label ? item.label : item.name"
  ></cmdb-type-label>
</ng-template>

<ng-template #aclActivateTemplate let-data="data">
  <cmdb-acl-objects-information-activation-column [acl]="data"></cmdb-acl-objects-information-activation-column>
</ng-template>

<ng-template #aclPermissionsTemplate let-data="data">
  <cmdb-acl-objects-information-permissions-column [group]="group"
                                                   [acl]="data"></cmdb-acl-objects-information-permissions-column>
</ng-template>

<!-- Custom table buttons -->
<ng-template #activatedButtonTemplate>
  <div [formGroup]="activatedForm" class="acl-group-active-button-group d-flex align-items-center border-right pr-2">
    <div class="custom-control custom-switch">
      <input type="checkbox" formControlName="active" class="custom-control-input"
             id="acl-group-active-button-group-switch">
      <label class="custom-control-label" for="acl-group-active-button-group-switch">Activated</label>
    </div>
  </div>
</ng-template>
