@import 'src/scss/variables';

.location-tree-invisible {
    display: none;
}
  
.location-tree ul,
.location-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

// /*
//  * This padding sets alignment of the nested nodes.
//  */
.location-tree .mat-nested-tree-node div[role=group] {
  padding-left: 20px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.location-tree div[role=group] > .mat-tree-node {
  padding-left: 20px;
}

.location_icon{
  padding-right: 5px;
}

.location_element:hover {
  
  background-color: $dg-hover-background-color;
}

.location_name:hover {
  cursor: pointer;
  color: $dg-primary-color;
}

.location-selected {
  background-color: $dg-selected-background-color;
}

mat-tree-node {
  padding-left: 5px;
}

.mat-tree-node {
  min-height: 30px;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  width: 30px;
  height: 30px;
  padding: 0px;
}

.mat-mdc-icon-button .mat-mdc-button-touch-target {
  position: absolute;
  top: 50%;
  height: 30px;
  left: 50%;
  width: 30px;
  transform: translate(-50%, -50%);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
}


