<div [formGroup]="form" class="form-row">
    <div class="form-group col-md-12" hidden="true">
        <label> Name: <span class="required">*</span></label>
        <div class="input-group" >
            <input [(ngModel)]="data.name" 
                [ngModelOptions]="{standalone: true}" 
                type="text" class="form-control" 
                [disabled]="true" 
                value="{{data.name}}"
                (ngModelChange)="onNameChange($event)">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="form-group col-md-12">
        <label>Label:</label>
        <input [(ngModel)]="data.label" 
               [ngModelOptions]="{standalone: true}" 
               type="text" 
               class="form-control">
        <small class="form-text text-muted">This label will be displayed in the object overview</small>
    </div>
    <div class="form-group col-md-12">
        <label>Selectable as location:</label>
        <div class="input-group">
          <div class="input-group-prepend">
                <span class="input-group-text pr-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" 
                           [(ngModel)]=" this.selectable_as_parent" 
                           (click)="updateSelectableAsParent()" 
                           [ngModelOptions]="{standalone: true}" 
                           class="custom-control-input"
                           [id]="data.name+'_selectable'"
                        />
                        <label class="custom-control-label" [for]="data.name+'_selectable'"></label>
                    </div>
                </span>
          </div>
        </div>
        <small class="form-text text-muted float-left is_selectable">Uncheck this to prevent this type from being selected as a parent</small>
        <div class="clearfix"></div>
      </div>
</div>
  