<div [formGroup]="form" class="row">
    <div class="form-group col-md-12" hidden="true">
        <label class="mb-1">Identifier<span class="required">*</span>:</label>
        <div class="input-group" >
            <input
                [(ngModel)]="data.name" 
                [ngModelOptions]="{standalone: true}" 
                type="text" class="form-control" 
                [disabled]="true" 
                value="{{data.name}}"
                (ngModelChange)="onNameChange($event)"
            >
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-12 mb-3">
        <label class="mb-1">Label<span class="required">*</span>:</label>
        <input
            [formControl]="labelControl"
            [(ngModel)]="data.label"
            type="text"
            class="form-control"
            placeholder="Field label"
            [ngClass]="{ 'is-valid': labelControl.valid && (labelControl.dirty || labelControl.touched),
                 'is-invalid': labelControl.invalid && (labelControl.dirty || labelControl.touched)}"
            (input)="onInputChange($event)"
        />
        <small class="form-text text-muted">This label will be displayed in the object overview</small>
    </div>
    <div class="col-md-12 mb-3">
        <label>Selectable as location:</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text pe-1">
                    <div class="form-check custom-checkbox">
                        <input
                        type="checkbox"
                        class="custom-control-input"
                        [formControl]="selectableAsParentControl"
                        [id]="data.name+'_selectable'"
                      />
                      <label class="custom-control-label" [for]="data.name+'_selectable'"></label>
                      
                    </div>
                </span>
            </div>
        </div>
        <small class="form-text text-muted text-start is_selectable">Uncheck this to prevent this type from being selected as a parent</small>
        <!-- <div class="clearfix"></div> -->
    </div>
</div>
  