<div [formGroup]="form" class="form-row">
  <div class="form-group col-md-12">
    <label>Required / Name: <span class="required">*</span></label>
    <div class="input-group">
      <div class="input-group-prepend">
            <span class="input-group-text pr-1">
               <div class="custom-control custom-checkbox">
                <input type="checkbox" [(ngModel)]="data.required" [ngModelOptions]="{standalone: true}" class="custom-control-input"
                       [id]="data.name+'-required'"  />
                 <label class="custom-control-label" [for]="data.name+'-required'"></label>
               </div>
            </span>
      </div>
      <input [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" value="{{data.name}}"
             (ngModelChange)="onNameChange($event)" [disabled]="mode == MODES.Edit">
    </div>
    <small class="form-text text-muted float-left">Use a unique field name</small>
    <div class="clearfix"></div>
  </div>
  <div class="form-group col-md-12">
    <label>Label:</label>
    <input [(ngModel)]="data.label"  [ngModelOptions]="{standalone: true}" type="text" class="form-control"
    [ngClass]="{ 'is-valid': labelControl.valid && (labelControl.dirty || labelControl.touched),
    'is-invalid': labelControl.invalid && (labelControl.dirty || labelControl.touched)}" (ngModelChange)="onInputChange($event)"/>
    <small class="form-text text-muted">a static display name</small>
  </div>
  <!-- <div class="form-group col-md-12">
    <label>Reference type selections: <span class="required">*</span></label>
    <ng-select [items]="typeList"
               bindLabel="label"
               bindValue="public_id"
               loadingText='Loading...'
               [loading]="typeLoading"
               [closeOnSelect]="false"
               [multiple]=true
               (change)="onChange()"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="data.ref_types">
    </ng-select>
    <small class="form-text text-muted">Multiple types possible</small>
  </div> -->

  <div class="form-group col-md-12" [class.has-error]="form.get('ref_types').hasError('required')">
    <label>Reference type selections: <span class="required">*</span></label>
    <ng-select [items]="typeList"
               bindLabel="label"
               bindValue="public_id"
               loadingText='Loading...'
               [loading]="typeLoading"
               [closeOnSelect]="false"
               [multiple]=true
               (change)="onChange()"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="data.ref_types"
             
              >
    </ng-select>
    <small class="form-text text-muted">Multiple types possible</small>
    <div *ngIf="form.get('ref_types').hasError('required')" class="invalid-feedback">
      Reference type is required.
    </div>
  </div>
  <div class="form-group col-md-12">
    <label>Description:</label>
    <textarea [(ngModel)]="data.description" class="form-control" [ngModelOptions]="{standalone: true}">
                        {{data.description}}
                      </textarea>
    <small class="form-text text-muted">short field description or helper text</small>
  </div>
  <div class="form-group col-md-12">
    <label>Helper text:</label>
    <input [(ngModel)]="data.helperText" [ngModelOptions]="{standalone: true}" type="text" class="form-control" value="{{data.helperText}}">
  </div>

  <div class="form-group col-md-12">
    <label>Summaries:</label>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Label</th>
        <th scope="col">Summary line</th>
        <th scope="col">Fields</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let summary of summaries; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>
          <ng-select [items]="filteredTypeList"
                     bindLabel="label"
                     bindValue="public_id"
                     (change)="changeSummaryOption($event)"
                     [(ngModel)]="summary.type_id"
                     [ngModelOptions]="{standalone: true}">
          </ng-select>
        </td>
        <td>
          <ng-template #previewContent>
            <b>Show type icon and label</b><br>
            <i class="{{summary?.icon}}"></i> {{summary?.label}} #{{summary?.type_id}}
          </ng-template>
          <div class="d-flex justify-content-center">
            <input type="checkbox" value="{{summary.prefix}}"
                   [ngbTooltip]="previewContent"
                   [(ngModel)]="summary.prefix" [ngModelOptions]="{standalone: true}">
          </div>
        </td>
        <td>
          <input type="text" class="form-control" value="{{summary.line}}" [(ngModel)]="summary.line" [ngModelOptions]="{standalone: true}">
          <small class="form-text text-muted">enter curved brackets for field interpolation
            example: Hostname: <b>{{"{}"}}</b> IP-Address : <b>{{"{}"}}</b></small>
        </td>
        <td>
          <ng-select [items]="summaryFieldFilter(summary.type_id)" [multiple]="true"
                     bindLabel="label"
                     bindValue="name"
                     placeholder="Select fields"
                     [(ngModel)]="summary.fields"
                     [ngModelOptions]="{standalone: true}">
          </ng-select>
        </td>
        <td>
          <button type="button" class="btn btn-outline-primary" [disabled]="summary.length == 1"
                  (click)="delSummary(summary)">
            <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <button type="button" class="btn btn-outline-secondary" (click)="addSummary()">+ Add option</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group col-md-12">
    <label>Default value:</label>
    <select [(ngModel)]="data.value" [ngModelOptions]="{standalone: true}" class="form-control">
      <option></option>
      <option *ngFor="let obj of objectList; let i = index" [value]="changeDefault(obj.object_information.object_id)">
        ID: {{obj.object_information.object_id}} Summaries: {{obj.summary_line}}
      </option>
    </select>
  </div>
</div>
