{# Error page for unexpected errors #}
{% extends 'layout.html' %}
{% block title %}ERROR {{ error.code }} {% endblock %}
{% block navigation %}
    {% include 'includes/_navigation.html' %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            {{ super() }}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ error.code }} </strong> {{ error.description }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}