<div class="accordion-item">
  <div>
    <!-- ═══════════ 1. Risk ═══════════ -->
    <div class="mb-3">
      <label class="form-label">
        Risk
        <span class="text-danger">
          {{ parentForm.get('risk_id')?.validator ? '*' : '' }}
        </span>
      </label>

      @if (parentForm.get('risk_id')?.disabled) {

      <input type="text" readonly class="form-control"
        [value]="'#' + parentForm.get('risk_id')?.value + (riskName ? ' | ' + riskName : '')">

      } @else {

      <app-form-select [formControl]="parentForm.get('risk_id')" [items]="risks" bindLabel="name" bindValue="public_id"
        placeholder="Select a Risk">
      </app-form-select>

      }


    </div>

    <!-- ═══════════ 2. Object Ref Type (radios) ═══════════ -->
    <div class="mb-3">
      <label class="d-block mb-1">
        Object Ref Type
        <span class="required">{{ parentForm.get('object_id_ref_type')?.validator ? '*' : '' }}</span>
      </label>

      @for (t of objectRefTypes; track t) {

      <app-radio [label]="t.label" [value]="t.value" name="objectRefTypeGroup" [id]="'objRef_' + t.value"
        [formControl]="parentForm.get('object_id_ref_type')">
      </app-radio>

      }
    </div>

    <!-- ═══════════ 3. Object / Object Group ═══════════ -->
    <div class="mb-3">
      <label class="form-label mb-1">
        {{
        parentForm?.get('object_id_ref_type')?.value === 'OBJECT' ? 'Object ID' :
        parentForm?.get('object_id_ref_type')?.value === 'OBJECT_GROUP' ? 'Object Group ID' :
        'Object / Group'
        }}
        <span class="text-danger">{{ parentForm.get('object_id')?.validator ? '*' : '' }}</span>
      </label>

      <!-- READONLY object/object group block -->
      @if (parentForm.get('object_id')?.disabled) {

      <div class="form-control bg-light" style="min-height: 38px;">
        @if (!isObjectLoading) {

        <!-- For OBJECT type -->
        @if (parentForm.get('object_id_ref_type')?.value === 'OBJECT') {

        <!-- If naming is available, use it -->
        @if (parentForm.value.naming?.object_id_name) {

        <a [routerLink]="['/framework/object/view/', parentForm.get('object_id')?.value]">
          {{ parentForm.value.naming?.object_id_name }}
        </a>
        @if ((selectedObjectRenderResult?.summary_line || objectSummary)) {
        <span> – {{ selectedObjectRenderResult?.summary_line || objectSummary }}</span>
        }
        } @else {
        @if (selectedObjectRenderResult) {
        <i [class]="selectedObjectRenderResult.type_information?.icon" class="me-1"></i>
        <a [routerLink]="['/framework/object/view/', selectedObjectRenderResult.object_information?.object_id]"
          class="text-decoration-none">
          #{{ selectedObjectRenderResult.object_information?.object_id }} {{
          selectedObjectRenderResult.type_information?.type_label }}
        </a>
        @if (selectedObjectRenderResult.summary_line) {
        <span> – {{ selectedObjectRenderResult.summary_line }}</span>
        }
        } @else {

        <span>
          #{{ parentForm.get('object_id')?.value }}
          {{ objectSummary ? ' – ' + objectSummary : '' }}
        </span>

        }
        }
        <!-- If naming is not available (e.g., add mode), show rendered object with summary when possible -->

        }
        <!-- For OBJECT_GROUP type -->
        @if (parentForm.get('object_id_ref_type')?.value === 'OBJECT_GROUP') {
        @if (parentForm.value.naming?.object_group_id_name) {
        <span>
          #{{ parentForm.get('object_id')?.value }} -
          {{ parentForm.value.naming?.object_group_id_name }}
        </span>
        } @else {
        <span>
          #{{ parentForm.get('object_id')?.value }}
          {{ objectSummary ? ' – ' + objectSummary : '' }}
        </span>
        }
        }
        }
      </div>

      } @else {


      @switch (parentForm.get('object_id_ref_type')?.value) {
      <!-- OBJECT -->
      @case ('OBJECT') {

      @if (typesLoaded) {
      <app-object-selector [typeIds]="allTypeIds" [multiple]="false" [closeOnSelect]="true"
        [selectedIds]="parentForm.get('object_id')?.value ? [parentForm.get('object_id')?.value] : []"
        (selectionChange)="onObjectSelected($event)">
      </app-object-selector>
      }

      @if (!typesLoaded) {
      <div class="form-text">Loading types…</div>
      }

      }

      <!-- OBJECT GROUP -->
      @case ('OBJECT_GROUP') {

      <app-form-select [formControl]="parentForm.get('object_id')" [items]="objectGroups" bindLabel="name"
        bindValue="public_id" placeholder="Select Object Group">
      </app-form-select>

      }
      }


      }

      <!-- EDITABLE object/object group picker -->

    </div>
  </div>
</div>