<footer class="mt-3" id="footer">
  <div>
    <span>copyright {{ today | date: 'yyyy' }} @
      <a href="https://www.becon.de" target="_blank">becon GmbH</a>
    </span>
  </div>
  <div class="ml-auto">
    Session timeout in: {{timeout}}
  </div>
  <div id="footerLinks" class="ml-auto">
    <a href="{{docUrl}}" target="_blank" rel="noopener noreferrer"><fa-icon icon="book"></fa-icon></a>
    <a href="https://github.com/DATAGerry/DATAGerry" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://datagerry.com" target="_blank"><fa-icon icon="home"></fa-icon></a>
  </div>
</footer>
