@import "../../../../scss/variables";

.card-header {
  button {
    padding: 0;
  }
}

.space-bottom {
  margin-bottom: 15px;
}

#builder-external{
  position: relative;
}

#controlExternalWrapper{
  position: sticky;
  top: calc(15px + #{$navbar-height})
}
