<aw-wizard [navBarLayout]="'large-empty-symbols'">
  <aw-wizard-step stepId="1" stepTitle="Basic informations">
    <ng-template awWizardStepSymbol><i class="fas fa-file-code"></i></ng-template>
    <cmdb-task-basic-step [preData]="taskInstance" [mode]="mode"></cmdb-task-basic-step>
    <button class="btn btn-primary next" type="button" awNextStep [disabled]="!basicStep.basicForm.valid">Next Step
    </button>
  </aw-wizard-step>
  <aw-wizard-step stepId="2" stepTitle="Sources">
    <ng-template awWizardStepSymbol><i class="fas fa-clipboard-check"></i></ng-template>
    <cmdb-task-sources-step [preData]="taskInstance" [selectedTypes]="sourcesStep" [mode]="mode"></cmdb-task-sources-step>
    <button class="btn btn-primary prev" type="button" awPreviousStep>Go to previous step</button>
    <button class="btn btn-primary next" type="button"
            [disabled]="!sourcesStep.sourcesForm.valid" awNextStep>Go to next step
    </button>
  </aw-wizard-step>
  <aw-wizard-step stepId="3" stepTitle="Destinations">
    <ng-template awWizardStepSymbol><i class="fas fa-clipboard-check"></i></ng-template>
    <cmdb-task-destinations-step [preData]="taskInstance" [mode]="mode"></cmdb-task-destinations-step>
    <button class="btn btn-primary prev" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-primary next" type="button"
            [disabled]="!destinationStep.destinationForm.valid" awNextStep>Go to next step
    </button>
  </aw-wizard-step>
  <aw-wizard-step stepId="4" stepTitle="Variables">
    <ng-template awWizardStepSymbol><i class="fas fa-clipboard-check"></i></ng-template>
    <cmdb-task-variables-step [preData]="taskInstance" [sources]="sourcesStep.sourcesForm.get('sources').value" [destinationStep]="destinationStep" [mode]="mode"></cmdb-task-variables-step>
    <button class="btn btn-primary prev" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-primary next" type="button"
            [disabled]="!variablesStep.variableForm.valid" awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step stepId="4" stepTitle="Scheduling">
    <ng-template awWizardStepSymbol><i class="fas fa-history"></i></ng-template>
    <cmdb-task-scheduling-step  [preData]="taskInstance" [mode]="mode"></cmdb-task-scheduling-step>
    <button class="btn btn-primary prev" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-primary next" type="button"
            [disabled]="!schedulingStep.eventForm.valid"
            awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step stepId="5" stepTitle="Complete">
    <ng-template awWizardStepSymbol><i class="fas fa-save"></i></ng-template>
    <cmdb-task-complete-step [basicStep]="basicStep"></cmdb-task-complete-step>
    <button class="btn btn-primary prev" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-success next" type="button" (click)="saveTask()">Save</button>
  </aw-wizard-step>
</aw-wizard>
