<h1>Delete Group: <strong>{{deleteAbleGroup?.label}}</strong></h1>
<hr/>
<form [formGroup]="deleteForm" (ngSubmit)="onDeleteGroup()">
  <div class="custom-control custom-radio">
    <input formControlName="deleteGroupAction" id="moveUsers" type="radio" name="deleteGroupAction" value="move"
           class="custom-control-input">
    <label class="custom-control-label" for="moveUsers">Move users to group: <b>Users</b></label>
  </div>
  <div class="custom-control custom-radio">
    <input formControlName="deleteGroupAction" id="deleteUsers" type="radio" name="deleteGroupAction" value="delete"
           class="custom-control-input">
    <label class="custom-control-label" for="deleteUsers">Delete all users in this group</label>
  </div>
  <hr/>
  <button type="submit" class="btn btn-primary" [disabled]="deleteForm.invalid">Delete</button>
  <button routerLink="/management/groups/" type="button" class="btn ml-2 btn-outline-danger">Cancel</button>
</form>
