<tr *ngFor="let item of items; let i = index">
  <td *ngFor="let column of columns; let c = index">
    <ng-template #renderContainer *ngIf="column.render; else raw">
      {{column.render(item, column, i, renderContainer)}}
    </ng-template>
    <ng-template #raw>
      {{resolve(column.data, item)}}
    </ng-template>
  </td>
</tr>
<!-- Empty list -->
<tr *ngIf="items.length === 0">
  <td class="text-center" [attr.colspan]="columns ? columns.length : 0">
    {{emptyItemMessage}}
  </td>
</tr>
