<div class="row align-items-center">
  <div class="col-6 offset-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && controls.username.errors }"/>
        <div *ngIf="submitted && controls.username.errors" class="invalid-feedback">
          <div *ngIf="controls.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && controls.password.errors }"/>
        <div *ngIf="submitted && controls.password.errors" class="invalid-feedback">
          <div *ngIf="controls.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="!loginForm.valid" class="btn btn-primary">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
