.dropdown-entry {
  text-align: left;
}

li{
  display: block;
  width: 100%;
}

ul{
  width:fit-content;
  justify-content: center;
}

.btn-react:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.dropdown-menu {
  width: fit-content;
  height: fit-content;
}
