Package: DataGerry
Version: @@DG_BUILDVAR_VERSION@@
Architecture: all
Essential: no
Priority: optional
Depends: rabbitmq-server
Maintainer: becon GmbH
Description: Open Source CMDB und Asset Management Tool 