<div class="d-flex justify-content-between align-items-center">
  <h1>Webhooks</h1>
  <div>
  <button type="button" class="btn btn-sm btn-secondary ml-2 text-white margin" [routerLink]="['/webhooks/logs']"
  *permissionLink="['base.framework.webhook.view']">
      <i class="fas fa-history"></i> Webhook Logs
    </button>
  <button type="button" class="btn btn-sm btn-success" [routerLink]="['/webhooks/create']"
  *permissionLink="['base.framework.webhook.add']">
    <i class="fas fa-plus"></i> Create Webhook
  </button>
</div>
</div>
<hr />

<cmdb-table
  [items]="webhooks"
  [columns]="columns"
  [totalItems]="totalWebhooks"
  [pageSize]="limit"
  [page]="page"
  [loading]="loading"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
>
</cmdb-table>

<!-- Actions Template -->
<ng-template #actionsTemplate let-item="item">

  <span *permissionLink="['base.framework.webhook.edit']">
    <i class="far fa-edit icon-margin btn-edit" (click)="editWebhook(item.public_id)"></i>
  </span>

<span *permissionLink="['base.framework.webhook.delete']">
  <i
    class="far fa-trash-alt btn-delete"
    (click)="onDeleteWebhook(item)"
    title="Delete Webhook"
  ></i>
</span>
</ng-template>

<!-- status Template -->
<ng-template #statusTemplate let-item="item">
  <span [ngClass]="{'text-success': item.active, 'text-danger': !item.active}">
    {{ item.active ? 'Active' : 'Not Active' }}
  </span>
 </ng-template>