<button type="button" (click)="onShowAddModal()" class="float-right btn btn-success btn-sm mb-2"
        *permissionLink="'base.framework.object.add';acl:renderResult.type_information.acl;requirements:'CREATE'"
><i
  class="fas fa-plus-circle"></i> Add
</button>
<div class="clearfix"></div>
<cmdb-table [items]="linkList" [totalItems]="linkList.length" [columns]="columns" [searchEnabled]="false"
            [rowClasses]="['align-middle']" [emptyMessage]="'No Objects have been linked yet!'" [stateEnabled]="false"
            [paginationEnabled]="false" [pageSizeEnabled]="false">
</cmdb-table>

<ng-template #dateTemplate let-date="data">
  {{date?.$date | date:'medium'}}
</ng-template>
<ng-template #idTemplate let-data="data">
  {{data}}
</ng-template>
<ng-template #summaryTemplate let-item="item">
  {{item?.partnerObject?.summary_line}}
</ng-template>
<ng-template #partnerTemplate let-item="item">
  <a [routerLink]="['/framework/object/view', item?.partnerObject?.object_information?.object_id]">
    {{item?.partnerObject?.object_information?.object_id}} # {{item?.partnerObject?.type_information?.type_label}}</a>
</ng-template>
<ng-template #deleteTemplate let-id="data" >
  <div class="d-flex justify-content-center">
    <button class="btn btn-sm btn-danger" (click)="onShowDeleteModal(id)"
            *permissionLink="'base.framework.object.add';acl:renderResult.type_information.acl;requirements:'DELETE'"
    >Delete</button>
  </div>
</ng-template>

