<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 shrink-to-fit=no">
        <title>CMDB | {% block title %}{% endblock %}</title>
        {% if mode == 'DEBUG' %}
            <link rel="stylesheet" href="{{ url_for('static', filename='cmdb.css') }}"/>
        {% else %}
            <link rel="stylesheet" href="{{ url_for('static', filename='cmdb.min.css') }}"/>
        {% endif %}
    </head>
{% endblock %}
<body class="embedded-layout">
{% block content %}
{% endblock %}
{% block scripts %}
    {% if mode == 'DEBUG' %}
        <script src="{{ url_for('static', filename='cmdb.js') }}"></script>
    {% else %}
        <script src="{{ url_for('static', filename='cmdb.min.js') }}"></script>
    {% endif %}
{% endblock %}
</body>
</html>