{% extends 'embedded.html' %}
{% block title %}Login{% endblock %}

{% block content %}
{{ super() }}
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div id="cmdb_brand"></div>
                <div class="card fat animated {% if error is defined or request.args.get('error') %}shake{%else%}fadeIn{% endif %}">
                    <div class="inner-pace"></div>
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <form method="POST">
                            <div class="form-group">
                                <label for="user_name">Username/E-Mail Address</label>
                                <input id="user_name" placeholder="Username" type="username" class="form-control"
                                       name="user_name" value="" required="" autofocus="" tabindex="1">
                            </div>
                            <div class="form-group">
                                <label for="password">Password
                                    <a href="/forgot-password/" class="float-right">
                                        Forgot Password?
                                    </a>
                                </label>
                                <input id="password" placeholder="Password" type="password" class="form-control"
                                       name="password" required="" tabindex="2">
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="remember"> Remember Me
                                </label>
                            </div>
                            {% if error is defined or request.args.get('error')%}
                            <div class="alert alert-danger" role="alert">
                                <strong>Login failed!</strong> {{error}}{{request.args.get('error')}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                            <div class="form-group no-margin">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Login
                                </button>
                            </div>
                            <div class="margin-top20 text-center">
                                Don't have an account? <a href="/register/">Create One</a>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="footer">
                    CMDB © NETHINKS GmbH
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}