<h1>Category</h1>
<div class="float-right">
  <ng-container *permissionLink="['base.framework.category.add']">
    <button [routerLink]="['/framework/category/add']" type="button" class="btn btn-sm btn-primary">
      <i class="fas fa-plus-circle"></i> Add
    </button>
  </ng-container>
  <ng-container *permissionLink="['base.framework.category.edit']">
    <button *ngIf="mode != 2; else listButton" [routerLink]="['/framework/category/edit']" type="button"
            class="btn btn-sm btn-secondary ml-2 text-white">
      <i class="fas fa-edit"></i> Edit
    </button>
  </ng-container>
  <ng-template #listButton>
    <button [routerLink]="['/framework/category/']" type="button" class="btn btn-sm btn-secondary ml-2 text-white">
      <i class="fas fa-list"></i> List
    </button>
  </ng-template>
</div>
<div class="clearfix"></div>
<hr/>
<div class="row">
  <div id="category-tree" class="col-sm-12 col-md-4 border-right">
    <div class="card">
      <div class="card-header">
        Category-Tree
      </div>
      <div class="card-body">
        <div class="tree-view">
          <cmdb-category-tree [mode]="mode" [tree]="categoryTree" (change)="onTreeChange()"></cmdb-category-tree>
        </div>
      </div>
      <div *ngIf="mode == 2;" class="card-footer">
        <div  class="btn-group float-right" role="group">
          <button type="submit" class="btn btn-success" (click)="onSave()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div id="category-list" class="col-sm-12 col-md-8">
    <div class="card">
      <div class="card-header">Category-List</div>
      <div class="card-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
               class="table table-striped table-bordered"></table>
      </div>
    </div>
  </div>
</div>


