<h1>Category
  <div class="float-right">
    <button [routerLink]="['/framework/category/add']" type="button" class="btn btn-primary">
      <i class="fas fa-plus-circle"></i> Add
    </button>
    <button [routerLink]="['/framework/category/edit']" type="button" class="btn btn-secondary ml-2 text-white">
      <i class="fas fa-edit"></i> Edit
    </button>
  </div>
  <div class="clearfix"></div>
</h1>
<hr/>
<div id="category-tree">
  <cmdb-category-tree [tree]="categoryTree"></cmdb-category-tree>
</div>
