@import "src/scss/variables";

#form-container {

  button:disabled,
  button[disabled]{
    pointer-events: auto;
  }

  section {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }

    .empty-section {
      position: relative;
      height: 200px;
      border: 3px dashed theme-color("info");

      &:after {
        content: attr(data-content);
        position: absolute;
        text-align: center;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: -1em;
        text-transform: uppercase;
        font-size: .8em;
      }
    }

  }

  .fields {
    margin-top: 15px;
  }

  #form-content {
    min-height: 50px;
    width: 100%;
    position: relative;

    &.empty {
      height: 100%;
      border: 3px dashed theme-color("info");

      &:after {
        content: attr(data-content);
        position: absolute;
        text-align: center;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: -1em;
        text-transform: uppercase;
        font-size: .8em;
      }
    }
  }
}

#form-container #form-content.empty {
  border: 3px dashed rgb(175, 190, 205) !important;
  background-color: transparent !important;
}


#form-container .empty-section {
  border: 3px dashed rgb(175, 190, 205) !important;
  background-color: transparent !important;
}


.card-header {
  button {
    padding: 0;
  }
}


.field-drop-placeholder{
  border: 1px green solid;
  border-radius: 5px;
  padding: 15px;
}


.highlight-section-header, .highlight-field-header {
  background-color: #f8d7da;}

  .disabled {
    pointer-events: none;
    opacity: 0.6;
}

 