<nav id="navbar-cmdb" class="navbar navbar-light navbar-expand-lg fixed-top px-0">

  <div class="container-fluid no-gutters px-0">


    <ul class="nav navbar-nav flex-row">
      <li class="nav-item d-lg-none">
        <span (click)="visibilitySidebar()" style="padding: 1.5rem 1.5rem">
          <fa-icon icon="bars"></fa-icon>
        </span>
      </li>
    </ul>

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" style="padding-left: 1.5rem">
        <img src="/assets/img/datagerry_logo.svg" class="brand-logo" alt="DATAGERRY"/></a>
    </div>

    <ul class="nav navbar-nav flex-row">
      <li class="nav-item d-lg-none">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false"
        style="padding: 1.5rem 1.5rem">
          <fa-icon icon="ellipsis-v"></fa-icon></a>
      </li>
    </ul>

    <div id="navbar-content" class="collapse navbar-collapse container-content clearfix">
      <ul id="navbar-mega" class="nav navbar-nav mr-auto float-left">
        <li class="nav-item dropdown megamenu-li">
          <cmdb-search-bar></cmdb-search-bar>
        </li>
      </ul>
      <ul class="nav navbar-nav flex-row float-right">
        <!-- nav List -->
        <li class="nav-item dropdown mr-2">
          <a class="dropdown-toggle nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false"> <fa-icon icon="list-alt"></fa-icon></a>
          <div class="dropdown-menu dropdown">
            <div class="dropdown-header">List</div>
              <a class="dropdown-item" routerLink="/framework/object">Object List</a>
              <a class="dropdown-item" routerLink="/framework/type">Type List</a>
              <a class="dropdown-item" routerLink="/framework/category">Category List</a>
          </div>
        </li>
        <!-- nav Import/Export -->
        <li class="nav-item dropdown mr-2">
          <a class="dropdown-toggle nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false"><fa-icon icon="database"></fa-icon></a>
          <div class="dropdown-menu dropdown">
            <div class="dropdown-header">Type Import/Export</div>
            <a class="dropdown-item" routerLink="/import/type"><fa-icon icon="file-import"></fa-icon> Import Type</a>
            <a class="dropdown-item" routerLink="/export/types"><fa-icon icon="file-export"></fa-icon> Export Type</a>
            <div class="dropdown-header">Object Import/Export</div>
            <a class="dropdown-item" [routerLink]="['/import/object/']"> <fa-icon icon="file-import"></fa-icon> Import Objects</a>
            <a class="dropdown-item" [swal]="['Oops!', 'Sry this is not implemented yet :/', 'warning']"><fa-icon icon="file-export"></fa-icon> Export Objects</a>
          </div>
        </li>
        <!-- nav Exportd Job -->
        <li class="nav-item dropdown mr-2">
          <a class="dropdown-toggle nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false"><fa-icon icon="tachometer-alt"></fa-icon></a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header">Task Managment</div>
            <a class="dropdown-item" routerLink="/settings/exportdjob">Exportd Job Settings</a>
          </div>
        </li>
        <!-- nav System -->
        <li class="nav-item dropdown mr-2">
          <a class="dropdown-toggle nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false"><fa-icon icon="cogs"></fa-icon></a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header">System</div>
            <a class="dropdown-item" routerLink="/settings/system/">System Information</a>
            <a class="dropdown-item" [swal]="['Oops!', 'Sry this is not implemented yet :/', 'warning']">Server Information</a>
            <a class="dropdown-item" routerLink="/settings/system/properties">Database Properties</a>
            <div class="dropdown-header">User Managment</div>
            <a class="dropdown-item" routerLink="/management/users">Users</a>
            <a class="dropdown-item" routerLink="/management/groups">Groups</a>
            <a class="dropdown-item" routerLink="/management/rights">Rights</a>
            <div class="dropdown-header">Logs</div>
            <a class="dropdown-item" routerLink="/settings/logs/objects"><fa-icon icon="clipboard-list"></fa-icon> Object Logs</a>
          </div>
        </li>
        <!-- nav notification -->
        <li class="nav-item dropdown mr-2">
          <a class="dropdown-toggle nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon icon="bell"></fa-icon>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header">Objects modified</div>
            <a routerLink="/framework/object/user/new/" class="dropdown-item">
              <fa-icon icon="plus"></fa-icon> New
            </a>
            <a routerLink="/framework/object/user/changed/" href="#" class="dropdown-item">
              <fa-icon icon="reply"></fa-icon> Changed
            </a>
            <a routerLink="/framework/object/user/own/" class="dropdown-item">
              <fa-icon icon="briefcase"></fa-icon> Your items
            </a>
          </div>
        </li>
        <!-- nav user -->
        <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon icon="user-circle"></fa-icon>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header">Account</div>
            <a routerLink="/management/users/view/{{authService.currentUserValue.public_id}}" class="dropdown-item">
              <fa-icon icon="user-edit"></fa-icon> Profile
            </a>
            <div class="dropdown-header">Auth</div>
            <a class="dropdown-item" (click)="logout()">
              <fa-icon icon="sign-out-alt"></fa-icon> Logout
            </a>
          </div>
        </li>
        <!-- nav language -->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">-->
<!--            <img [src]="'/assets/img/language-flags/usa_flag_icon_64.png'"-->
<!--                 style="width: 32px; max-width: 50%; padding: 0.10rem"-->
<!--                 class="rounded-circle img-thumbnail" alt="selectedflag">-->
<!--          </a>-->
<!--          <div class="dropdown-menu dropdown-menu-right">-->
<!--            <div class="dropdown-header">Language</div>-->
<!--            <a [swal]="['Oops!', 'Sry this is not implemented yet :/', 'warning']" class="dropdown-item">-->
<!--              <img [src]="'/assets/img/language-flags/ger_flag_icon_64.png'"-->
<!--                   style="width: 32px; max-width: 50%; padding: 0.15rem"-->
<!--                   class="rounded-circle img-thumbnail" alt="selectedflag"> German-->
<!--            </a>-->
<!--            <a [swal]="['Oops!', 'Sry this is not implemented yet :/', 'warning']" class="dropdown-item">-->
<!--              <img [src]="'/assets/img/language-flags/usa_flag_icon_64.png'"-->
<!--                   style="width: 32px; max-width: 50%; padding: 0.15rem"-->
<!--                   class="rounded-circle img-thumbnail" alt="selectedflag"> English-->
<!--            </a>-->
<!--          </div>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>

