<nav id="navbar-cmdb" class="navbar navbar-light navbar-expand-md fixed-top">
  <a class="navbar-brand" routerLink="/">
    <small>//</small>
    data<b>Gerry</b></a>
  <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
    <i class="fa fa-bars"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
          aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-content">

    <cmdb-search-bar></cmdb-search-bar>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="framework-dropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-map-o"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">Type</div>
          <a class="dropdown-item" routerLink="/framework/type">List all types</a>
          <a class="dropdown-item" routerLink="/framework/type/add">Add a new type</a>
          <div class="dropdown-header">Categories</div>
          <a class="dropdown-item" routerLink="/framework/category">List all categories</a>
          <a class="dropdown-item" routerLink="/framework/category/management">Manage categories</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          <i class="fa fa-bell-o"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">Objects modified</div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-plus"></i> New
          </a>
          <a href="#" class="dropdown-item">
            <i class="fa fa-reply"></i> Changed
          </a>
          <a href="#" class="dropdown-item">
            <i class="fa fa-briefcase"></i> Your items
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          <i class="fa fa-user-o"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">Account</div>
          <a routerLink="/user/{{authService.currentUserValue.public_id}}" class="dropdown-item">
            <i class="fa fa-user"></i> Profile
          </a>
          <div class="dropdown-header">Auth</div>
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-power-off"></i> Logout
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">User-Management</div>
          <a routerLink="/settings/user-management" class="dropdown-item">
            <i class="fa fa-user"></i> User
          </a>
          <a routerLink="/settings/user-management/groups" class="dropdown-item">
            <i class="fa fa-user"></i> Groups
          </a>
          <a routerLink="/settings/user-management/rights" class="dropdown-item">
            <i class="fa fa-user"></i> Rights
          </a>
        </div>
      </li>
    </ul>

  </div>
</nav>
