<nav id="navbar-cmdb" class="navbar navbar-light navbar-expand-md fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/img/datagerry_logo.svg" class="img-fluid" alt="DATAGERRY"/>
  </a>
  <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
    <fa-icon icon="bars"></fa-icon>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
          aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-content">

    <cmdb-search-bar></cmdb-search-bar>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="framework-dropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <fa-icon icon="layer-group"></fa-icon>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">Type</div>
          <a class="dropdown-item" routerLink="/framework/type">List all types</a>
          <a class="dropdown-item" routerLink="/framework/type/add">Add a new type</a>
          <div class="dropdown-header">Categories</div>
          <a class="dropdown-item" routerLink="/framework/category">List all categories</a>
          <a class="dropdown-item" routerLink="/framework/category/management">Manage categories</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          <fa-icon icon="bell"></fa-icon>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">Objects modified</div>
          <a routerLink="/framework/object/user/new/" class="dropdown-item">
            <fa-icon icon="plus"></fa-icon> New
          </a>
          <a routerLink="/framework/object/user/changed/" href="#" class="dropdown-item">
            <fa-icon icon="reply"></fa-icon> Changed
          </a>
          <a routerLink="/framework/object/user/own/" class="dropdown-item">
            <fa-icon icon="briefcase"></fa-icon> Your items
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <fa-icon icon="user-cog"></fa-icon>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">User-Management</div>
          <a routerLink="/management/users" class="dropdown-item">
            <fa-icon icon="user-friends"></fa-icon> Users
          </a>
          <a routerLink="/management/groups" class="dropdown-item">
            <fa-icon icon="users"></fa-icon> Groups
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <fa-icon icon="cogs"></fa-icon>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">Logs</div>
          <a routerLink="/settings/logs/objects" class="dropdown-item">
            <fa-icon icon="clipboard-list"></fa-icon> Object logs
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          <fa-icon icon="user-circle"></fa-icon>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">Account</div>
          <a routerLink="/management/users/view/{{authService.currentUserValue.public_id}}" class="dropdown-item">
            <fa-icon icon="user-edit"></fa-icon> Profile
          </a>
          <div class="dropdown-header">Auth</div>
          <a class="dropdown-item" (click)="logout()">
            <fa-icon icon="sign-out-alt"></fa-icon> Logout
          </a>
        </div>
      </li>
    </ul>

  </div>
</nav>
