<i [ngClass]="node.category.meta.icon ? node.category.meta.icon : 'far fa-folder-open'"></i>
<ng-content></ng-content>
@if (mode == 2) {

<span class="dnd-handle ms-2" dndHandle><i class="fa fa-arrows-alt" style="color: #006d77;"></i></span>
<span class="text-end">
  <a class="ms-2" [routerLink]="['/','framework','category','edit', node.category.public_id]">
    <i class="fas fa-edit icon-edit"></i>
  </a>
  <a class="pointer text-primary" *permissionLink="'base.framework.category.delete'" (click)="onDelete(node.category)">
    <i class="fas fa-trash"></i>
  </a>
</span>

}
