@import '~src/scss/variables';
/**
 * Navbar
 */
$navbar-brand-font-width: 300;
$navbar-brand-font-width-bold: 600;
$navbar-brand-small-font-width: 700;
$navbar-brand-small-font-right: 2px;
$navbar-brand-small-font-top: -1px;
$navbar-brand-width: 210px;
$navbar-bg-color: $white;
$navbar-border-width: 2px;
$navbar-border-style: solid;
$navbar-icon-link: darken(white, 40%);
$navbar-dropdown-font-size: 0.875rem !default;
$navbar-dropdown-borders: (
  all: (size: 1px, style: solid, color: $border-color)
);
$navbar-dropdown-top: 6px;
$navbar-dropdown-menu-padding: 0;
$navbar-dropdown-padding: 0.3rem 0.8rem;
$navbar-dropdown-header-color: $white;
$navbar-dropdown-header-background: theme-color('primary');

#navbar-search-bar{
  padding-right: 1rem;
}

#navbar-cmdb {
  height: $navbar-height;
  background: $navbar-bg-color;
  border-bottom: $navbar-border-width $navbar-border-style theme-color('primary');

  .container-content {
    margin: 0.5rem 0;
    padding: 0.5rem 1.5rem;
    background: $white;

    .scrollable-menu {
      height: auto;
      max-height: 250px;
      overflow-x: hidden;
    }
  }

  .navbar-brand {
    width: $navbar-brand-width;
    font-weight: $navbar-brand-font-width;

    b {
      font-weight: $navbar-brand-font-width-bold;
      padding-right: $navbar-brand-small-font-right;
    }

    small {
      font-weight: $navbar-brand-small-font-width;
      color: theme-color('primary');
      position: relative;
      top: $navbar-brand-small-font-top;
      margin-right: $navbar-brand-small-font-right;
    }

    .brand-logo {
      vertical-align: sub;
    }
  }

  .navbar-nav {
    li {
      a {
        color: $navbar-icon-link;
      }
    }

    .dropdown-menu {
      padding: $navbar-dropdown-menu-padding;
      margin-top: $navbar-dropdown-top;
      @include borders($navbar-dropdown-borders);
      position: absolute;

      .dropdown-header {
        padding: $navbar-dropdown-padding;
        color: $navbar-dropdown-header-color;
        background: $navbar-dropdown-header-background;
      }

      a.dropdown-item {
        font-size: $navbar-dropdown-font-size;
        padding: $navbar-dropdown-padding;

        &:active {
          color: $white;
        }

        i, svg {
          margin-right: 10px;
        }
      }
    }
  }

}


@media(max-width: 991px) {
  #navbar-cmdb {
    .container-content {
      border-bottom: 1px solid darken(white, 40%);
    }
  }
}
