<nav id="navbar-cmdb" class="navbar navbar-light navbar-expand-lg fixed-top px-0">
    <div class="container-fluid no-gutters px-0">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item d-lg-none">
                <span (click)="visibilitySidebar()" style="padding: 1.5rem 1.5rem">
                    <fa-icon icon="bars"></fa-icon>
                </span>
            </li>
        </ul>

        <div class="navbar-header">
            <a
                class="navbar-brand"
                routerLink="/"
                style="padding-left: 1.5rem"
            >
                <img src="/assets/img/datagerry_logo.svg" class="brand-logo" alt="DATAGERRY"/>
            </a>
        </div>

        <ul class="nav navbar-nav flex-row">
            <li class="nav-item d-lg-none">
                <a
                    class="nav-link collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-content"
                    aria-expanded="false"
                    style="padding: 1.5rem 1.5rem"
                >
                    <fa-icon icon="ellipsis-v"></fa-icon>
                </a>
            </li>
        </ul>

        <div id="navbar-content" class="collapse navbar-collapse container-content clearfix">
            <div class="row w-100 align-items-center">
                <div
                [ngClass]="{
                    'col-7 col-sm-5 list-inline justify-content-center ': isCloudMode,
                    'col-12 col-sm-7 list-inline justify-content-center': !isCloudMode
                }">
                <cmdb-search-bar></cmdb-search-bar>
            </div>
            <div 
            *ngIf="isCloudMode"
            class="col-5 col-md-2 d-flex align-items-center justify-content-center">
            <div class="progress-container">
                <div class="progress-label">
                    Objects {{usedObjects}} / {{totalObjects}}
                </div>
                <div class="progress">
                    <!-- Used Area with Dynamic Color -->
                    <div
                        class="progress-bar"
                        role="progressbar"
                        [style.width.%]="percentage"
                        [style.backgroundColor]="getProgressBarColor()"
                        [attr.aria-valuenow]="usedObjects"
                        aria-valuemin="0"
                        [attr.aria-valuemax]="totalObjects">
                    </div>
                    <!-- Centered Percentage with Dynamic Text Color -->
                    <span 
                        class="progress-percentage"
                        [style.color]="getTextColor()">
                        {{ percentage | number:'1.0-0' }}%
                    </span>
                </div>
            </div>
        </div>
            
                <div class="col-12 col-sm-5">
                    <ul class="nav navbar-nav navbar-right-menu list-inline text-center d-flex justify-content-end align-items-center">
                        <!-- nav Framework -->
                        <div class="nav-1">
                            <li
                                *permissionLink="['base.framework.object.view',
                                                  'base.framework.type.view',
                                                  'base.framework.category.view']"
                                class="nav-item dropdown"
                            >
                                <a
                                    class="nav-link"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <i class="fas fa-map hover-trigger"></i>
                                </a>
                                <div class="dropdown-menu dropdown">
                                    <div class="dropdown-header">Framework</div>
                                    <a
                                        class="dropdown-item"
                                        *permissionLink="'base.framework.object.add'"
                                        [routerLink]="['/framework/object']"
                                    >
                                        <i class="fas fa-vector-square"></i> Objects
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        *permissionLink="'base.framework.type.view'"
                                        [routerLink]="['/framework/type']"
                                    >
                                        <i class="fas fa-object-group"></i> Types
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        *permissionLink="'base.framework.category.view'"
                                        [routerLink]="['/framework/category']"
                                    >
                                        <i class="fas fa-folder-open"></i> Categories
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        *permissionLink="'base.framework.sectionTemplate.view'"
                                        [routerLink]="['/framework/section_templates']"
                                    >
                                        <i class="fas fa-hammer"></i> Section Templates
                                    </a>
                                </div>
                            </li>
                            <p class="hover-trigger">Framework</p>
                        </div>

                        <!-- toolbox -->
                        <div class="nav-2">
                            <li class="nav-item dropdown nav-item-toolbox ">
                                <a
                                    class="nav-link"
                                    href="#"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <i class="fas fa-th hover-trigger"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                                    <div class="dropdown-header">Toolbox</div>
                                    <div class="p-2">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                <a
                                                    class="dropdown-icon-item"
                                                    *permissionLink="['base.docapi.template.view']"
                                                    [routerLink]="['/docapi']"
                                                >
                                                    <fa-icon icon="file-pdf"></fa-icon> <span>PDF Templates</span>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a
                                                    class="dropdown-icon-item"
                                                    *permissionLink="'base.framework.object.edit'"
                                                    [routerLink]="['/filemanager/explorer']"
                                                >
                                                    <i class="fas fa-folder"></i> <span>Explorer</span>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a
                                                    class="dropdown-icon-item"
                                                    *permissionLink="'base.import.*'"
                                                    [routerLink]="['/import']"
                                                >
                                                    <fa-icon icon="file-import"></fa-icon><span>Importer</span>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a
                                                    class="dropdown-icon-item"
                                                    *permissionLink="'base.export.*'"
                                                    [routerLink]="['/export']"
                                                >
                                                    <fa-icon icon="file-export"></fa-icon><span>Exporter</span>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a
                                                    class="dropdown-icon-item"
                                                    [routerLink]="['/reports/overview']"
                                                >
                                                    <fa-icon icon="chart-line"></fa-icon><span>Reporting</span>
                                                </a>
                                            </div>

                                            <div class="col">
                                                <a [routerLink]="['/webhooks']" class="dropdown-icon-item">
                                                  <fa-icon class="fas fa-link"></fa-icon>
                                                  <span>Webhooks</span>
                                                </a>
                                              </div>
                                            <div class="col">
                                                <a
                                                    class="dropdown-icon-item"
                                                    data-toggle="modal"
                                                    data-target="#feedback-modal"
                                                    (click)="feedback()"
                                                >
                                                    <i class="far fa-smile"></i> <span>Feedback</span>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a class="dropdown-icon-item" (click)="openIntroModal()">
                                                    <fa-icon icon="magic"></fa-icon><span>Assistant</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <p class="hover-trigger">Toolbox</p>
                        </div>

                        <!-- nav System -->
                        <div class="nav-3">
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <i class="fas fa-cog hover-trigger"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div
                                        class="dropdown-header"
                                        *permissionLink="['base.system.view',
                                                          'base.system.edit',
                                                          'base.system.reload']"
                                    >
                                        System
                                    </div>
                                    <a
                                        class="dropdown-item"
                                        *permissionLink="'base.system.view'"
                                        [routerLink]="['/settings/system']"
                                    >
                                        <i class="fas fa-info-circle"></i> System Information
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        *permissionLink="'base.system.edit'"
                                        [routerLink]="['/settings/auth']"
                                    >
                                        <i class="fas fa-lock"></i> Authentication
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        *permissionLink="'base.system.edit'"
                                        [routerLink]="['/settings/regional-settings']"
                                    >
                                        <i class="fas fa-calendar-alt"></i> Regional Settings
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        *permissionLink="'base.system.reload'"
                                        [routerLink]="['/settings/system/properties']"
                                    >
                                        <i class="fas fa-database"></i> Database Properties
                                    </a>
                                    <div
                                        class="dropdown-header"
                                        *permissionLink="['base.user-management.user.view',
                                                          'base.user-management.group.view']"
                                    >
                                        User Management
                                    </div>
                                    <a
                                        class="dropdown-item"
                                        *permissionLink="'base.user-management.user.*'"
                                        [routerLink]="['/management/users']"
                                    >
                                        <i class="fas fa-user-friends"></i> Users
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        *permissionLink="'base.user-management.group.view'"
                                        [routerLink]="['/management/groups']"
                                    >
                                        <i class="fas fa-users"></i> Groups
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        [routerLink]="['/management/rights']"
                                    >
                                        <i class="fas fa-low-vision"></i> Rights
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        *permissionLink="'base.framework.type.view'"
                                        [routerLink]="['/', 'management', 'groups','acl']"
                                    >
                                        <i class="fas fa-list"></i> ACL
                                    </a>
                                    <div *permissionLink="'base.framework.log.view'" class="dropdown-header">
                                        Logs
                                    </div>
                                    <a
                                        *permissionLink="'base.framework.log.view'"
                                        class="dropdown-item"
                                        [routerLink]="['/settings/logs/objects']"
                                    >
                                        <fa-icon icon="clipboard-list"></fa-icon>Object Logs
                                    </a>
                                </div>
                            </li>
                            <p class="hover-trigger">Settings</p>
                        </div>
            
                        <!-- nav user -->
                        <li class="nav-item dropdown ml-0">
                            <a
                                class="nav-link nav-user mr-0"
                                data-toggle="dropdown"
                                id="topbar-userdrop"
                                href="#"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="true"
                            >
                                <span class="account-user-avatar">
                                    <img
                                        [src]="user?.image != null ? user.image : 'assets/img/avatar.png'"
                                        alt="user-image"
                                        class="rounded-circle"
                                    >
                                </span>
                                <span>
                                    <span class="account-user-name">
                                        {{user?.first_name}} {{user?.last_name}}
                                    </span>
                                    <span class="account-position hover-trigger">
                                        {{group?.label}}
                                    </span>
                                </span>
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="topbar-userdrop"
                            >
                                <div class="dropdown-header">
                                    My Account
                                </div>
                                <a routerLink="/management/users/view/" class="dropdown-item pt-1">
                                    <i class="fas fa-user-edit"></i> Settings
                                </a>
                                <div class="dropdown-header">
                                    Support
                                </div>
                                <a class="dropdown-item pt-1" [routerLink]="['/info/about']">
                                    <i class="fas fa-cube"></i> About DATAGERRY
                                </a>
                                <a
                                    class="dropdown-item"
                                    href="https://datagerry.readthedocs.io/en/latest/"
                                    target="_blank"
                                >
                                    <i class="fas fa-book"></i> Documentation
                                </a>
                                <a class="dropdown-item" [routerLink]="['/info/license']">
                                    <i class="fas fa-lock-open"></i> License
                                </a>
                                <div class="dropdown-header">Goodbye</div>
                                <a class="dropdown-item pb-1" (click)="logout()">
                                    <i class="fas fa-sign-out-alt"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>