@for (section of sections; track section) {

@switch (section.type) {
@case ('ref-section') {
<cmdb-reference-section [mode]="mode" [form]="form" [changeForm]="changeForm" [section]="section" [fields]="fields"
        [values]="values" />
}
@case ('multi-data-section') {
<cmdb-multi-data-section [mode]="mode" [form]="form" [changeForm]="changeForm" [section]="section" [fields]="fields"
        [values]="values" [typeInstance]="typeInstance" [renderResult]="renderResult" />
}
@default {
<cmdb-field-section [mode]="mode" [form]="form" [changeForm]="changeForm" [section]="section" [fields]="fields"
        [values]="values" [objectID]="objectID" />
}
}
}