<ng-container *ngFor="let section of sections; let i = index">
    <ng-container [ngSwitch]="section.type">
        <cmdb-reference-section
            *ngSwitchCase="'ref-section'"
            [mode]="mode"
            [form]="form"
            [changeForm]="changeForm"
            [section]="section"
            [fields]="fields"
            [values]="values"
        />
        <cmdb-multi-data-section
            *ngSwitchCase="'multi-data-section'"
            [mode]="mode"
            [form]="form"
            [changeForm]="changeForm"
            [section]="section"
            [fields]="fields"
            [values]="values"
            [typeInstance]="typeInstance"
            [renderResult]="renderResult"
        />
        <cmdb-field-section
            *ngSwitchDefault
            [mode]="mode"
            [form]="form"
            [changeForm]="changeForm"
            [section]="section"
            [fields]="fields"
            [values]="values"
            [objectID]="objectID"
        />
    </ng-container>

    <!-- Insert NetBox rack elevation SVG after the first section when type label is Rack -->
    <cmdb-rack-elevation
        *ngIf="i === 0 && renderResult?.type_information?.type_label === 'Rack' && mode !== 'edit'"
        [renderResult]="renderResult"
    ></cmdb-rack-elevation>
</ng-container>
