<ng-container *ngFor="let section of sections">
  <ng-container [ngSwitch]="section.type">
    <cmdb-reference-section *ngSwitchCase="'ref-section'" [mode]="mode" [form]="form" [changeForm]="changeForm"
                            [section]="section" [fields]="fields" [values]="values"
    ></cmdb-reference-section>
    <cmdb-field-section *ngSwitchDefault [mode]="mode" [form]="form" [changeForm]="changeForm"
                        [section]="section" [fields]="fields" [values]="values"
    ></cmdb-field-section>
  </ng-container>
</ng-container>
