<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Persons</h2>
  <button class="btn btn-sm btn-success" (click)="onAddNew()" *permissionLink="'base.user-management.person.add'">
    <i class="fas fa-plus"></i> Add
  </button>
</div>
<hr />

<cmdb-table *permissionLink="['base.user-management.person.view']" [items]="persons" [columns]="columns" [page]="page" [sort]="sort" [id]="'persons-table'"
  [emptyMessage]="'No Persons found.'" [totalItems]="totalPersons" [selectEnabled]="false" [loading]="loading"
  [pageSize]="limit" [toggleable]="true" [initialVisibleColumns]="initialVisibleColumns"
  (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)" (sortChange)="onSortChange($event)"
  (searchChange)="onSearchChange($event)">
</cmdb-table>

<!-- Action buttons template -->
<ng-template #actionTemplate let-item="item">
  <!-- View button -->
  <a (click)="onView(item)" title="View Person" *permissionLink="'base.user-management.person.view'">
    <i class="far fa-eye spacing-right icon-view"></i>
  </a>

  <!-- Edit button -->
  <a (click)="onEdit(item)" title="Edit Person" *permissionLink="'base.user-management.person.edit'">
    <i class="far fa-edit icon-margin icon-edit spacing-right"></i>
  </a>

  <!-- Delete button -->
  <a (click)="onDelete(item)" title="Delete Person" *permissionLink="'base.user-management.person.delete'">
    <i class="far fa-trash-alt icon-delete"></i>
  </a>
</ng-template>