<div class="btn-group mr-2">
  <button type="button" class="btn btn-warning btn-sm dropdown-toggle"
          data-toggle="dropdown">
    <i class="fas fa-border-none"></i> Configs
  </button>
  <form [formGroup]="form">
    <div class="steting-dropdown dropdown-menu dropdown-menu-right dropdown-menu-lg-left text-center">
      <!-- Save config -->
      <span class="input-group p-2">
        <input type="text" formControlName="name" class="form-control form-control-sm mr-auto p-2"
               [ngClass]="{ 'is-valid': nameControl.valid && (nameControl.dirty || nameControl.touched),
             'is-invalid': nameControl.invalid && (nameControl.dirty || nameControl.touched)}"/>
        <span class="input-group-append">
          <button [disabled]="form.invalid" class="btn btn-success btn-sm"
                  (click)="saveConfig(nameControl.value)">
          <i class="fas fa-save"></i>
        </button>
        </span>
      </span>
      <div class="dropdown-divider"></div>
      <!-- Set default -->
      <span class="dropdown-item pointer config-item" (click)="resetConfig()">
        <i class="fas fa-redo"></i>  Default
      </span>
      <!-- List config -->
      <span class="dropdown-item pointer config-item"
          *ngFor="let tableConfig of tableConfigs"
          (click)="selectConfig(tableConfig)">
        {{tableConfig?.name}}
        <i class="far fa-trash-alt config-item-icon" (click)="deleteConfig(tableConfig)"></i>
        <span class="clearfix"></span>
      </span>
    </div>
  </form>
</div>
