<div class="modal-content">
  <div class="modal-header">
    <span class="total-title d-flex justify-content-center object-view-navbar" id="attachmentModalLabel">
      <span class="icon"><i class="fas fa-paperclip"></i></span>
      <span class="name">
        <strong class="text-uppercase">Attachments</strong>
        <br>Total {{recordsTotal}}
      </span>
    </span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            [disabled]='inProcess'
            (click)="activeModal.close({total: recordsTotal})">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="uploadFileForm">
      <div appDragDrop id="uploadFileContainer" *permissionLink="['base.framework.object.edit']"
           class="card-body jumbotron text-center align-items-center text-center"
           (click)="fileInput.click()" (fileDropped)="uploadFile($event)">
        <fa-icon class="attachment-fa-icon" icon="cloud-upload-alt"></fa-icon>
        <h6 class="attachment-subtitle">Drop files here or click to upload.</h6>
        <input id="fileUpload" hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary mr-1"
            [disabled]='inProcess'
            (click)="activeModal.close({total: recordsTotal})">Done</button>
  </div>
</div>
