@import './src/scss/variables';

#uploadFileForm {
  margin: 1em;

  #uploadFileContainer, .uploadfiledone{
    background: None;
    border: 2px dashed $gray-400;
    border-radius: 5px;
  }

  #uploadFileContainer:hover, .uploadfiledone:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.02);
  }

  .uploadfiledone {
    border: 2px dashed green;
  }

  .attachment-fa-icon {
    color: $gray-400;
    font-size: x-large;
  }

  .attachment-subtitle {
    color: $gray-600;
    font-weight: bold;
  }

  .far {
    padding: 10px;
  }

  .pre-scrollable {
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.scrollable-container {
  max-height: 400px; 
  overflow-y: auto;
}
