.icon-margin {
    margin-right: 5px;
  } 
  

  thead th, thead td {
    text-align: center;
  }
  tbody th, tbody td {
    text-align: center;
  }
  


.custom-back-button {
  background-color: #e94d18;
  color: white;
}