<div class="d-flex justify-content-between align-items-center">
  <h1>Report Categories Overview  </h1>
</div>
<hr/>


<div class="d-flex justify-content-between align-items-center" style="height: 50px;">
  <div class="btn-group float-left">
      <button class="btn btn-secondary btn-sm custom-back-button" type="button" (click)="goBack()">
          <i class="fas fa-arrow-left icon-margin"></i> Go Back
      </button>                       
  </div>

  <div class="btn-group float-right">
      <button type="submit" 
          class="btn btn-success btn-sm submit-report d-flex align-items-center" 
          (click)="openAddCategoryModal()"
          >
          <i class="fas fa-plus me-2 icon-margin"></i> Add Category
      </button>
  </div>
</div>

<cmdb-table [items]="categories" [columns]="columns" [totalItems]="totalCategories"
            [loading]="loading" [pageSize]="10"  
            (pageChange)="onPageChange($event)" 
            (sortChange)="onSortChange($event)"
            (searchChange)="onSearchChange($event)"></cmdb-table>

<ng-template #actionsTemplate let-item="item">
  <i *ngIf="!item.predefined" class="far fa-edit icon-margin btn-edit" (click)="openEditCategoryModal(item)"></i>
  <i *ngIf="!item.predefined" class="far fa-trash-alt btn-delete" (click)="openDeleteCategoryModal(item)"></i>
</ng-template>