<div class="d-flex justify-content-between align-items-center">
  <h1>Report Categories Overview  </h1>
  <button  type="button" class="btn btn-sm btn-success" (click)="openAddCategoryModal()">
    <i class="fas fa-plus"></i> Add Category
  </button>
</div>
<hr/>

<cmdb-table [items]="categories" [columns]="columns" [totalItems]="totalCategories"
            [loading]="loading" [pageSize]="10"></cmdb-table>

<ng-template #actionsTemplate let-item="item">
  <i  *ngIf="!item.predefined" class="far fa-edit icon-margin" (click)="editCategory(item.public_id)"></i>
  <i  *ngIf="!item.predefined" class="far fa-trash-alt"  (click)="deleteCategory(item.public_id)"></i>
</ng-template>