
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Exportd Job type</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <form [formGroup]="eventForm">
            <input type="checkbox" class="form-check-input" id="checkBased" formControlName="active">
            <label class="form-check-label" for="checkBased">Run Event based</label>
          </form>
        </div>
        <div class="form-check">
          <form [formGroup]="cronForm">
            <input type="checkbox" class="form-check-input" id="checkRuntime" formControlName="active">
            <label class="form-check-label" for="checkRuntime">Run time-based Cron style</label>
          </form>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset [disabled]="!eventForm.get('active').value">
    <div class="form-group row" [formGroup]="eventForm">
      <label for="inputCommand" class="col-sm-2 col-form-label">Event Command</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputCommand" placeholder="command" formControlName="command"
               [ngClass]="{ 'is-valid': eventForm.get('command').valid
                             && (eventForm.get('command').dirty || eventForm.get('command').touched),
                             'is-invalid': eventForm.get('command').invalid
                             && (eventForm.get('command').dirty || eventForm.get('command').touched)}"
               [required]="eventForm.get('active').value">
      </div>
    </div>
  </fieldset>

  <fieldset [disabled]="!cronForm.get('active').value">
    <div class="form-group row" [formGroup]="cronForm">
      <label class="col-sm-2 col-form-label">Execution period</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-12 mb-3 mt-2">
            <label for="cronExpression">Cron Expression</label>
            <ng-select [items]="expression"
                       id="cronExpression"
                       bindLabel="label"
                       bindValue="value" formControlName="expression">
            </ng-select>
          </div>
          <div class="col-sm-12">
            <label for="executeCommand">Cron command</label>
            <input type="text" class="form-control" id="executeCommand"
                   [value]="cronForm.get('expression').value"
                   formControlName="expression"
                   [ngClass]="{ 'is-valid': cronForm.get('expression').valid
                             && (cronForm.get('expression').dirty || cronForm.get('expression').touched),
                             'is-invalid': cronForm.get('expression').invalid
                             && (cronForm.get('expression').dirty || cronForm.get('expression').touched)}"
                   [pattern]="pattern"
                   required>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
