<table class="table framework-table table-hover table-striped table-bordered mb-0 ">
  <thead>
  <tr tableSortEvent (valueChanged)="loadFolderFiles($event)">
    <th scope="col" class="active _desc">Filename</th>
    <th scope="col" class="_desc">Size</th>
    <th scope="col" class="_desc">Type</th>
    <th scope="col" class="_desc">Author</th>
    <th class="text-center _desc">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of fileElements">
    <td>{{item.name}}</td>
    <td>{{item.size | fileSize}}</td>
    <td>{{item.metadata?.mime_type}}</td>
    <td>{{item.metadata?.author_id}}</td>
    <td>
      <div class="text-center">
        <i class="fas fa-download mr-1" title="dowload" (click)="downloadFile(item)"></i>
        <i class="far fa-edit mr-1" title="rename" (click)="renameFile(item)"></i>
        <i class="fas fa-expand-arrows-alt mr-1" title="move to" (click)="moveFile(item)"></i>
        <i class="far fa-trash-alt" title="delete" (click)="deleteFile(item)"></i>
      </div>
    </td>
  </tr>
  </tbody>
</table>
