<table id="user-list-table" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Public ID</th>
    <th>Username</th>
    <th>Display</th>
    <th>Email</th>
    <th>Registration</th>
    <th>Group</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.public_id}}</td>
    <td>{{user.user_name}}</td>
    <td>
      <cmdb-user-display-name [user]="user"></cmdb-user-display-name>
    </td>
    <td>{{user?.email}}</td>
    <td>{{user?.registration_time | date: "dd/MM/yyyy - HH:mm:ss"}}</td>
    <td>{{user.group_id}}</td>
  </tr>
  </tbody>
</table>
