.wy-side-nav-search{
    background-color: #FFFFFF;
	border-right: 1px solid #e1e4e5;
}

.wy-side-nav-search > div.version {
	color: black !important;
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
	color: black !important;
}

.wy-menu-vertical a {
    font-size: 15px;
}

a {
    color: #ed7147;
}

a:visited {
    color: #bb5e3a;
}

.wy-menu-vertical p.caption {
    font-size: 16px;
    color: #ed7147;
}