<dg-modal
    icon="fas fa-expand-arrows-alt"
    eyebrow="File Explorer"
    title="Move Element"
    (dismiss)="activeModal.close(false)">

    <form [formGroup]="basicForm">
        <label class="form-label" for="folderNameInput">
            Folder name <span class="text-danger">*</span>
        </label>

        <ng-select
            labelForId="folderNameInput"
            [items]="destinationFolder"
            bindLabel="filename"
            [groupBy]="groupByFn"
            [groupValue]="groupValueFn"
            [selectableGroup]="true"
            [appendTo]="DROPDOWN_HOST"
            dropdownPosition="auto"
            placeholder="Select the destination folder"
            formControlName="folder">

            <ng-template ng-optgroup-tmp let-item="item">
                <span class="move-group__name">{{ item.parentName }}</span>
                <span class="badge bg-secondary ms-2">{{ item.total }}</span>
            </ng-template>
        </ng-select>
    </form>

    <app-button
        dgModalFooter
        bootstrapClass="btn-secondary"
        label="Cancel"
        type="button"
        (clicked)="activeModal.close(false)">
    </app-button>

    <app-button
        dgModalFooter
        bootstrapClass="btn-primary"
        label="Move"
        type="button"
        icon="fas fa-expand-arrows-alt"
        [disabled]="!basicForm.get('folder').valid"
        (clicked)="activeModal.close({parent: basicForm.get('folder').value.public_id})">
    </app-button>
</dg-modal>
