@import '~src/scss/variables';

.slidercontainer {
  position: relative;
  width: 90%;
  margin: 0 0 0px 5%;

  label {
    margin: 0;
  }

}

#feedback-form {
  width: fit-content;
  min-width: 1000px;
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.padding-top {
  padding-top: 25px !important;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: theme-color('primary');
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: theme-color('primary');
    cursor: pointer;
  }

}

.row {
  margin: 5px 0;
}

#email {
  width: 100%;
}

.col-3>label {
  margin-top: 50%;
}

.ticks .slider {
  margin: 0 auto;
}

.ticks {
  display: flex;
  justify-content: space-between;
}

#submit {
  margin: 0 10px;
}

.michael {
  text-align: justify;
}

#version {
  width: fit-content;
}

@media (max-width: 1200px) {
  #feedback-form {
    min-width: 400px;
    max-width: 500px;
  }
}
