<a href="#{{categoryData.category.name}}" class="list-group-item collapsed" data-toggle="collapse"
   data-parent="#sidebar-categories"
   aria-expanded="false"
   (focusin)="get_objects_by_type(categoryData.category.type_list)">
  <span class="hidden-sm-down">{{categoryData.category.label}}</span>
</a>

<div class="collapse" id="{{categoryData.category.name}}">

  <ul class="list-group" *ngFor="let type of typeList;">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a class="nav-link" routerLink="/framework/object/" (click)="get_object_by_type_id(type.public_id)">
        <i _ngcontent-grr-c8="" aria-hidden="true" class="fa fa-file-code-o"></i>
          {{type.label}}
          <span class="badge badge-primary badge-pill">{{type.obj_counter}}</span>
      </a>
    </li>
  </ul>

  <ng-template [ngIf]="categoryData.children">
    <cmdb-sidebar-category *ngFor="let category of categoryData.children;"
                           [categoryData]="category"></cmdb-sidebar-category>
  </ng-template>

</div>
