<a href="#{{categoryData.category.name}}" class="list-group-item collapsed" data-toggle="collapse"
   data-parent="#sidebar-categories"
   aria-expanded="false">
  <i class="{{categoryData.category.icon}}"></i>
  <span class="hidden-sm-down">{{categoryData.category.label}}</span>
</a>
<div class="collapse" id="{{categoryData.category.name}}">
  <ng-template [ngIf]="categoryData.children">
    <cmdb-sidebar-category *ngFor="let category of categoryData.children;"
                           [categoryData]="category"></cmdb-sidebar-category>
  </ng-template>

</div>
