<div id="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">Navigation</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">
          <i class="fa fa-search" aria-hidden="true"></i> Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/object/most-viewed/">
          <i class="fa fa-eye" aria-hidden="true"></i>Most viewed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/object/newest/">
          <i class="fa fa-envelope" aria-hidden="true"></i> Newest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/object/latest/">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Latest changes</a>
      </li>
      <li class="nav-title">Assets</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/object/">
          <i class="fa fa-list" aria-hidden="true"></i> List objects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/type/">
          <i class="fa fa-file-code-o" aria-hidden="true"></i> Show types</a>
      </li>
      <div id="sidebar-categories">
        <li class="nav-title">Categories</li>
        <input id="category_filter" class="form-control form-control-sm" type="text" placeholder="Filter..">
        <div class="list-group panel">
          <cmdb-sidebar-category *ngFor="let category of categoryTree;"
                                 [categoryData]="category"></cmdb-sidebar-category>
        </div>
      </div>
    </ul>
  </nav>
</div>
