<h1>Category Management</h1>
<hr/>
<div class="row">
  <div class="col-3">
    <div class="list-group" role="tablist">
      <a data-toggle="list" href="#category-new-tab"
         class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active">
        Add new category
        <button class="btn btn-outline-secondary" type="button" disabled>
          <fa-icon icon="plus"></fa-icon>
        </button>
      </a>
      <a data-toggle="list" *ngFor="let category of categoryList"
         href="#category-edit-tab"
         class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
         (click)="selectCategory(category.public_id)">
        {{category.label}}
        <button class="btn btn-outline-secondary" type="submit" (click)="deleteCategory(category.public_id)">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </a>
    </div>
  </div>
  <div class="col-9">
    <div class="card">
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="category-new-tab" role="tabpanel">
            <form [formGroup]="categoryAddForm" (ngSubmit)="addCategory()">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Label</label>
                  <input type="text" formControlName="label" class="form-control" placeholder="Label">
                </div>
                <div class="form-group col-md-6">
                  <label>Name</label>
                  <input type="text" formControlName="name" class="form-control" placeholder="Name" lowercase readonly>
                </div>
                <div class="form-group col-md-6">
                  <label>Parent Category</label>
                  <ng-select formControlName="parent_id" [items]="categoryList" [multiple]="false" bindValue="public_id"
                             bindLabel="label"></ng-select>
                </div>
                <div class="form-group col-md-6">
                  <label>Types</label>
                  <ng-select [items]="typeList" formControlName="type_list" [multiple]="true" bindValue="public_id"
                             bindLabel="label"></ng-select>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right" [disabled]="!categoryAddForm.valid">Add</button>
              <div class="clearfix"></div>
            </form>
          </div>
          <div class="tab-pane fade" id="category-edit-tab" role="tabpanel">
            <form [formGroup]="categoryEditForm" (ngSubmit)="editCategory()">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Label</label>
                  <input type="text" formControlName="label" class="form-control" placeholder="Label">
                </div>
                <div class="form-group col-md-6">
                  <label>Name</label>
                  <input type="text" formControlName="name" class="form-control" placeholder="Name" lowercase readonly>
                </div>
                <div class="form-group col-md-6">
                  <label>Parent Category</label>
                  <ng-select formControlName="parent_id" [items]="categoryList" [multiple]="false" bindValue="public_id"
                             bindLabel="label"></ng-select>
                </div>
                <div class="form-group col-md-6">
                  <label>Types</label>
                  <ng-select [items]="typeList" formControlName="type_list"
                             [multiple]="true"
                             bindValue="public_id"
                             bindLabel="label"></ng-select>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right" [disabled]="!categoryEditForm.valid">Save
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
