<div *permissionLink="['base.export.type.*', 'base.export.object.*']" class="row g-3">
    <div class="col-md-6">
      <div class="card h-100">
        <a routerLink="/export/objects/" class="text-decoration-none">
          <div class="dash-card primary">
            <i class="far fa-object-ungroup"></i>
            <span class="text-title">Export Objects</span>
          </div>
        </a>
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="card h-100">
        <a routerLink="/export/types/" class="text-decoration-none">
          <div class="dash-card primary">
            <i class="far fa-object-ungroup"></i>
            <span class="text-title">Export Types</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  