<div class="row g-3">
    <div class="col-md-4" *permissionLink="'base.export.object.*'">
      <div class="card h-100">
        <a routerLink="/export/objects/" class="text-decoration-none">
          <div class="dash-card primary">
            <i class="far fa-object-ungroup"></i>
            <span class="text-title">Export Objects</span>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4" *permissionLink="'base.export.type.*'">
      <div class="card h-100">
        <a routerLink="/export/types/" class="text-decoration-none">
          <div class="dash-card primary">
            <i class="far fa-object-ungroup"></i>
            <span class="text-title">Export Types</span>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4" *permissionLink="'base.export.object.*'">
      <div class="card h-100">
        <a routerLink="/export/csv-templates/" class="text-decoration-none">
          <div class="dash-card primary">
            <i class="fas fa-file-csv"></i>
            <span class="text-title">Export CSV Templates</span>
          </div>
        </a>
      </div>
    </div>
  </div>

