
<div class="card-deck">
  <div class="card" *permissionLink="'base.user-management.user.*'">
    <a [routerLink]="['/management/users']">
      <div class="dash-card primary">
        <i class="fas fa-user-friends"></i>
        <span class="count-numbers">Users</span>
        <span class="count-name">User-Management</span>
      </div>
    </a>
  </div>
  <div class="card">
    <a *permissionLink="'base.user-management.group.view'" [routerLink]="['/management/groups']">
      <div class="dash-card primary">
        <i class="fas fa-users"></i>
        <span class="count-numbers">Groups</span>
        <span class="count-name">User-Management</span>
      </div>
    </a>
  </div>
  <div class="card">
    <a [routerLink]="['/management/rights']">
      <div class="dash-card primary">
        <i class="fas fa-eye-slash"></i>
        <span class="count-numbers">Rights</span>
        <span class="count-name">User-Management</span>
      </div>
    </a>
  </div>
</div>
