<div class="card-title" style="padding-top: 1em">
  <cmdb-content-header title="{{pageTitle}}"></cmdb-content-header>
</div>

<div class="card-body" style="padding: 0 0 1em 0;">
  <button *ngIf="showDeleteSelected" type="button" class="btn btn-danger btn-sm" (click)="delManyObjects()">Delete
    Selected
  </button>

  <span class="card-group float-right" *ngIf="showExport">
      <div class="btn-group">
        <button type="button" id="importButton" class="btn btn-warning btn-sm dropdown-toggle mr-1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <fa-icon icon="file-import"></fa-icon> Import
        </button>
        <ul class="dropdown-menu" aria-labelledby="importButton">
          <li class="dropdown-item" *ngFor="let item of formatList">
            <fa-icon icon="{{item.icon}}"></fa-icon>"> {{item.label}}
          </li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" id="exportButton" class="btn btn-warning btn-sm dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <fa-icon icon="file-export"></fa-icon> Export
        </button>
        <ul class="dropdown-menu" aria-labelledby="exportButton">
          <li class="dropdown-item" *ngFor="let item of formatList"
              (click)="exporter(item)">
            <fa-icon icon="{{item.icon}}"></fa-icon>
            {{item.label}}
          </li>
        </ul>
      </div>
    </span>
</div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
       class="table framework-table table-striped table-bordered">
  <thead>
  <tr>
    <th *ngIf="showDeleteSelected && showExport" class="toggle-check nosort" style="text-align: center">
      <input type="checkbox" class="select-all-checkbox" (click)="selectAll()">
    </th>
    <th class="toggle-active">Active</th>
    <th *ngFor="let thCol of thColumns" class="toggle-{{thCol.label}}">{{thCol.label}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let entry of entryLists">
    <!-- table entries -->
    <td *ngIf="showDeleteSelected && showExport" style="text-align: center">
      <input id="{{entry?.object_information.object_id}}" class="select-checkbox" type="checkbox"
             (click)="updateDisplay()">
    </td>
    <td>
      <cmdb-active-badge [activeStatus]="entry?.object_information.active"></cmdb-active-badge>
    </td>
    <td>{{entry?.object_information.object_id}}</td>
    <td>{{entry?.type_information.type_label}}</td>
    <td>{{entry?.object_information.author_name }}</td>
    <td>{{entry?.object_information.creation_time.$date | date:"dd/MM/yyyy - hh:mm:ss"}}</td>

    <!-- action buttons -->
    <td *ngIf="thColumnsActions.length > 0">
      <cmdb-actions [data]="thColumnsActions"
                    publicID="{{entry?.object_information.object_id}}"
                    (delete)="delObject($event, entry)">
      </cmdb-actions>
    </td>
  </tr>
  </tbody>
</table>

