

  <div class="card-title" style="padding-top: 1em">
    <cmdb-content-header title="{{pageTitle}}"></cmdb-content-header>
  </div>

  <div class="card-body" style="padding: 0 0 1em 0;">
    <button type="button" class="btn btn-danger btn-sm" (click)="delManyObjects()">Delete All</button>

    <span class="card-group float-right">
      <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle btn-sm mr-1"
                type="button" id="importButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-upload" aria-hidden="true"></i> Import
        </button>
        <ul class="dropdown-menu" aria-labelledby="importButton">
          <li class="dropdown-item"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</li>
          <li class="dropdown-item"><i class="fa fa-file-text-o" aria-hidden="true"></i> JSON</li>
          <li class="dropdown-item"><i class="fa fa-code" aria-hidden="true"></i> XML</li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle btn-sm mr-1"
                type="button" id="exportButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-download" aria-hidden="true"></i> Export
        </button>
        <div class="dropdown-menu" aria-labelledby="exportButton">
          <a class="dropdown-item" routerLink="/file/export" ><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</a>
          <a class="dropdown-item" routerLink="/file/export" ><i class="fa fa-file-text-o" aria-hidden="true"></i> JSON</a>
          <a class="dropdown-item" routerLink="/file/export" ><i class="fa fa-code" aria-hidden="true"></i> XML</a>
        </div>
      </div>
    </span>
  </div>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="toggle-check nosort" style="text-align: center"><input type="checkbox" class="select-all-checkbox" (click)="selectAll()">
      </th>
      <th class="toggle-active">Active</th>
      <th class="toggle-id">ID</th>
      <th class="toggle-type">Type</th>
      <th class="toggle-autor">Author</th>
      <th class="toggle-create-time">Creation Time</th>
      <th class="toggle-action">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of entryLists">

      <!-- table entries -->
      <td style="text-align: center"><input id="{{entry.public_id}}" class="select-checkbox" type="checkbox" (click)="updateDisplay()"></td>
      <td><cmdb-active-badge [activeStatus]="entry.active"></cmdb-active-badge></td>
      <td>{{entry.public_id}}</td>
      <td *ngIf="entry.type_id === undefined"><a routerLink="/framework/{{linkRoute}}{{entry.public_id}}">{{entry.label}}</a></td>
      <td *ngIf="entry.type_id !== undefined"><a routerLink="/framework/type/{{entry.type_id}}">{{entry.label}}</a></td>
      <td><a routerLink="/user/{{entry.author_id}}">{{userService?.findUser(entry.author_id).user_name }}</a></td>
      <td>{{entry.creation_time.$date | date:"dd/MM/yy - hh:mm:ss"}}</td>

      <!-- action buttons -->
      <td>
        <!-- view -->
        <a class="text-dark" routerLink="/framework/{{linkRoute}}{{entry.public_id}}">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
        <!-- edit -->
        <a class="ml-1 text-dark" routerLink="/framework/{{linkRoute}}edit/{{entry.public_id}}">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        <!-- delete -->
        <a class="ml-1 text-dark" >
          <i class="fa fa-trash-o" aria-hidden="true" (click)="delObject(entry)"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

