<h1><i class="{{type.render_meta.icon}}"></i> {{type.label}}</h1>
<hr/>
<div class="d-flex">
  <div class="mr-auto">
    <button type="button"
            *permissionLink="['base.framework.object.add']"
            class="btn btn-success btn-sm mr-1"
            [routerLink]="['/framework/object/add/', type?.public_id ]">
      <i class="fas fa-plus"></i> Add
    </button>
    <button type="button"
            *permissionLink="['base.framework.object.edit']"
            [disabled]="selectedObjects.length<=0"
            class="btn btn-secondary btn-sm mr-1"
            [routerLink]="['/framework/object/change/', { typeID: type?.public_id , ids: selectedObjects}]">
      <i class="fas fa-tasks"></i> Bulk Change <span
      class="badge badge-primary badge-pill">{{selectedObjects.length}}</span>
    </button>
    <button type="button" *permissionLink="['base.framework.object.delete']"
            [disabled]="selectedObjects.length<=0" class="btn btn-danger btn-sm mr-1">
      <i class="far fa-trash-alt"></i> Delete Selected <span class="badge badge-secondary badge-pill">{{selectedObjects.length}}</span>
    </button>
  </div>
  <div>
    <div class="dropdown" *permissionLink="'base.export.object.*'">
      <button type="button" id="exportButton" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown">
        <fa-icon icon="file-export"></fa-icon>
        Export
      </button>
      <ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
        <li *ngFor="let item of formatList" id="export-{{item.id}}"
            [className]="item.active && totalResults > 0 ? 'dropdown-item' : 'dropdown-item disabled'"
            (click)="exportingFiles(item)"
            [ngbTooltip]="item.helperText">
          <fa-icon icon="{{item.icon}}"></fa-icon>
          {{item.label}}
          <span *ngIf="selectedObjects.length == 0">( all )</span>
          <span *ngIf="selectedObjects.length > 0"> ( {{selectedObjects.length}} )</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr/>
<cmdb-table [items]="results" [totalItems]="totalResults" [columns]="columns" [sort]="sort" [toggleable]="true"
            [page]="page" [rowClasses]="['align-middle']"
            [selectEnabled]="true" [loading]="loading" [emptyMessage]="'There are no objects for this type yet!'"
            (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"
            (sortChange)="onSortChange($event)" (selectedChange)="onSelectedChange($event)">

</cmdb-table>

<ng-template #activeTemplate let-item="item" let-column="column">
  <cmdb-active-badge [activeStatus]="item?.active"></cmdb-active-badge>
</ng-template>

<ng-template #fieldTemplate let-item="item" let-column="column">
  <!--<cmdb-render-element [mode]="mode" [data]="getFieldByName(item, column.name)" [parentFormGroup]="renderForm"
                       [value]="getFieldValue(item, column.name)"></cmdb-render-element>-->
</ng-template>

<ng-template #userTemplate let-item="item" let-column="column">
  <cmdb-user-compact [userID]="item.author_id"></cmdb-user-compact>
</ng-template>

<ng-template #actionTemplate let-item="item" let-column="column">
  <cmdb-object-table-actions [object]="item"></cmdb-object-table-actions>
</ng-template>
