<h1>
  <i class="{{type?.render_meta?.icon}}"></i> {{type?.label}}
  @if (type?.description) {
<i 
     class="fas fa-info-circle text-muted ml-2" 
     data-bs-toggle="tooltip" 
     data-bs-placement="top"
     [title]="type?.description"
     style="cursor: help; font-size: 0.4em; ">
  </i>
}
</h1>
<hr/>
<div class="mt-2 mb-2">
    <cmdb-object-table-head
        [type]="type"
        [selectedObjects]="selectedObjects"
        [selectedObjectsIDs]="selectedObjectsIDs"
        [formatList]="formatList"
        [totalResults]="totalResults"
        (manyObjectDeletes)="onManyObjectDeletes()"
        (fileExport)="exportingFiles($event)"
    ></cmdb-object-table-head>
</div>

<cmdb-table
    [items]="results"
    [totalItems]="totalResults"
    [columns]="columns"
    [sort]="sort"
    [toggleable]="true"
    [page]="page"
    [rowClasses]="['align-middle']"
    [pageSize]="limit"
    [id]="id"
    [tableStates]="tableStates"
    [selectEnabled]="true"
    [loading]="loading"
    [tableState]="tableState"
    [emptyMessage]="'There are no objects for this type yet!'"
    [stateEnabled]="true"
    [initialVisibleColumns]="initialVisibleColumns"
    [columnSearchEnabled]="true"
    (stateSelect)="onStateSelect($event)"
    (stateReset)="onStateReset()"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
    (sortChange)="onSortChange($event)"
    (selectedChange)="onSelectedChange($event)"
    (searchChange)="onSearchChange($event)"
    (columnSearchChange)="onColumnSearchChange($event)"
    [isViewAndEditRequired]="true"
></cmdb-table>

<ng-template #activeTemplate let-data="data">
    <cmdb-active-badge [activeStatus]="data"></cmdb-active-badge>
</ng-template>

<ng-template #fieldTemplate let-data="data">
    <cmdb-render-element [mode]="mode" [data]="data.field" [value]="data.value"></cmdb-render-element>
</ng-template>

<ng-template #dateTemplate let-data="data">{{data | dateFormatter}}</ng-template>

<ng-template #actionTemplate let-item="item">
    @if (type) {
<cmdb-object-table-actions
       
        [publicID]="item.object_information.object_id"
        [result]="item"
        [acl]="type?.acl"
        (deleteEmitter)="onObjectDelete($event)"
        (deleteObjectsEmitter)="onObjectDeleteWithObjects(item.object_information.object_id)"
        (deleteLocationsEmitter)="onObjectDeleteWithLocations(item.object_information.object_id)"
    ></cmdb-object-table-actions>
}
</ng-template>

<app-loading-popup 
  [isVisible]="isLoading$ | async"
  message="We're Processing the Data..."
></app-loading-popup>