<div class="form-group" (keydown)="$event.stopPropagation()">
  <label *ngIf="label" class="form-label">
    {{ label }}
    <span *ngIf="required" class="required">*</span>
  </label>

  <ng-select [items]="items" [bindLabel]="bindLabel" [bindValue]="bindValue" [multiple]="multiple"
    [placeholder]="placeholder" [disabled]="disabled" [clearable]="true" [(ngModel)]="value"
    [dropdownPosition]="dropdownDirection" (change)="onValueChange($event)" (blur)="onTouched()" [groupBy]="groupBy">
  </ng-select>
</div>