<div class="actions-div">
    <button id="add-section-template-button" class="btn btn-warning btn-sm me-1"
        [routerLink]="['/framework/section_templates']">Cancel</button>

    <button id="add-section-template-button" class="btn btn-success btn-sm me-1" (click)="handleSectionTemplate()"
        [disabled]="initialSection.fields.length == 0 || !(isValid$ | async)">Save</button>
</div>

@if (sectionTemplateID > 0 && initialSection.is_global) {
<div>
    <p id="global-edit-message">
        <i class="fas fa-lightbulb"></i>
        Saving changes to a global template will affect all corresponding types and objects. This action can not be
        undone!
    </p>
</div>
}

<div class="row">
    <div class="col-3">
        <dg-builder-palette [groups]="paletteGroups" />
    </div>

    <div id="form-container" class="col-9">
        <section>
            <dg-builder-section [section]="initialSection" [host]="sectionHost">
                @if (sectionTemplateID <= 0) {
                <form [formGroup]="formGroup" class="section-template-options">
                    <div class="section-template-option">
                        <app-toggle class="section-template-option-control" [id]="'is-multi-data-section-label'"
                            [controlName]="'isMultiDataSection'" [ariaLabel]="'Multi Data Section'" />
                        <span class="section-template-option-label">
                            Multi Data Section
                        </span>
                    </div>
                    <div class="section-template-option is-global">
                        <app-toggle class="section-template-option-control" [id]="'is-global-label'"
                            [controlName]="'isGlobal'" [ariaLabel]="'Global Template'" />
                        <span class="section-template-option-label">
                            Global Template
                        </span>
                    </div>
                </form>
                }
                <hr>
            </dg-builder-section>
        </section>
    </div>
</div>

<div class="actions-div">
    <button id="add-section-template-button" class="btn btn-warning btn-sm me-1"
        [routerLink]="['/framework/section_templates']">Cancel</button>

    <button id="add-section-template-button" class="btn btn-success btn-sm me-1" (click)="handleSectionTemplate()"
        [disabled]="initialSection.fields.length == 0 || !(isValid$ | async)">Save</button>
</div>
