
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">
      <fa-icon icon="{{modalIcon}}"></fa-icon> <span class="mx-3">{{title}}</span>
    </h4>
    <button type="button" class="close" aria-hidden="true" (click)="activeModal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <blockquote class="blockquote text-center">
      <p class="mb-0">{{modalMessage}}</p>
      <footer *ngIf="subModalMessage" class="blockquote-footer">
        {{subModalMessage}}
      </footer>
    </blockquote>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary mr-1" (click)="activeModal.close(false)">{{buttonDeny}}</button>
    <button type="button" class="btn btn-primary"  (click)="activeModal.close(true)">{{buttonAccept}}</button>
  </div>
</div>
