<div *permissionLink="'base.isms.impactCategory.view'">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h1>Impact Categories</h1>
    <button type="button" class="btn btn-sm btn-success" (click)="addImpactCategory()"
      *permissionLink="'base.isms.impactCategory.add'">
      <i class="fas fa-plus"></i> Add
    </button>
  </div>

  <hr />

  <!--  Warning Alert -->
  @if (this.impactCategories.length < 1) { <app-warning-alert iconClass="fas fa-info-circle warning-icon"
    title="Insufficient Impact Categories:" message="You need to define at least 1 impact Category to proceed.">
    </app-warning-alert>
    }

    <!--  table component -->
    <cmdb-table [items]="impactCategories" [columns]="columns" [totalItems]="totalImpactCategories" [pageSize]="limit"
      [page]="page" [loading]="loading" [draggableEnabled]="true" [searchEnabled]="true" [infoEnabled]="false"
      [pageSizeEnabled]="false" [searchEnabled]="false" [paginationEnabled]="false" (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)" (orderChange)="onOrderChange($event)"
      (searchChange)="onSearchChange($event)">
    </cmdb-table>
</div>

<!-- Impact Descriptions Template -->
<ng-template #impactDescriptionsTemplate let-item="item">
  <div class="impact-descriptions-container">
    <div>
      @if (item.impact_descriptions?.length > 0) {

      @for (desc of item.impact_descriptions; track desc) {
      <div class="impact-description-line">
        <div class="impact-label-value">
          <strong>{{ getImpactName(desc.impact_id) }}:</strong>
          <span> {{ desc.value || '-' }}</span>
        </div>
      </div>
      }

      } @else {

      <em class="no-desc">No impact descriptions.</em>

      }
    </div>
    <ng-template #noDescs>
      <em class="no-desc">No impact descriptions.</em>
    </ng-template>
  </div>
</ng-template>




<!-- Actions Template -->
<ng-template #actionsTemplate let-item="item">

  <!-- View -->
  <a *permissionLink="'base.isms.impactCategory.view'" (click)="viewImpactCategory(item)" title="View Impact Category">
    <i class="far fa-eye icon-view spacing-right"></i>
  </a>

  <!-- Edit -->
  <a *permissionLink="'base.isms.impactCategory.edit'" (click)="editImpactCategory(item)" title="Edit Impact Category">
    <i class="far fa-edit icon-edit spacing-right"></i>
  </a>


  <!-- Delete -->
  <a *permissionLink="'base.isms.impactCategory.delete'" (click)="deleteImpactCategory(item)"
    title="Delete Impact Category">
    <i class="far fa-trash-alt icon-delete"></i>
  </a>

</ng-template>

<app-loading-popup [isVisible]="isLoading$ | async" message="We're Processing the Data..."></app-loading-popup>