<h2>Changed objects: {{results?.length}}</h2>
<hr/>
<div class="bulk-changed-result" *ngFor="let item of results | paginate: { itemsPerPage: 10, currentPage: p}; let itemIdx = index ">
  <div class="row">
    <div class="col-sm-4">
      <cmdb-active-badge [activeStatus]="activeState"></cmdb-active-badge>
      <a [routerLink]="['/','framework', 'object', 'view', item.object_information.object_id]">
        {{item.type_information.type_label}}#{{item.object_information.object_id}}</a>
      <div class="summary"><strong>Summary:</strong> {{item.summary_line}}</div>
    </div>
    <div class="col-sm-8">
      <div class="container">
        <div class="row pb-1" *ngIf="activeState !== undefined">
          <div class="col-sm-5 text-nowrap">
            <strong>Active</strong>:
            <span [ngClass]="item?.object_information?.active ? 'badge badge-success':'badge badge-danger' ">
             {{item?.object_information?.active ? 'A' : 'D'}}
            </span>
          </div>
          <div class="col-sm-1"><i class="far fa-arrow-alt-circle-right"></i></div>
          <div class="col-sm-5">
            <strong>Active</strong>:
            <span [ngClass]="activeState ? 'badge badge-success':'badge badge-danger' ">
             {{activeState ? 'A' : 'D'}}
            </span>
          </div>
        </div>
        <div class="row pb-1" *ngFor="let changedControl of changeForm.controls | keyvalue ; trackBy track">
          <ng-container *ngIf="getField(changedControl.key) as field">
            <div class="col-sm-5">
              <strong>{{field.label}}</strong>:
              <cmdb-render-element [mode]="mode" [data]="getOriginal(itemIdx, changedControl.key)"></cmdb-render-element>
            </div>
            <div class="col-sm-1">
              <i class="far fa-arrow-alt-circle-right"></i>
            </div>
            <div class="col-sm-5">
              <strong>{{field.label}}</strong>:
              <cmdb-render-element [mode]="mode" [data]="field"
                                   [value]="getChangedValue(field.name)"></cmdb-render-element>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>
<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
