<h2>Changed objects: {{results?.length}}</h2>
<hr />
@for (item of results | paginate: { itemsPerPage: 10, currentPage: p}; track item; let itemIdx = $index) {
<div class="bulk-changed-result">
  <div class="row">
    <div class="col-sm-4">
      <cmdb-active-badge [activeStatus]="activeState"></cmdb-active-badge>
      <a [routerLink]="['/','framework', 'object', 'view', item.object_information.object_id]">
        {{item.type_information.type_label}}#{{item.object_information.object_id}}</a>
      <div class="summary"><strong>Summary:</strong> {{item.summary_line}}</div>
    </div>
    <div class="col-sm-8">
      <div class="container">
        @if (activeState !== undefined) {
        <div class="row pb-1">
          <div class="col-sm-5 text-nowrap">
            <strong>Active</strong>:
            <span [ngClass]="item?.object_information?.active ? 'badge bg-success':'badge bg-danger' ">
              {{item?.object_information?.active ? 'A' : 'D'}}
            </span>
          </div>
          <div class="col-sm-1"><i class="far fa-arrow-alt-circle-right"></i></div>
          <div class="col-sm-5">
            <strong>Active</strong>:
            <span [ngClass]="activeState ? 'badge bg-success':'badge bg-danger' ">
              {{activeState ? 'A' : 'D'}}
            </span>
          </div>
        </div>
        }
        @for (changedControl of changeForm.controls | keyvalue ; track changedControl) {
        <div class="row pb-1">
          @if (getField(changedControl.key); as field) {

          <div class="col-sm-5">
            <strong>{{field.label}}</strong>:
            <cmdb-render-element [mode]="mode" [data]="getOriginal(itemIdx, changedControl.key)"></cmdb-render-element>
          </div>
          <div class="col-sm-1">
            <i class="far fa-arrow-alt-circle-right"></i>
          </div>
          <div class="col-sm-5">
            <strong>{{field.label}}</strong>:
            <cmdb-render-element [mode]="mode" [data]="field"
              [value]="getChangedValue(field.name)"></cmdb-render-element>
          </div>

          }
        </div>
        }
      </div>
    </div>
  </div>
  <hr />
</div>
}
<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>