<div [formGroup]="form">
    <div class="form-row">
        <div *ngIf="this.fieldSectionType === 'multi-data-section'">
            <div class="form-group col-md-12">
                <div class="input-group-prepend">
                    <span class="input-group-text pr-1">
                        <input
                            type="checkbox"
                            [formControl]="hideFieldControl"
                            name="hideFieldControl-textarea"
                            (ngModelChange)="onInputChange($event, 'hideField')"
                        />
                        <label class="hide-info">
                            Hide this field as column in object view/edit mode
                        </label>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label>Required/Identifier<span class="required">*</span>:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text pr-1">
                        <div class="custom-control custom-checkbox">
                            <input
                                type="checkbox"
                                [formControl]="requiredControl"
                                class="custom-control-input"
                                [id]="nameControl.value+'-required'"
                                (ngModelChange)="onInputChange($event, 'required')"
                            />
                            <label class="custom-control-label" [for]="nameControl.value+'-required'"></label>
                        </div>
                    </span>
                </div>
                <input
                    [formControl]="nameControl"
                    type="text"
                    class="form-control"
                    name-guideline
                    placeholder="Field name"
                    [ngClass]="{'is-valid': nameControl.valid && (nameControl.dirty || nameControl.touched),
                                'is-invalid': nameControl.invalid && (nameControl.dirty || nameControl.touched) || isDuplicate$}"
                    (ngModelChange)="onInputChange($event, 'name')"
                />

                <div *ngIf="isDuplicate$" class="invalid-feedback">
                    <div class="float-right">
                        Field name must be unique
                    </div>
                </div>
            </div>
            <small class="form-text text-muted float-left">Use a unique field identifier</small>
            <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" class="invalid-feedback">
                <div class="float-right" *ngIf="nameControl.errors?.required">
                    Identifier is a required field
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group col-md-12">
            <label>Label<span class="required">*</span>:</label>
                <input
                    [formControl]="labelControl"
                    [(ngModel)]="data.label"
                    type="text"
                    class="form-control"
                    placeholder="Field label"
                    [ngClass]="{'is-valid': labelControl.valid && (labelControl.dirty || labelControl.touched),
                                'is-invalid': labelControl.invalid && (labelControl.dirty || labelControl.touched)}"
                    (ngModelChange)="onInputChange($event, 'label')"
                />
            <small class="form-text text-muted float-left">A static display name</small>
            <div *ngIf="labelControl.invalid && (labelControl.dirty || labelControl.touched)" class="invalid-feedback">
                <div class="float-right" *ngIf="labelControl.errors?.required">
                    Label is a required field
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group  col-md-12">
            <label>Description:</label>
            <textarea
                [formControl]="descriptionControl"
                class="form-control"
                placeholder="This field contains..."
                [ngClass]="{'is-valid': descriptionControl.valid && (descriptionControl.dirty || descriptionControl.touched),
                            'is-invalid': descriptionControl.invalid && (descriptionControl.dirty || descriptionControl.touched)}"
                (ngModelChange)="onInputChange($event, 'description')"
            ></textarea>
            <small class="form-text text-muted">short field description or helper text</small>
        </div>
        <div class="form-group col-md-12">
            <label>Placeholder:</label>
            <input
                [formControl]="placeholderControl"
                type="text"
                class="form-control"
                placeholder="What if nothing is entered..."
                (ngModelChange)="onInputChange($event, 'placeholder')"
                [ngClass]="{'is-valid': placeholderControl.valid && (placeholderControl.dirty || placeholderControl.touched),
                            'is-invalid': placeholderControl.invalid && (placeholderControl.dirty || placeholderControl.touched)}"/>
            <small class="form-text text-muted">The placeholder will only be displayed if the field is complete empty.</small>
        </div>
        <div class="form-group col-md-12">
            <label>Default value:</label>
            <input
                [formControl]="valueControl"
                type="text"
                class="form-control"
                placeholder="Always be..."
                [ngClass]="{ 'is-valid': valueControl.valid && (valueControl.dirty || valueControl.touched),
                 'is-invalid': valueControl.invalid && (valueControl.dirty || valueControl.touched)}"
                (ngModelChange)="onInputChange($event, 'value')"
            />
            <small class="form-text text-muted">Default value of this field</small>
        </div>
        <div class="form-group col-md-12">
            <label>Helper text:</label>
            <input
                [formControl]="helperTextControl"
                type="text"
                class="form-control"
                placeholder="If you don't know what to enter..."
                [ngClass]="{'is-valid': helperTextControl.valid && (helperTextControl.dirty || helperTextControl.touched),
                            'is-invalid': helperTextControl.invalid && (helperTextControl.dirty || helperTextControl.touched)}"
                (ngModelChange)="onInputChange($event, 'helperText')"
            />
            <small class="form-text text-muted">Small helper popup.</small>
        </div>
        <div class="form-group col-md-12">
            <label>Rows: {{rowsControl.value}}</label>
            <input
                [formControl]="rowsControl"
                min="1"
                max="30"
                type="range"
                class="custom-range"
                [ngClass]="{'is-valid': rowsControl.valid && (rowsControl.dirty || rowsControl.touched),
                            'is-invalid': rowsControl.invalid && (rowsControl.dirty || rowsControl.touched)}"
                (ngModelChange)="onInputChange($event, 'rows')"
            />
            <small class="form-text text-muted">Display size of the area</small>
        </div>
    </div>
</div>
