<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Vulnerabilities</h2>
  <!-- Add button -->
  <button class="btn btn-sm btn-success" (click)="onAddNew()" *permissionLink="'base.isms.vulnerability.add'">
    <i class="fas fa-plus"></i> Add
  </button>
</div>
<hr />

<cmdb-table [items]="threats" [columns]="columns" [page]="page" [sort]="sort" [id]="'threats-table'"
  [emptyMessage]="'No Vulnerabilities found.'" [totalItems]="totalThreats" [selectEnabled]="false" [loading]="loading"
  [pageSize]="limit" [toggleable]="true" [initialVisibleColumns]="initialVisibleColumns"
  (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)" (sortChange)="onSortChange($event)"
  (searchChange)="onSearchChange($event)">
</cmdb-table>

<!-- Action Template -->
<ng-template #actionTemplate let-data="data" let-item="item">
    <!-- View button -->
    <a (click)="onView(item)" title="View Vulnerability" *permissionLink="'base.isms.vulnerability.view'">
      <i class="far fa-eye icon-margin icon-view spacing-right"></i>
    </a>
  <!-- Edit button -->
  <a (click)="onEdit(item)" title="Edit Vulnerability" *permissionLink="'base.isms.vulnerability.edit'">
    <i class="far fa-edit icon-margin icon-edit spacing-right"></i>
  </a>

  <!-- Delete button -->
  <a (click)="onDelete(item)" title="Delete Vulnerability" *permissionLink="'base.isms.vulnerability.delete'">
    <i class="far fa-trash-alt icon-delete"></i>
  </a>
</ng-template>

<!-- Source Template (to display the source names) -->
<ng-template #sourceTemplate let-data="data" let-item="item">
  <span>{{ getSourceNames(data) }}</span>
</ng-template>