{% extends 'layout.html' %}
{% from 'utils.html' import generate_form_from_type with context %}
{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="/type/{{ type.public_id }}">{{ type.title }}</a></li>
    <li class="breadcrumb-item active">New Object</li>
</ol>

<div class="container-fluid animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Adding new object of type: {{ type.title }}
                </div>
                <div class="card-body">
                    <form method="POST" name="add_form">
                        {{ generate_form_from_type(type) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}