<div class="card">
    <div class="card-header">
        Metadata
        <span class="badge badge-pill badge-secondary float-right">Version: {{ object.version }}</span>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Data</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Creation time</td>
                <td>{{object.creation_time}}</td>
            </tr>
            <tr>
                <td>Creator</td>
                <td>
                    {{object.creator_id}}
                </td>
            </tr>
            <tr>
                <td>Last edit</td>
                <td>
                    {{object.last_edit_time}}
                </td>
            </tr>
            <tr>
                <td>Last editor</td>
                <td>
                    {{object.last_editor_id}}
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <span class="badge badge-{{object.status.brand}}">{{object.status.name}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>