{% extends 'layout.html' %}
{% from 'utils.html' import render_pagination with context %}
{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active"><a href="/type/{{ type.public_id }}">{{ type.title }}</a></li>

    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="/object/add/{{type.public_id}}"><i class="far fa-plus-square"></i> Add</a>
            <a class="btn" href="/type/edit/{{type.public_id}}"><i class="far fa-edit"></i> Edit</a>
            <a class="btn" href="/type/export/{{type.public_id}}"><i class="fas fa-print"></i> Export</a>
        </div>
    </li>
</ol>

<div class="container-fluid animated fadeIn">
    <div class="row">
        <div class="col-xl-9 col-lg-12">
            <div class="card">
                <div class="card-header">
                    {{ type.active | label_active }} {{ type.title }}
                    <span class="badge badge-pill badge-secondary float-right mr-1">Objects: {{ object_counts }}</span>
                </div>
                <div class="card-body">
                    Description: {{ type.description }}
                </div>
            </div>
            {% if object_counts > 0 %}
            <div class="card">
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            {% for sum_table in type.render_meta.summary %}
                            <th>{{ sum_table.label }}</th>
                            {% endfor %}
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for current_ob in objects %}
                        <tr>
                            <td>{{ current_ob.active | label_active }}</td>
                            <td>
                                <a href="{{ url_for('object_pages.view_single_object', public_id=current_ob.get_public_id()) }}">{{
                                    current_ob.get_public_id() }}</a></td>
                            {% for sum_table in type.render_meta.summary %}
                            <td>{% for sum_field in sum_table.fields %}
                                {{ current_ob.get_value(sum_field) }}
                                {% endfor %}
                            </td>
                            {% endfor %}
                            <td>
                                <span class="badge badge-pill badge-{{current_ob.status.brand}}">{{ current_ob.status.name }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="table_navigation">
                        <ul class="pagination justify-content-center">
                            {{ render_pagination(page) }}
                        </ul>
                    </nav>


                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-xl-3 col-lg-12">
        {% include 'meta_data_type.html' %}
        </div>
    </div>
</div>

{% endblock %}