<div *ngIf="data" class="form-group row" [formGroup]="parentFormGroup">
  <label class="col-sm-3 col-form-label">
    {{data.label}}:
  </label>
  <div class="col-sm-9">
      <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="mode == MODES.Create || mode == MODES.Edit || mode == MODES.Bulk">
          <cmdb-object-bulk-input-appends *ngIf="mode == MODES.Bulk" [data]="data" [controller]="controller"
                                          [changeForm]="changeForm"></cmdb-object-bulk-input-appends>
          <cmdb-input-appends [data]="data" [mode]="mode" [parentFormGroup]="parentFormGroup">
            <ng-select #selection class="form-group ng-select-valid custom-select ref-section-select"
                       [ngClass]="{ 'is-valid': controller.valid && (controller.dirty || controller.touched),
                       'is-invalid': controller.invalid && (controller.dirty || controller.touched)}" [loading]="loading"
                       [items]="objects"
                       [searchFn]="searchRef"
                       (search)="onCustomSearch($event.term, $event.items)"
                       (change)="loadDisplayObject($event?.object_information?.object_id)"
                       [virtualScroll]="true" (scrollToEnd)="onScrollToEnd()" bindLabel="object_information.object_id"
                       [formControlName]="data.name" bindValue="object_information.object_id">
              <ng-template ng-header-tmp>
                <small class="form-text text-muted">Loaded {{objects.length}} of {{totalObjects}}</small>
              </ng-template>
              <ng-template ng-label-tmp>
                <ng-container *ngIf="selected?.value as item">
                <span>
                  <i class="{{item?.type_information?.icon}}"></i>
                  {{item?.type_information?.type_label}} #</span>{{item?.object_information?.object_id}}
                  <span *ngFor="let sum of item?.summaries; let last = last; let first = first">
                    <ng-template [ngIf]="sum.type != 'date'" [ngIfElse]="templateDate">
                      <span *ngIf="first"> - </span>{{sum.value ? sum.value : 'None'}}
                    </ng-template>
                    <ng-template #templateDate>
                      <span *ngIf="first"> - </span>{{sum.value ? (sum.value | dateFormatter) : 'None'}}
                    </ng-template>
                    <span *ngIf="!last"> | </span>
                  </span>
                </ng-container>
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                <div>
                <span><i class="{{item?.type_information?.icon}}"></i>
                  {{item?.type_information?.type_label}} #</span>{{item?.object_information?.object_id}}</div>
                <small>
                  <b>Summary:</b>
                  <span *ngFor="let sum of item?.summaries; let last = last;">
                    {{sum.value ? (sum.value | dateFormatter) : 'None'}}
                    <span *ngIf="!last"> | </span>
                  </span>
                </small>
              </ng-template>
            </ng-select>
          </cmdb-input-appends>
        </ng-container>
      </ng-container>
  </div>
</div>



