@import "../../../../scss/variables";

section.field-drop{
  width: 100%;
  min-height: 15px;

  &:empty{
    text-align: center;
    padding: 5px;
    border: 2px dashed $gray-300;
    &:before{
      content: attr(data-label);
    }
  }
}
