<div class="row">
  <div class="col-md-3">
    <div class="card mb-3">
      <div class="card-header">
        Definitions
      </div>
      <div class="card-body overflow-auto">
        <div class="list-group">
          <div [dndDraggable]="publicID" dndEffectAllowed="move" (dndMoved)="onDragged(publicID)"
               class="list-group-item ist-group-item list-group-item-action mt-2">
            <div class="d-flex w-100 justify-content-between">
              Public ID
              <fa-icon icon="arrows-alt"></fa-icon>
            </div>
          </div>
          <div [dndDraggable]="active" dndEffectAllowed="move" (dndMoved)="onDragged(active)"
               class="list-group-item ist-group-item list-group-item-action mt-2">
            <div class="d-flex w-100 justify-content-between">
              Active
              <fa-icon icon="arrows-alt"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Fields:</div>
      <div class="card-body overflow-auto">
        <div class="list-group">
          <div [dndDraggable]="typeFields" dndEffectAllowed="move" (dndMoved)="onDragged(typeFields)"
               *ngFor="let typeFields of fieldList"
               class="list-group-item ist-group-item list-group-item-action mt-2 move">
            <div class="d-flex w-100 justify-content-between">
              {{typeFields.label}}
              <fa-icon icon="arrows-alt"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        Mapping
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Field</th>
            <th scope="col">Value option</th>
            <th scope="col">Row Index</th>
            <th scope="col" *ngIf="header">Header</th>
            <th scope="col">Example</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let column of columns; let i = index">
            <td>
              <section dndDropzone (dndDrop)="onDrop($event, i)" class="field-drop" data-label="Drop field">
                <div *ngIf="mapping[i] !== undefined" class="list-group-item ist-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    {{mapping[i].label}}
                    <fa-icon icon="times-circle" class="ml-2"></fa-icon>
                  </div>
                </div>
              </section>
            </td>
            <td>
              <select class="custom-select" *ngIf="mapping[i] !== undefined">
                <option value="auto" selected>auto</option>
                <option value="string">string</option>
                <option value="boolean">boolean</option>
                <option value="int">int</option>
                <option value="double">double</option>
                <option value="ref">reference</option>
              </select>
            </td>
            <th scope="row">{{i}}</th>
            <th *ngIf="header" scope="row">{{column}}</th>
            <td>{{parserResponse.lines[0][i]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
