<div class="container" [formGroup]="threatForm">
    <h2 class="mb-3">{{ isEditMode ? 'Edit Threat' : isViewMode ? 'View Threat' : 'Add Threat' }}</h2>

    <form autocomplete="off" class="needs-validation" (ngSubmit)="onSave()" [formGroup]="threatForm">

        <!-- Threat Name -->
        <app-form-input formControlName="name" label="Name" [required]="true" [errorMessage]="
          hasError('name', 'required')
            ? 'Name is required'
            : ''
        ">
        </app-form-input>

        <!-- Threat Identifier (not required) -->
        <app-form-input formControlName="identifier" label="Identifier" [required]="false">
        </app-form-input>

        <!-- Source (extendable) -->
        <div class="form-group mt-3">
            <label>Source:</label>
            <div class="d-flex flex-wrap align-items-center gap-2">
                <ng-select [items]="sourceOptions" bindLabel="value" bindValue="public_id" [multiple]="false"
                    placeholder="Select threat sources..." formControlName="source" class="flex-grow-1">
                </ng-select>

                @if (!isViewMode) {
                <button type="button" class="btn btn-outline-secondary btn-sm" style="padding: 6.5px;"
                    (click)="openSourceManager()">
                    Manage Sources
                </button>
                }
            </div>

            <!-- Optional error message for Source -->
            @if (hasError('source', 'required')) {
            <div class="invalid-feedback d-block mt-1">
                Source is required
            </div>
            }
        </div>

        <!-- Description (Required) using FormTextareaComponent -->
        <app-form-textarea formControlName="description" label="Description" [rows]="5" [required]="false">
        </app-form-textarea>

        <!-- Footer -->
        <div class="mt-4 d-flex justify-content-between">
            <button class="btn btn-secondary me-2" type="button" (click)="onCancel()">
                Cancel
            </button>
            @if (!isViewMode) {
            <button class="btn btn-success" type="submit" [disabled]="threatForm.invalid">
                {{ isEditMode ? 'Save Changes' : 'Create Threat' }}
            </button>
            }
        </div>
    </form>
</div>

<!-- Loading Spinner -->
<app-loading-popup [isVisible]="isLoading$ | async" message="We're Processing the Data...">
</app-loading-popup>