<div class="mb-3">
  <div [formGroup]="iconFormGroup">
    <label for="iconInput" class="form-label">Icon</label>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">
        <i [ngClass]="iconFormGroup.get('icon')?.value"></i>
      </span>
      <input id="iconInput" type="text" name="icon" class="form-control" formControlName="icon"
        [iconPicker]="preSelectedIcon" [ipPosition]="'bottom'" [ipIconPack]="['fa5', 'fa6']" [ipPlaceHolder]="'Choose an icon'"
        [ipFallbackIcon]="fallbackIcon" (iconPickerSelect)="onIconPickerSelect($event)" readonly />
    </div>
  </div>
  <small id="iconInputDescription" class="form-text text-muted">
    {{ inputDescription }}
  </small>
</div>