<footer class="mt-3" id="footer">
    <div>
        <span>copyright 2018 NETHINKS GmbH</span>
    </div>
    <div class="ml-auto">
        <a href="/faq/" class="badge badge-pill badge-primary" data-toggle="tooltip" data-placement="top"
           title="FAQ"><i class="fas fa-question"></i></a>
        <a href="/contact/" class="badge badge-pill badge-primary" data-toggle="tooltip" data-placement="top"
           title="Contact"><i class="fas fa-file-contract"></i></a>
        <a href="/licence/" class="badge badge-pill badge-primary" data-toggle="tooltip" data-placement="top"
           title="Licence"><i class="fas fa-balance-scale"></i></a>
        <a href="https://github.com/NETHINKS/NetCMDB">NET|CMDB</a>
    </div>
</footer>
