<nav class="navbar navbar-cmdb navbar-light navbar-expand-md fixed-top">
  <a class="navbar-brand" href="/"><small>//</small><b>NET</b>CMDB</a>
  <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
    <i class="fa fa-bars"></i>
  </a>
  <ul id="nav-quick-search" class="navbar-nav border">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="message">
        <i class="line-icon-envelope"></i>
        <span class="badge badge-pill badge-primary">0</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="line-icon-bell"></i>
      </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">Objects modified</div>
          <a href="/user/[[ID]]/objects/new" class="dropdown-item">
            <i class="far fa-file-alt"></i> New
          </a>
          <a href="/user/[[ID]]/objects/changed" class="dropdown-item">
            <i class="fas fa-paste"></i> Changed
          </a>
          <a href="/user/[[ID]]/objects/your" class="dropdown-item">
            <i class="fas fa-file-code"></i> Your items
          </a>
        </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="line-icon-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-header">Account</div>
        <a href="/user/" class="dropdown-item">
          <i class="fa fa-user"></i> Profile
        </a>
        <div class="dropdown-header">Settings</div>
          <a href="/settings" class="dropdown-item">
            <i class="fa fa-wrench"></i> Settings
          </a>
          <a href="#" class="dropdown-item">
            <i class="fa fa-lock"></i> Lock
          </a>
          <a href="/logout" class="dropdown-item">
            <i class="fa fa-lock"></i> Logout
          </a>
      </div>
    </li>
  </ul>
  <!-- Mobile button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
