{% set VIEW_MODE = 0 %}
{% set EDIT_MODE = 1 %}
{% set ADD_MODE  = 2 %}
{% set SHOW_MODE = 3 %}

{% macro render_section(section, mode) %}
    {% if mode == SHOW_MODE %}
        <{{ section['tag'] }} id="section_{{ section['name'] }}"> Section: {{ section['label'] }} </{{ section['tag'] }}
        >
        <hr/>
        <dl class="row" id="section_description_{{ section['name'] }}_help">
            <dt class="col-3">Name</dt>
            <dd class="col-9">{{ section['name'] }}</dd>
            <dt class="col-3">Label</dt>
            <dd class="col-9">{{ section['label'] }}</dd>
            <dt class="col-3">Tag</dt>
            <dd class="col-9">{{ section['tag'] }}</dd>
            <dt class="col-3">Position</dt>
            <dd class="col-9">{{ section['position'] }}</dd>
            <dt class="col-3">Content</dt>
            <dd class="col-9">
                <dl class="row">
                    <dt class="col-3">Count</dt>
                    <dd class="col-9">{{ section['fields'] | length }}</dd>
                    <dt class="col-3">Fields</dt>
                    <dd class="col-9">
                        <div class="d-flex flex-wrap">
                            {% for section_field in section['fields'] %}
                                <a href="#{{ section_field }}"
                                   class="btn btn-sm btn-outline-secondary m-1">{{ section_field }}</a>
                            {% endfor %}
                        </div>
                    </dd>
                </dl>
            </dd>
        </dl>
    {% else %}
        <{{ section['tag'] }} id="section_{{ section['name'] }}"> {{ section['label'] }} </{{ section['tag'] }}>
        <hr/>
    {% endif %}
{% endmacro %}

{% macro render_summaries(summary_list) %}
    {% for summary in summary_list %}
        <strong id="summary_{{ summary.name }}">{{ summary.label }}: </strong>
        {% for value in summary.values %}
            {{ value }}
        {% endfor %}
        {% if not loop.last %}
            <br/>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro render_externals(external_list) %}
    <table class="table table-sm">
        <tbody>
        {% for external_link in external_list %}
            <th {% if loop.first %}class="border-top-0" {% endif %} scope="row">
                {% if external_link.has_icon() %}
                    <i class="{{ external_link.icon }}"></i>
                {% else %}
                    <i class="fas fa-link"></i>
                {% endif %}
            </th>
            <td{% if loop.first %} class="border-top-0" {% endif %}>
                <a href="{{ external_link.href }}"
                   target="_blank">{{ external_link.label }}
                </a>
            </td>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}


{% macro input_show(field) %}
    <div id="{{ field.name }}">
        <h4>{{ field.label }}
            <small>Type: {{ field.get_type() }}</small>
        </h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Label</th>
                <th scope="col">Input type</th>
                <th scope="col">Subinput type</th>
                <th scope="col">Required</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{ field.name }}</th>
                <td>{{ field.label }}</td>
                <td>{{ field.input_type }}</td>
                <td>{{ field.subinput_type }}</td>
                <td>{{ field.required }}</td>
            </tr>
            </tbody>
        </table>
        <dl class="row">
            {% if field.description %}
                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">{{ field.description }}</dd>
            {% endif %}
            {% if field.placeholder %}
                <dt class="col-sm-3">Placeholder</dt>
                <dd class="col-sm-9">{{ field.placeholder }}</dd>
            {% endif %}
            {% if field.access %}
                <dt class="col-sm-3">Access</dt>
                <dd class="col-sm-9">{{ field.access }}</dd>
            {% endif %}
            {% if field.roles %}
                <dt class="col-sm-3">Roles</dt>
                <dd class="col-sm-9">{{ field.roles }}</dd>
            {% endif %}
        </dl>
    </div>
{% endmacro %}

{% macro text(field, mode) %}
    <div class="form-group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        <input class="{{ field.className }}" type="{{ field.get_sub_type() }}" name="{{ field.name }}"
                {% if field.value %} value="{{ field.value|e }}" {% endif %}
                {% if field.placeholder %} placeholder="{{ field.placeholder|e }}" {% endif %}
                {% if field.required %} required {% endif %}
                {% if mode == 0 %} readonly {% endif %}
        />
        {% if field.description %}
            <small id="{{ field.name }}_help" class="form-text text-muted">{{ field.description }}</small>
        {% endif %}
    </div>
{% endmacro %}

{% macro textarea(field, mode) %}
    <div class="form-group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        {# Be careful with linebreaks here | will be insert whitespace into empty areas #}
        <textarea class="{{ field.className }}" name="{{ field.name }}" id="{{ field.name }}"
                {% if field.rows %} rows="{{ field.rows }}" {% else %}rows="3"{% endif %}
                {% if field.maxlength %} maxlength="{{ field.maxlength }}" {% endif %}
                {% if field.maxlength %} maxlength="{{ field.maxlength }}" {% endif %}
                {% if field.required %} required {% endif %}
                  {% if mode == 0 %}readonly{% endif %}>{% if field.value %}{{ field.value|e }}{% endif %}</textarea>
    </div>
{% endmacro %}

{% macro select(field, mode) %}
    <div class="form-group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        <select class="{{ field.className }}" id="{{ field.name }}" name="{{ field.name }}"
                {% if field.required %} required {% endif %}
                {% if mode == 0 %}readonly{% endif %}
                {% if field.multiple %} multiple {% endif %}>
            {% if mode == 2 %}
                <option></option>{% endif %}>
            {% for options in field.values %}
                <option value="{{ options.value }}">{{ options.label }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro radio(field, mode) %}
    <div class="form-group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        {% for options in field.values %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ field.name }}" value="{{ options.value }}">
                <label class="form-check-label" for="{{ field.name }}"></label>
                {{ options.label }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro checkbox(field, mode) %}
    <div class="form-group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        {% for options in field.values %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="{{ field.name }}" value="{{ options.value }}">
                <label class="form-check-label" for="{{ field.name }}"></label>
                {{ options.label }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro password(field, mode) %}
    <div class="form-group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        <div class="input-group">
            <input type="{{ field.get_sub_type() }}" {% if field.value %} value="{{ field.value|e }}" {% endif %}
                   class="{{ field.className }} cmdb_password" id="{{ field.name }}"
                   {% if field.placeholder %}placeholder="{{ field.placeholder|e }}"{% endif %}
                    {% if field.required %} required {% endif %}
                   autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text" data-toggle="cmdb_password"><i class="fas fa-eye"></i></span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro date(field, mode) %}
    <div class="form-group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        <input class="{{ field.className }}" type="{{ field.get_sub_type() }}" name="{{ field.name }}"
                {% if field.value %} value="{{ field.value|e }}" {% endif %}
                {% if field.required %} required {% endif %}
                {% if mode == 0 %} readonly {% endif %}
        />
        {% if field.description %}
            <small id="{{ field.name }}_help" class="form-text text-muted">{{ field.description }}</small>
        {% endif %}
    </div>
{% endmacro %}

{% macro log_message() %}
    <hr/>
    <div class="form-group">
        <label for="log_message">Log message</label>
        <textarea class="form-control" name="log_message" id="log_message" rows="3" maxlength="200"></textarea>
    </div>
{% endmacro %}

{% macro href(field, mode) %}
    {% if mode == 0 %}
        {{ field.label }}: <a href="{{ field.value|e }}" name="{{ field.name }}" target="_blank">{{ field.value|e }}</a>
    {% elif mode == 1 %}
        <div class="form-group">
            <label for="{{ field.name }}">{{ field.label }}</label>
            <input class="{{ field.className }}" type="{{ field.get_sub_type() }}" name="{{ field.name }}"
                    {% if field.value %} value="{{ field.value|e }}" {% endif %}
                    {% if field.required %} required {% endif %}
                    {% if mode == 0 %} readonly {% endif %}
            />
            {% if field.description %}
                <small id="{{ field.name }}_help" class="form-text text-muted">{{ field.description }}</small>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro ref(field, mode) %}
    {% set ref_type = object_manager.get_type(field.type_id) %}
    {% set ref_type_fields = ref_type.get_summary_fields(field.summary_field) %}
    {% if mode == 0 %}
        {% set ref_object = object_manager.get_object(field.value) %}
        {% set ref_string = ref_object.to_value_strings(ref_type_fields) %}
        <div class="form-group">
            <label for="{{ field.name }}">{{ field.label }}</label>
            <div class="input-group">
                <input data-value="{{ ref_object.get_public_id() }}" class="{{ field.className }}"
                       type="{{ field.get_sub_type() }}" name="{{ field.name }}"
                       value="{{ ref_string }}" readonly/>
                <div class="input-group-append">
                    <span class="input-group-text"><a href="/object/{{ ref_object.get_public_id() }}"><i
                            class="fas fa-angle-double-right"></i></a></span>
                </div>
                {% if field.description %}
                    <small id="{{ field.name }}_help" class="form-text text-muted">{{ field.description }}</small>
                {% endif %}
            </div>
        </div>
    {% elif mode == 1 %}
        {% set ref_object = object_manager.get_object(field.value) %}
        {% set ref_string = ref_object.to_value_strings(ref_type_fields) %}
        <div class="form-group">
            <label for="{{ field.name }}">{{ field.label }}</label>
            <div class="input-group">
                <input class="{{ field.className }}" type="{{ field.get_sub_type() }}" name="{{ field.name }}"
                       value="{{ ref_object.get_public_id() }}"
                />
                {% if field.description %}
                    <small id="{{ field.name }}_help" class="form-text text-muted">{{ field.description }}</small>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_object(render) %}
    {% for section in render.type_instance.get_sections() %}
        {% set mode =  render.get_mode() %}
        {{ render_section(section, mode) }}
        {% if mode == SHOW_MODE %}
            <p>Field informations:</p>
        {% endif %}
        {% for field in section['fields'] %}
            {% set current_field = render.get_field(field) %}
            {% if current_field != None %}
                {% if mode == SHOW_MODE %}
                    {{ input_show(current_field) }}
                {% else %}
                    {% if current_field.get_sub_type() == 'password' %}
                        {{ password(current_field, render.get_mode()) }}
                    {% elif current_field.get_sub_type() == 'href' %}
                        {{ href(current_field, render.get_mode()) }}
                    {% elif current_field.get_sub_type() == 'date' %}
                        {{ date(current_field, render.get_mode()) }}
                    {% elif current_field.get_sub_type() == 'ref' %}
                        {{ ref(current_field, render.get_mode()) }}
                    {% elif current_field.get_sub_type() == 'textarea' %}
                        {{ textarea(current_field, render.get_mode()) }}
                    {% elif current_field.get_sub_type() == 'select' %}
                        {{ select(current_field, render.get_mode()) }}
                    {% elif current_field.get_sub_type() == 'radio-group' %}
                        {{ radio(current_field, render.get_mode()) }}
                    {% elif current_field.get_sub_type() == 'checkbox-group' %}
                        {{ checkbox(current_field, render.get_mode()) }}
                    {% elif current_field.get_type() == 'text' %}
                        {{ text(current_field, mode) }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if render.get_mode() == 2 %}
        {{ log_message() }}
    {% endif %}
{% endmacro %}

{% macro render_form_wrapper(path, content) %}
    <form class="cmdb_object_form" method="post" action="{{ path }}" novalidate>
        {{ content }}
        <button class="btn btn-primary" type="submit">Submit</button>
        <button type="reset" class="btn btn-outline-secondary">Reset</button>
    </form>
{% endmacro %}