{% macro render_object_table(renderer_list, headlines, data_order='[[ 0, "asc" ]]') %}
    {# TODO: Implement standard format for tbody #}
    <table data-order='{{ data_order }}' class="data_table table">
        <thead class="thead">
        <tr>
            {% for head in headlines %}
                <th scope="col">{{ head }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for current_render in renderer_list %}
            <tr>
                {% for function_call in kwargs['calls'] %}
                    <td>{{ call_eval(current_render, function_call) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_table(headlines, content, data_order='[[ 0, "asc" ]]', summary_inject=None, inject_position_after=3) %}
    <table data-order='{{ data_order }}' class="data_table table">
        <thead class="thead">
        <tr>
            {% for head in headlines %}
                {% if summary_inject %}
                    {% if loop.index0 == inject_position_after %}
                        {% for sum_inject in summary_inject %}
                            <th scope="col">{{ sum_inject['label'] }}
                                <i class="fas fa-question-circle fa-xs" data-toggle="tooltip" data-placement="top"
                                   title="Summary section based on fields: {{ sum_inject['fields'] }}"></i>
                            </th>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <th scope="col">{{ head }}</th>

            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {{ content }}
        </tbody>
    </table>
{% endmacro %}