{% macro render_section(section) -%}
    <h2>{{ section['label'] }}</h2>
    <hr/>
{%- endmacro %}

{% macro text(field, mode) -%}
    <div class="form-group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        <input class="{{ field.className }}" type="{{ field.get_sub_type() }}" name="{{ field.name }}" value="{{ field.value|e }}">
        {% if field.description %}
            <small id="{{ field.name }}_help" class="form-text text-muted">{{ field.description }}</small>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_object_view(render) -%}
    {% for section in render.type_instance.get_sections() %}
        {{ render_section(section) }}
        {% for field in section['fields'] %}
            {% set current_field = render.get_field(field) %}
            {% if current_field.get_type() == 'text' %}
                {{ text(current_field, render.get_mode()) }}
            {% endif %}
        {% endfor %}
    {% endfor %}
{%- endmacro %}
