{% macro categorie_tree(categorie_root) %}
    {# TODO: Sidebar type output #}
    <div class="list-group panel">
        {% for cat in categorie_root recursive %}
            {% set category_childs = object_manager.get_categories_by(_filter={'parent_id': cat.get_public_id() }) %}
            <a href="#{{ cat.get_name() }}" class="list-group-item collapsed" data-toggle="collapse"
               data-parent="#sidebar-categories"
               aria-expanded="false">
                <i class="{% if cat.has_icon() %}{{ cat.get_icon() }}{% else %}far fa-folder-open{% endif %}"></i>
                <span class="hidden-sm-down">{{ cat.get_label() }}</span>
            </a>
            <div class="collapse" id="{{ cat.get_name() }}">
                {% if category_childs | length > 0 %}
                    {{ loop(category_childs) }}
                {% endif %}
                {% if cat.has_types() %}
                    {% for category_type in cat.get_types() %}
                        {% set current_type = exception_handler(object_manager.get_type, category_type) %}
                        {% if current_type %}
                            <a href="/type/{{ current_type.get_public_id() }}/list/" class="list-group-item"
                               data-parent="#{{ cat.get_name() }}"><i
                                    class="fas fa-clone"></i> {{ current_type.get_label() }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endmacro %}
<div id="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Navigation</li>
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard/"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/favorite/"><i class="far fa-star"></i> Favorite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newest/"><i class="fas fa-bolt"></i> Newest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/latest/"><i class="fas fa-undo"></i> Latest changes</a>
            </li>
            <li class="nav-title">Assets</li>
            <li class="nav-item">
                <a class="nav-link" href="/object/"><i class="fas fa-list"></i> List objects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/type/"><i class="fas fa-layer-group"></i> Manage types</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/collection/"><i class="far fa-object-ungroup"></i></i>
                    Collections</a>
            </li>
            <div id="sidebar-categories">
                <li class="nav-title">Categories</li>
                <input id="category_filter" class="form-control form-control-sm" type="text" placeholder="Filter..">
                {% set categories_root = object_manager.get_categories_by(_filter={
                '$or': [
                    {'parent_id': {'$exists': False}},
                    {'parent_id': None }
                    ]
                }) %}
                {{ categorie_tree(categories_root) }}
            </div>
        </ul>
    </nav>
</div>
