<div id="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Navigation</li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard"><i class="line-icon-speedometer"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/favorite"><i class="line-icon-star"></i> Favorite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newest"><i class="line-icon-energy"></i> Newest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/latest"><i class="line-icon-action-redo"></i> Latest changes</a>
            </li>
            <li class="nav-title">Assets</li>
            <li class="nav-item">
                <a class="nav-link" href="/object"><i class="line-icon-notebook"></i> List objects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/type"><i class="line-icon-layers"></i> Manage types</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/collection"><i class="line-icon-organization"></i> Collections</a>
            </li>
            <div class="sidebar-categories">
                <li class="nav-title">Categories</li>
                <input id="category_filter" class="form-control form-control-sm" type="text" placeholder="Filter..">
                {% for cats in sidebar() recursive %}
                    {% if cats.has_children() %}
                        <li class="nav-item nav-dropdown">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="{{ cats.get_icon() | display_icon }}"></i>{{ cats.get_label() }} <i
                                    class="fa fa-caret-left"></i>
                            </a>
                            <ul class="nav-dropdown-items">
                                {{ loop(cats.get_children()) }}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="{{ cats.get_icon() | display_icon }}"></i> {{ cats.get_label() }}
                            </a>
                        </li>
                    {% endif %}
                    {% if cats.has_types() %}
                        {% for cat_type_id in cats.get_types() %}
                            {% set current_sidebar_type = object_manager.get_type(cat_type_id) %}
                            {% if current_sidebar_type %}
                            <li class="nav-item">
                                <a href="/type/{{ current_sidebar_type.get_public_id() }}" class="nav-link">
                                    <i class="line-icon-notebook"></i> {{ current_sidebar_type.get_label() }}
                                    <span class="badge badge-primary float-right m-1">{{ injected_object_manager().get_objects_by_type(cat_type_id) | length }}</span>
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                {% endfor %}
            </div>
        </ul>
    </nav>
</div>
