
<div class="card-deck">
  <div class="card">
    <a routerLink="/import/object/">
      <div class="dash-card primary">
        <i class="far fa-object-ungroup"></i>
        <span class="count-numbers">Objects</span>
        <span class="count-name">Import</span>
      </div>
    </a>
  </div>
  <div class="card">
    <a routerLink="/import/type/">
      <div class="dash-card primary">
        <i class="far fa-object-group"></i>
        <span class="count-numbers">Types</span>
        <span class="count-name">Import</span>
      </div>
    </a>
  </div>
</div>

