@import "~src/scss/variables";

#form-container {

  section {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  .fields {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  #form-content {
    min-height: 50px;
    width: 100%;
    position: relative;

    &.empty {
      border: 1px dashed theme-color("primary");
      &:after {
        content: attr(data-content);
        position: absolute;
        text-align: center;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: -1em;
      }
    }


  }
}

.card-header {
  button {
    padding: 0;
  }
}
