<div class="row">
  <div id="builder-controls" class="col-3">
    <div id="controlWrapper" ui-block [blocked]="!valid">
      <div class="accordion" id="controlsPanel">
        <div class="card">
          <div class="card-header">
            <a href="#" class="btn btn-link" data-toggle="collapse" data-target="#structureControls">
              Structure Controls
            </a>
          </div>
          <div id="structureControls" class="collapse show" data-parent="#controlsPanel">
            <div class="card-body">
              <div class="list-group">
                <div *ngFor="let control of structureControls" [dndType]="control.typeController.dndType"
                     [dndDraggable]="control.typeController.content()"
                     class="list-group-item list-group-item-action">
                <span>
                  <i class="{{control.typeController.icon}}"></i> {{ control.typeController.label }}
                </span>
                  <button type="button" class="btn btn-primary btn-sm float-right">
                    <fa-icon icon="bars"></fa-icon>
                  </button>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#" class="btn btn-link" data-toggle="collapse" data-target="#basicControls">
              Basic Controls
            </a>
          </div>
          <div id="basicControls" class="collapse" data-parent="#controlsPanel">
            <div class="card-body">
              <div class="list-group">
                <div *ngFor="let control of basicControls" [dndType]="control.typeController.dndType"
                     [dndDraggable]="control.typeController.content()"
                     class="list-group-item list-group-item-action">
                <span>
                  <i class="{{control.typeController.icon}}"></i> {{ control.typeController.label }}
                </span>
                  <button type="button" class="btn btn-primary btn-sm float-right">
                    <fa-icon icon="bars"></fa-icon>
                  </button>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#" class="btn btn-link" data-toggle="collapse" data-target="#specialControls">
              Special Controls
            </a>
          </div>
          <div id="specialControls" class="collapse" data-parent="#controlsPanel">
            <div class="card-body">
              <div class="list-group">
                <div *ngFor="let control of specialControls" [dndType]="control.typeController.dndType"
                     [dndDraggable]="control.typeController.content()"
                     class="list-group-item list-group-item-action">
                <span>
                  <i class="{{control.typeController.icon}}"></i> {{ control.typeController.label }}
                </span>
                  <button type="button" class="btn btn-primary btn-sm float-right">
                    <fa-icon icon="bars"></fa-icon>
                  </button>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="form-container" class="col-9">
    <div id="form-content" data-content="Drop structure controls here"
         [ngClass]="{'empty': sections.length == 0 }"
         [dndDropzone]="['sections']" (dndDrop)="onSectionDrop($event)">
      <div style="border: 1px green solid; border-radius: 5px; padding: 15px;"
           dndPlaceholderRef>
        Drop control here
      </div>
      <section *ngFor="let section of sections; let x = index" dndEffectAllowed="copyMove"
               dndType="sections" [dndDraggable]="section"
               (dndMoved)="onDragged(section, sections, 'move')">
        <div class="card">
          <div class="card-header">
            <fa-icon [icon]="['far', 'object-group']"></fa-icon>
            {{section.label}}
            <span class="float-right">
              <button class="btn btn-link mr-1" type="button" data-toggle="collapse"
                      [attr.data-target]="'#section-' + x + section.name">
                <fa-icon [icon]="['far', 'edit']"></fa-icon>
              </button>
              <button class="btn btn-link mr-1" type="button" dndHandle>
                <fa-icon [icon]="['fas', 'arrows-alt']"></fa-icon>
              </button>
              <button class="btn btn-link" type="button" (click)="removeSection(section)">
                <fa-icon [icon]="['far', 'window-close']"></fa-icon>
              </button>
            </span>
          </div>
          <div class="collapse show" id="section-{{x}}{{section.name}}">
            <div class="card-body">
              <cmdb-config-edit [types]="types" [mode]="isNewSection(section) ? MODES.Create : mode" [sections]="sections" [fields]="typeInstance.fields"
                                [data]="section">
              </cmdb-config-edit>
              <ng-container *ngIf="section.type === 'section'">
                <p>Fields:</p>
                <div  [dndDropzone]="['inputs']"
                      (dndDrop)="onFieldDrop($event, section)">
                  <div *ngIf="section.fields.length == 0" class="empty-section" data-content="Drop controls here"></div>
                  <div style="border: 1px red solid; border-radius: 5px; padding: 15px;"
                       dndPlaceholderRef>
                    Drop field here
                  </div>
                  <ng-container *ngFor="let field of section.fields; let y = index">
                    <div dndEffectAllowed="move" dndType="inputs"
                         [dndDraggable]="field"
                         (dndMoved)="onFieldDragged(field, section)">
                      <div class="fields card">
                        <div class="card-header">
                          <fa-icon [icon]="['fas', matchedType(field.type)]"></fa-icon>
                          {{field.label}}
                          <span class="float-right">
                    <button class="btn btn-link mr-1" type="button" data-toggle="collapse"
                            [attr.data-target]="'#field-'+ x + y + field.name">
                      <fa-icon [icon]="['far', 'edit']"></fa-icon>
                    </button>
                    <button class="btn btn-link mr-1" type="button" dndHandle>
                      <fa-icon [icon]="['fas', 'arrows-alt']"></fa-icon>
                    </button>
                    <button class="btn btn-link" type="button" (click)="removeField(field, section)">
                      <fa-icon [icon]="['far', 'window-close']"></fa-icon>
                    </button>
                  </span>
                        </div>
                        <div class="card-body collapse" id="field-{{x}}{{y}}{{field.name}}">
                          <cmdb-config-edit [mode]="isNewField(field) ? MODES.Create : mode" [types]="types" [sections]="sections" [data]="field">
                          </cmdb-config-edit>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
