@import "src/scss/variables";

#builder-controls {
  position: relative;
}

#controlWrapper {
  position: sticky;
  top: calc(15px + #{$navbar-height})
}

#controlsPanel {
  button {
    line-height: 0.1;
  }
}

#form-container {

  button:disabled,
  button[disabled]{
    pointer-events: auto;
  }

  section {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }

    .empty-section {
      position: relative;
      height: 200px;
      border: 3px dashed theme-color("info");

      &:after {
        content: attr(data-content);
        position: absolute;
        text-align: center;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: -1em;
        text-transform: uppercase;
        font-size: .8em;
      }
    }

  }

  .fields {
    margin-top: 15px;
  }

  #form-content {
    min-height: 50px;
    width: 100%;
    position: relative;

    &.empty {
      height: 100%;
      border: 3px dashed theme-color("info");

      &:after {
        content: attr(data-content);
        position: absolute;
        text-align: center;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: -1em;
        text-transform: uppercase;
        font-size: .8em;
      }
    }
  }
}


.card-header {
  button {
    padding: 0;
  }
}


.section-template-item:hover{
    cursor: grab;
}


.global-section-item{
  background-color: $dg-selected-background-color;
}


.field-drop-placeholder{
  border: 1px green solid;
  border-radius: 5px;
  padding: 15px;
}


.predefined-section{
  float: right;
  margin-top: 3px;
}

.highlight-section-header, .highlight-field-header {
  background-color: #f8d7da;}

  .disabled {
    pointer-events: none;
    opacity: 0.6;
}