<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" [href]="'#'+provider.class_name+'_pane_entry'"
         role="tab">
        Local Authentication Provider
      </a>
    </li>

  </ul>
</div>
<div class="card-body">
  <div [formGroup]="form" class="form-group row mb-3">
    <div class="col-sm-3">Active:</div>
    <div class="col-sm-9">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input disabled" type="checkbox"
               formControlName="active" id="local-provider-active-input">
        <label class="custom-control-label" for="local-provider-active-input"></label>
      </div>
    </div>
  </div>
</div>
<div class="card-footer text-muted text-right">
  <span class="badge badge-primary">Internal</span>
</div>
