
<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new object</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="card mb-3">
            <div class="card-header">
              Add to type
            </div>
            <div class="card-body">
              <form [formGroup]="formType">
                <div class="form-group">
                  <select formControlName="type" class="form-control" id="exampleFormControlSelect1" (ngModelChange)="onChange($event)">
                    <option *ngFor="let type of typeList" [ngValue]="type">
                      {{type.label}}
                    </option>
                  </select>
                </div>
              </form>
            </div>
          </div>
          <ng-container *ngIf="formType.value.type!=null">
            <div class="card mb-3">
              <div class="card-header">
                Edit object fields
              </div>
              <div class="card-body">
                <form [formGroup]="formFields">
                  <div class="form-group" *ngFor="let field of formType.value.type.fields">
                    <label for="fieldInput">{{field.label}}</label>
                    <input formControlName="{{field.name}}" type="text" class="form-control" id="fieldInput" placeholder="{{field.placeholder}}">
                  </div>
                </form>
              </div>
            </div>
          </ng-container>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="onCreate()">Create new</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
