<div class="btn-group">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
    <i class="fas fa-table"></i> Columns
  </button>
  <div class="dropdown-menu" *ngIf="columns.length > 0">
      <span *ngFor="let column of columns" [ngClass]="{'disabled': column.fixed}">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [checked]="!column.hidden" [disabled]="column.fixed"
                 title="toggle-{{column.name}}" (change)="toggleColumn(column)">
          <label class="form-check-label">
            {{column.display ? column.display : column.name}}
          </label>
        </div>
      </span>
    <hr/>
    <span (click)="columnsReset.emit()">Reset</span>
  </div>
</div>
