<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        Mapping
        <div class="text-end">
            <form [formGroup]="previewIndexSelectionForm">
                <select formControlName="indexSelection" class="form-select form-select-sm">
                    @for (_ of parsedData?.entries; track _; let idx = $index) {
                    <option [value]="idx">
                        Row: {{idx}}
                    </option>
                    }
                </select>
            </form>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Identifier</th>
                @if (parserConfig?.header) {
                <th>Header</th>
                }
                @if (!parserConfig?.header) {
                <th>Index</th>
                }
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            @for (_ of [].constructor(parsedData?.entry_length); track _; let idx = $index) {
            <tr>
                <td dndDropzone [dndEffectAllowed]="allowedEffect"
                    (dndDrop)="onDrop($event, currentMapping, idx, mappingControls)">
                    <div
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <span>
                            @if (currentMapping[idx]?.ref_name) {
                            <strong>{{currentMapping[idx]?.type_name}}: </strong>
                            }
                            {{currentMapping[idx]?.label}}
                        </span>
                        <button (click)="onRemove(idx, currentMapping, mappingControls)" type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </td>
                @if (parserConfig?.header) {
                <th>{{parsedData?.header[idx]}}</th>
                }
                @if (!parserConfig?.header) {
                <th>{{idx}}</th>
                }
                <td>{{parsedData?.entries[previewIndex][idx]}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>