<br>
<cmdb-content-header title="Latest changes"></cmdb-content-header>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
  <thead>
  <tr>
    <th>Active</th>
    <th>Public ID</th>
    <th>Type</th>
    <th>Author</th>
    <th>Creation time</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of latestchanges">
    <td>
      <cmdb-active-badge [activeStatus]="element.type_active"></cmdb-active-badge>
    </td>
    <td>{{element.object_id}}</td>
    <td>{{element.type_label}}</td>
    <td>{{element.author_name}}</td>
    <td>{{element.object_last_edit_time.$date | date:"dd/MM/yy - hh:mm:ss"}}</td>
    <td>
      <a class="text-dark"[routerLink]="['/framework/object/', element.object_id]">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </a>
      <a class="ml-1 text-dark" routerLink="/framework/object/{{element.object_id}}/edit">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
      <a class="ml-1 text-dark" routerLink="/framework/object/{{element.object_id}}/delete">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
