<div id="user-page-header" class="mw-100 bg-primary">
  <div class="user-profile-image">
    <img [src]="userInstance.picture!= null ? userInstance.picture : alternativeImage" />

  </div>
</div>
<div class="row">

  <div class="col-3">

  </div>
  <div class="col-9">
    <div id="user-data" class="card">
      <div class="card-header">
        User: {{userInstance?.user_name}}
      </div>
      <div class="card-body">
        {{ userInstance | json }}
      </div>
    </div>

  </div>

</div>
