{% extends 'layout.html' %}
{% block title %}User Management | Rights{% endblock %}
{% block navigation %}
    {% include 'includes/_navigation.html' %}
{% endblock %}
{% block breadcrumb %}
    {% include 'includes/_breadcrumb.html' %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <h1>Rights</h1>
                    <hr/>
                    <table data-ordering="false" data-paging="false" class="table table-hover data_table">
                        <thead class="thead thead-light">
                        <tr>
                            <th scope="col">PREFIX</th>
                            <th scope="col">Label</th>
                            <th scope="col">Name</th>
                            <th width="350" scope="col">Description</th>
                            <th scope="col">Level</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for right in right_list %}
                            <tr{% if right.get_label().split('.')[-1] == global_right_ident %}
                                class="table-success"{% endif %}>
                                <th class="text-uppercase" scope="row">{{ right.get_prefix() }}</th>
                                <td>{{ right.get_label() }}</td>
                                <td>{{ right.get_name() }}</td>
                                <td>{{ right.get_description() }}</td>
                                <td {% if right.get_level() == right.CRITICAL %}
                                    class="bg-danger"
                                {% elif right.get_level() == right.SECURE %}
                                    class="bg-warning"
                                {% endif %}>
                                    {{ right._levelToName[right.get_level()] }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-2">
                    {% set active_page = 'rights' %}
                    {% include 'settings/user_management/_sidebar.html' %}
                    <hr/>
                    <div class="card">
                        <div class="card-header">
                            Security levels
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for k in security_levels %}
                                    <li class="list-group-item">{{ k }} || {{ security_levels[k] }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            {{ super() }}
        </div>
    </div>
{% endblock %}
{% if mode == 'DEBUG' %}
    {% block debug %}

        Global right prefix: {{ global_right_ident }}
        <h2>Rights:</h2>
        <hr>
        {% for right in right_list %}
            <pre>
            {{ right }}</pre>
        {% endfor %}
    {% endblock %}
{% endif %}