<aw-wizard [navBarLayout]="'large-empty-symbols'">
  <aw-wizard-step (stepExit)="exitBasicStep()" stepId="1" stepTitle="Basic informations">
    <ng-template awWizardStepSymbol><i class="fas fa-file-code"></i></ng-template>
    <cmdb-type-basic-step [preData]="typeInstance" [mode]="mode"></cmdb-type-basic-step>
    <button class="btn btn-primary next" type="button" awNextStep
            [disabled]="!basicStep.basicForm.valid">Next Step
    </button>
  </aw-wizard-step>
  <aw-wizard-step (stepExit)="exitFieldStep()" stepId="2" stepTitle="Field definitions">
    <ng-template awWizardStepSymbol><i class="fas fa-clipboard-check"></i></ng-template>
    <cmdb-type-fields-step [mode]="mode" [preData]="typeInstance"></cmdb-type-fields-step>
    <button class="btn btn-primary prev" type="button" awPreviousStep>Go to previous step</button>
    <button class="btn btn-primary next" type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step (stepExit)="exitMetaStep()" stepId="3" stepTitle="Meta data">
    <ng-template awWizardStepSymbol><i class="fas fa-clipboard-check"></i></ng-template>
    <cmdb-type-meta-step [preData]="typeInstance" [fields]="typeInstance?.fields"></cmdb-type-meta-step>
    <button class="btn btn-primary prev" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-primary next" type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step (stepExit)="exitAccessStep()" stepId="4" stepTitle="ACL">
    <ng-template awWizardStepSymbol><i class="fas fa-clipboard-check"></i></ng-template>
    <cmdb-type-acl-step [acl]="typeInstance?.acl" [groups]="groups"
                        (validStatus)="aclStepValid = $event" (isEmpty)="aclEmpty = $event"></cmdb-type-acl-step>
    <button class="btn btn-primary prev" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-primary next" type="button" awNextStep [disabled]="!aclEmpty || !aclStepValid">Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step stepId="5" stepTitle="Validation">
    <ng-template awWizardStepSymbol><i class="fas fa-save"></i></ng-template>
    <cmdb-type-validation-step [typeInstance]="typeInstance"></cmdb-type-validation-step>
    <button class="btn btn-primary prev" type="button" awPreviousStep>Previous Step</button>
    <button class="btn btn-success next" type="button" (click)="saveType()">Save</button>
  </aw-wizard-step>
</aw-wizard>
