<cmdb-content-header title="Type list"></cmdb-content-header>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
  <thead>
  <tr>
    <th>Active</th>
    <th>Public ID</th>
    <th>Type</th>
    <th>Version</th>
    <th>Author</th>
    <th>Creation Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let typeInstance of typeList">
    <td>
      <cmdb-active-badge [activeStatus]="typeInstance.active"></cmdb-active-badge>
    </td>
    <td><a routerLink="/framework/type/{{typeInstance.public_id}}">{{typeInstance.public_id}}</a></td>
    <td>{{typeInstance.name}}</td>
    <td>{{typeInstance.version}}</td>
    <td><a routerLink="/user/{{typeInstance.author_id}}">{{typeInstance.author_id}}</a></td>
    <td>{{typeInstance.creation_time.$date | date:"dd/MM/yy - hh:mm:ss"}}</td>
  </tr>
  </tbody>

</table>
