<ng-container [formGroup]="formGroup">
  <ng-select [closeOnSelect]="true" [items]="types" [searchable]="false" [formControl]="typeControl" [virtualScroll]="virtualScroll"
             [loading]="loading" [bindValue]="bindValue" [bindLabel]="bindLabel" [placeholder]="placeHolderText"
             [clearable]="clearable" (scrollToEnd)="onScrollEnd()">
    <ng-template ng-header-tmp>
      <small class="form-text text-muted">Loaded {{types.length}} of {{totalTypes}}</small>
    </ng-template>
    <ng-template ng-label-tmp>
      {{(loadDisplayType(typeControl.value) | async)?.label}}
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
      <div><span><i [ngClass]="item.render_meta.icon"></i> {{item.label}}</span></div>
      <small><b>PublicID:</b> {{item.public_id}} | <b>Name:</b> {{item.name}}</small>
    </ng-template>
  </ng-select>
</ng-container>
