<ul id="folder-tree-view">
  <ng-template #recursiveList let-fileTree>
    <li *ngFor="let item of fileTree">
      <div class="d-flex"
           [ngClass]="item.hasSubFolders ? 'caret caret-down': item.children?.length > 0 ? 'caret caret-with-subs' : 'caret'"
           [class.selected]="item.public_id === selectedFileFolder.getValue()?.public_id"
           (dblclick)="dropTree($event, item)"
           (click)="loadFolderFiles(item)"
           (contextmenu)="loadContextMenu()">
        <span class="mr-auto">{{item.filename}}</span>
        <span class="context-line" [style.display]="item.filename === '' ? 'none' : 'block'">
          <i class="far fa-file" (click)="createFolder()"></i>
          <i class="far fa-edit" (click)="renameFolder()"></i>
          <i class="fas fa-expand-arrows-alt" (click)="moveFolder()"></i>
          <i class="far fa-trash-alt" (click)="deleteFolder(item)"></i>
        </span>
      </div>

      <ul class="nested" *ngIf="item.children?.length > 0 && item.hasSubFolders">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
      </ul>
    </li>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: fileTree }"></ng-container>
</ul>
