<div class="modal-content">
    <div class="modal-body">
        <img id="login-logo" 
            src="/assets/img/datagerry_logo.svg" 
            class="img-fluid mx-auto d-block w-50"
            alt="DATAGERRY"/>
        <br>
        Welcome to the initial setup of datagerry. Select the branches for which you would like to use DATAGERRY.<br>
        <br>
        <form [formGroup]="branchForm">
            <div class="checkbox-section">
                <div class="form-group">
                    <input formControlName="telecommunications-branch" type="checkbox" id="telecommunications-branch">
                    <label class="branch-label" for="telecommunications-branch">Telecommunications</label>
                </div>
                <div class="form-group">
                    <input formControlName="helpdesk-branch" type="checkbox" id="helpdesk-branch">
                    <label class="branch-label" for="helpdesk-branch">Helpdesk</label>
                </div>
                <div class="form-group">
                    <input formControlName="service-provider-branch" type="checkbox" id="service-provider-branch">
                    <label class="branch-label" for="service-provider-branch">Service provider</label>
                </div>
                <div class="form-group">
                    <input formControlName="healthcare-branch" type="checkbox" id="healthcare-branch">
                    <label class="branch-label" for="healthcare-branch">Healthcare</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="activeModal.dismiss(false)">Cancel</button>
        <button type="button" class="btn btn-primary p-2" [disabled]="!branchForm.valid" (click)="activeModal.close(branchForm.value)">Continue</button>
    </div>
</div>