<div id="app-wrapper">
  <cmdb-progress-bar ref="app"></cmdb-progress-bar>
  <cmdb-navigation *ngIf="initDone && view === 'full'"></cmdb-navigation>
  <cmdb-sidebar *ngIf="initDone && view === 'full'"></cmdb-sidebar>
  <main id="main">
    <cmdb-breadcrumb *ngIf="initDone && view === 'full'"></cmdb-breadcrumb>
    <div id="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <cmdb-footer *ngIf="initDone && view === 'full'"></cmdb-footer>
    <cmdb-toast-container></cmdb-toast-container>
  </main>
  <cmdb-progress-spinner [fullScreen]="true"></cmdb-progress-spinner>
</div>
