openapi: 3.0.3
info:
    title: DataGerry API
    description: |
        DataGerry Cloud API documentation
        <br><hr><br>
        The API requires **BasicAuth** (Email and Password) and the **API-Key** of the Subscription which is provided in the Service Portal.
    version: 2.3.0
    license:
        name: GNU Affero General Public License
        url: https://www.gnu.org/licenses/gpl-3.0

servers:
    - url: https://api.datagerry.com/rest
      description: DataGerry API Entrypoint

tags:
    - name: CmdbObjects
      description: API Routes related to CmdbObjects
    - name: CmdbTypes
      description: API Routes related to CmdbTypes
    - name: CmdbCategories
      description: API Routes related to CmdbCategories

paths:
    /objects:
        $ref: "./paths/objects/objects.yaml"
    /objects/{public_id}:
        $ref: "./paths/objects/objects-by-id.yaml"
    /objects/delete/{public_ids}:
        $ref: "./paths/objects/objects-many.yaml"
    /objects/state/{public_id}:
        $ref: "./paths/objects/objects-state.yaml"
    /types:
        $ref: "./paths/types/types.yaml"
    /types/{public_id}:
        $ref: "./paths/types/types-by-id.yaml"
    /types/count_objects/{public_id}:
        $ref: "./paths/types/types-counts.yaml"
    /categories:
        $ref: "./paths/categories/categories.yaml"
    /categories/{public_id}:
        $ref: "./paths/categories/categories-by-id.yaml"

components:
    schemas:
        CmdbObject:
            $ref: "./components/schemas/CmdbObject.yaml"
        CmdbCategory:
            $ref: "./components/schemas/CmdbCategory.yaml"
        CmdbType:
            $ref: "./components/schemas/CmdbType.yaml"
        CmdbTypeField:
            $ref: "./components/schemas/CmdbTypeField.yaml"
        CmdbTypeRenderMeta:
            $ref: "./components/schemas/CmdbTypeRenderMeta.yaml"
        MultiDataSection:
            $ref: "./components/schemas/MultiDataSection.yaml"
        CollectionParameters:
            $ref: "./components/schemas/CollectionParameters.yaml"
    securitySchemes:
        $ref: "./components/security.yaml"

security:
    - BasicAuth: []
    - XApiKey: []
