# DATAGERRY - OpenSource Enterprise CMDB
# Copyright (C) 2025 becon GmbH
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.

openapi: 3.0.3
info:
    title: DataGerry API
    description: |
        DataGerry Cloud API documentation
        <br><hr><br>
        The API requires **BasicAuth** (Email and Password) and the **API-Key** of the subscription which is provided in the Service Portal.
        <br><br><br>
        The last two sections list all the Routes available for the **Cloud version** and those available for the **OnPremise version**
        <br><br><hr>
    version: 3.0.0
    license:
        name: GNU Affero General Public License
        url: https://www.gnu.org/licenses/gpl-3.0

servers:
    - url: https://api.datagerry.com/rest
      description: DataGerry API Entrypoint

tags:
    - name: Objects
      description: API Routes related to **Objects**
    - name: Types 
      description: API Routes related to **Types**
    - name: Categories
      description: API Routes related to **Categories**
    - name: Section Templates
      description: API Routes related to **Section Templates**
    - name: Users
      description: API Routes related to **Users**

paths:
    /objects:
        $ref: "./paths/objects/objects.yaml"
    /objects/count:
        $ref: "./paths/objects/objects-count.yaml"
    /objects/{public_id}:
        $ref: "./paths/objects/objects-by-id.yaml"
    /objects/native/{public_id}:
        $ref: "./paths/objects/objects-native.yaml"
    /objects/delete/{public_ids}:
        $ref: "./paths/objects/objects-many.yaml"
    /objects/state/{public_id}:
        $ref: "./paths/objects/objects-state.yaml"
    /objects/references/{public_id}:
        $ref: "./paths/objects/objects-references.yaml"
    /types:
        $ref: "./paths/types/types.yaml"
    /types/{public_id}:
        $ref: "./paths/types/types-by-id.yaml"
    /types/count_objects/{public_id}:
        $ref: "./paths/types/types-counts.yaml"
    /categories:
        $ref: "./paths/categories/categories.yaml"
    /categories/{public_id}:
        $ref: "./paths/categories/categories-by-id.yaml"
    /section_templates:
        $ref: "./paths/section_templates/section-templates.yaml"
    /section_templates/{public_id}:
        $ref: "./paths/section_templates/section-templates-by-id.yaml"
    /users:
        $ref: "./paths/users/users.yaml"
    /users/{public_id}:
        $ref: "./paths/users/users-by-id.yaml"

components:
    schemas:
        Object:
            $ref: "./components/schemas/CmdbObject.yaml"
        Category:
            $ref: "./components/schemas/CmdbCategory.yaml"
        Type:
            $ref: "./components/schemas/CmdbType.yaml"
        TypeField:
            $ref: "./components/schemas/CmdbTypeField.yaml"
        TypeRenderMeta:
            $ref: "./components/schemas/CmdbTypeRenderMeta.yaml"
        SectionTemplate:
            $ref: "./components/schemas/CmdbSectionTemplate.yaml"
        MultiDataSection:
            $ref: "./components/schemas/MultiDataSection.yaml"
        User:
            $ref: "./components/schemas/CmdbUser.yaml"
        CollectionParameters:
            $ref: "./components/schemas/CollectionParameters.yaml"
    securitySchemes:
        $ref: "./components/security.yaml"

security:
    - BasicAuth: []
    - XApiKey: []
