<div class="form-group form-check">
  <input [(ngModel)]="data.required" class="form-check-input" type="checkbox">
  <label class="form-check-label">
    Required
  </label>
</div>
<div class="form-group">
  <label>Reference type selections:</label>
  <ng-select [items]="typeList"
             bindLabel="label"
             bindValue="public_id"
             [multiple] = true
             (change)="onChange()"
             [(ngModel)]="data.ref_types">
  </ng-select>
  <small class="form-text text-muted">Multiple types possible</small>
</div>
<div class="form-group">
  <label>Name:</label>
  <input [(ngModel)]="data.name" type="text" class="form-control" value="{{data.name}}" lowercase disabled>
  <small class="form-text text-muted">Use a unique field-name</small>
</div>
<div class="form-group">
  <label>Label:</label>
  <input [(ngModel)]="data.label" type="text" class="form-control" (ngModelChange)="calculateName(data.label)">
  <small class="form-text text-muted">a static display name</small>
</div>
<div class="form-group">
  <label>Description:</label>
  <textarea [(ngModel)]="data.description" class="form-control">
                        {{data.description}}
                      </textarea>
  <small class="form-text text-muted">short field description or helper text</small>
</div>
<div class="form-group">
  <label>Helper text:</label>
  <input [(ngModel)]="data.helperText" type="text" class="form-control" value="{{data.helperText}}">
</div>

<div class="form-group">
  <label>Summaries:</label>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Label</th>
      <th scope="col">Summary line</th>
      <th scope="col">Fields</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let summary of summaries; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>
        <ng-select [items]="filteredTypeList"
                   bindLabel="label"
                   bindValue="public_id"
                   loadingText='Loading...'
                   [closeOnSelect]="false"
                   [loading]="typeLoading"
                   (change)="changeSummaryOption($event)"
                   [multiple] = false
                   [(ngModel)]="summary.type_id">
        </ng-select>
      </td>
      <td>
        <ng-template #previewContent>
          <b>Show type icon and label</b><i class="{{summary?.icon}}"></i> {{summary?.label}} #
        </ng-template>
        <div class="d-flex justify-content-center">
          <input type="checkbox" value="{{summary.prefix}}"
                 [ngbTooltip]="previewContent"
                 [(ngModel)]="summary.prefix">
        </div>
      </td>
      <td>
        <input type="text" class="form-control" value="{{summary.line}}" [(ngModel)]="summary.line">
        <small class="form-text text-muted">enter curved brackets for field interpolation
          example: Hostname: <b>{{"{}"}}</b> IP-Address : <b>{{"{}"}}</b></small>
      </td>
      <td>
        <ng-select [items]="summaryFieldFilter(summary.type_id)" [multiple]="true"
                   bindLabel="label"
                   bindValue="name"
                   [closeOnSelect]="false"
                   placeholder="Select fields"
                   [(ngModel)]="summary.fields">
        </ng-select>
      </td>
      <td>
        <button type="button" class="btn btn-outline-primary" [disabled]="summary.length == 1" (click)="delSummary(summary)">
          <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <button type="button" class="btn btn-outline-secondary" (click)="addSummary()">+ Add option</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="form-group">
  <label>Default value:</label>
  <select [(ngModel)]="data.value" class="form-control">
    <option></option>
    <option *ngFor="let obj of objectList; let i = index" [value]="changeDefault(obj.object_information.object_id)">
      ID: {{obj.object_information.object_id}} Summaries: {{obj.summary_line}}
    </option>
  </select>
</div>
