<div [formGroup]="form" class="needs-validation">
  <div class="form-row">
    <div class="form-group  col-md-12">
      <label>Required / Name: <span class="required">*</span></label>
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text pr-1">
               <div class="custom-control custom-checkbox">
                <input type="checkbox" [formControl]="requiredControl" class="custom-control-input"
                       [id]="nameControl.value+'-required'" />
                 <label class="custom-control-label" [for]="nameControl.value+'-required'"></label>
               </div>
            </span>
        </div>
        <input [formControl]="nameControl" type="text" class="form-control" name-guideline
               [ngClass]="{ 'is-valid': nameControl.valid && (nameControl.dirty || nameControl.touched),
                 'is-invalid': nameControl.invalid && (nameControl.dirty || nameControl.touched)}"/>
        <div class="clearfix"></div>
        <small class="form-text text-muted float-left">Use a unique field name</small>
        <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" class="invalid-feedback">
          <div class="float-right" *ngIf="nameControl.errors?.required">
            Name is a required field.
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="form-group  col-md-12">
      <label>Label:</label>
      <input [formControl]="labelControl" type="text" class="form-control">
      <small class="form-text text-muted">a static display name</small>
    </div>
    <div class="form-group  col-md-12">
      <label>Description:</label>
      <textarea [formControl]="descriptionControl" class="form-control"></textarea>
      <small class="form-text text-muted">short field description or helper text</small>
    </div>
    <div class="form-group col-md-12">
      <label>Regex:</label>
      <input [formControl]="regexControl" type="text" class="form-control">
      <small class="form-text text-muted">Regex validation</small>
    </div>
    <div class="form-group col-md-12">
      <label>Placeholder:</label>
      <input [formControl]="placeholderControl" type="text" class="form-control">
    </div>
    <div class="form-group col-md-12">
      <label>Default value:</label>
      <input [formControl]="valueControl" type="text" class="form-control">
    </div>
    <div class="form-group col-md-12">
      <label>Helper text:</label>
      <input [formControl]="helperTextControl" type="text" class="form-control">
    </div>

  </div>
</div>
