#add-section-template-button{
    margin-bottom: 10px;
}

.centered-text{
    text-align: center;
    vertical-align: middle;
}

td {
    padding: 1px;
}

td.small-cell{
    width: 30px;
}

td.medium-cell{
    width: 85px;
}

td.big-cell{
    width: 90px;
}