<div>
    <div>
        <button id="add-section-template-button" class="btn btn-success btn-sm mr-1">Add</button>
    </div>
    <div class="dg-table">
        <table layout-table id="section-template-table" class="table table-striped table-hover table-bordered">
            <thead class="centered-text">
                <tr class="table-head">
                    <th>PublicID</th>
                    <th>Name</th>
                    <th>Is Global</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="centered-text" colspan="4">No section templates created</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>